﻿@model SnapSuite.Models.ClientViewModel

<br />
@if (ViewBag.EditCRM)
{
    <a class="btn btn-info btn-sm" onclick="$('#GridAddresses').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-book"></span>&nbsp;New Address</a>
}

@(Html.Kendo().Grid<SnapSuite.Models.ClientAddressViewModel>()
    .Name("GridAddresses")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Addresses").Empty("No Addresses Found")))
    .Columns(columns =>
    {
        columns.Bound(p => p.Name).Title("Name");
        columns.Bound(p => p.Address1).Title("Address Line 1");
        columns.Bound(p => p.Address2).Title("Address Line 2");
        columns.Bound(p => p.Address3).Title("Address Line 3");
        columns.Bound(p => p.Town).Title("Town");
        columns.Bound(p => p.County).Title("County");
        columns.Bound(p => p.Postcode).Title("Postcode");
        columns.Bound(p => p.Country).Title("Country");
        columns.Bound(p => p.Telephone).Title("Telephone");
        columns.Bound(p => p.Mobile).Title("Mobile");
        columns.Bound(p => p.Email).Title("Email");
        if (ViewBag.EditCRM)
        {
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
            }
            ).Width("90px");
        }
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("ClientAddressViewModel").ConfirmDelete("Are you sure you want to delete this address?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model => { 
            model.Id(a => a.ID);
            model.Field(a => a.ID).Editable(false);
            model.Field(a => a.ClientID).Editable(false).DefaultValue(Model.ID);            
            model.Field(a => a.Deleted).Editable(false);
        })
        .Create(create => create.Action("Create", "ClientAddresses", new { cltID = Model.ID }))
        .Read(read => read.Action("Read", "ClientAddresses", new { cltID = Model.ID }))
        .Update(update => update.Action("Update", "ClientAddresses"))
        .Destroy(destroy => destroy.Action("Destroy", "ClientAddresses"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)


<br />
<br />
