﻿@model SnapSuite.Models.ClientViewModel

<br />
@if (ViewBag.EditCRM)
{
    <a class="btn btn-info btn-sm" onclick="$('#GridContacts').data('kendoGrid').addRow();" style="margin-bottom:5px;" ><span class="glyphicon glyphicon-user"></span>&nbsp;New Contact</a>
}
@(Html.Kendo().Grid<SnapSuite.Models.ClientContactViewModel>()
    .Name("GridContacts")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Contacts").Empty("No Contacts Found")))
    .Columns(columns =>
    {
        columns.Bound(p => p.FirstName).Title("First Name");
        columns.Bound(p => p.LastName).Title("Last Name");
        columns.Bound(p => p.Position).Title("Position");
        columns.Bound(p => p.Telephone).Title("DDI");
        columns.Bound(p => p.Mobile).Title("Mobile");
        columns.Bound(p => p.Email).Title("Email");
        if (ViewBag.EditCRM)
        {
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
            }
            ).Width("90px");
        }
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("ClientContactViewModel").ConfirmDelete("Are you sure you want to delete this contact?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model => 
        {
            model.Id(t => t.ID);
            model.Field(t => t.ID).Editable(false);
            model.Field(t => t.ClientID).Editable(false).DefaultValue(Model.ID);
        })
        .Create(create => create.Action("Create", "ClientContacts", new { cltID = Model.ID }))
        .Read(read => read.Action("Read", "ClientContacts", new { cltID = Model.ID }))
        .Update(update => update.Action("Update", "ClientContacts"))
        .Destroy(destroy => destroy.Action("Destroy", "ClientContacts"))
    )
    .ClientDetailTemplateId("ContactProjectTemplate")
    .Events(events => events.DataBound("KendoGridDatabound"))
)


<br />
<br />

<script id="ContactProjectTemplate" type="text/kendo-tmpl">
    <div class="panel panel-info">
        <div class="panel-heading" style="text-align: center;">Projects</div>
        <div class="panel-body" style="padding: 0;">
            @(Html.Kendo().Grid<SnapSuite.Models.ProjectGridViewModel>()
                .Name("Grid_#=ID#") // template expression, to be evaluated in the master context
                .Columns(columns =>
                {
                    columns.Bound(q => q.Status.ID).Title("Status").Template(@<text></text>).ClientTemplate("<div style='display:ruby'><span class='label label-primary' style='background-color:\\#=Status.HexColour\\#'>\\#=Status.Name\\#</span></div>").Width("1%").HtmlAttributes(new { style = "text-align:center" });
                    columns.Bound(q => q.Name).Title("Name").ClientTemplate("<div class='div-inline'><a target = '_blank' href='" + Url.Action("Edit", "Projects") + "/\\#=ID\\#' title='Edit'>\\#if(Name != null){\\# <strong>\\#=Name\\#</strong> \\#}\\#</a></div>");
                    columns.Bound(q => q.StoneworkStartDate).Title("Stonework Start Date").ClientTemplate("\\#if(StoneworkStartDate != null){\\# \\#=kendo.toString(StoneworkStartDate, 'dd/MM/yy')\\# \\#}\\#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                    columns.Bound(q => q.Value).Title("Value").Template(@<text></text>).ClientTemplate("<div class='div-inline'>£\\#=kendo.toString(Value, 'n')\\#</div>").HtmlAttributes(new { style = "text-align:right" }).Width("1%");
                    columns.Bound(q => q.AssignedUserName).Title("Estimator").ClientTemplate("<div class='div-inline'><strong>\\#=AssignedUserName\\#</strong></div>").Width("1%");
                    columns.Bound(q => q.Created).Title("Created").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(10)
                    .Read(read => read.Action("ReadContactAssociate", "ProjectGrid", new { contactID = "#=ID#" }))
                )
                .Pageable()
                .Sortable()
                .Events(events => events.DataBound("KendoGridDatabound"))
                .ToClientTemplate()
            )
        </div>
    </div>
</script>

