﻿@model SnapSuite.Models.ClientViewModel

<script>
    function OnGridDeliveryNotesRequestEnd(e) {
        //RequestEnd handler code
        if (e.type !== null && e.type !== 'read') {
            $('#GridDeliveryNotes').data('kendoGrid').dataSource.read();
        }
    }

    function DD_DateChanged_TabDeliveryNotes() {
        var id = $("#DD_Date_TabDeliveryNotes").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange_TabDeliveryNotes").css('display', 'inline-block'); }
        else { $("#div_CustomDateRange_TabDeliveryNotes").hide(); }

        Refresh_TabDeliveryNotes();
    }

    function Refresh_TabDeliveryNotes() {
        var grid = $('#GridDeliveryNotes').data('kendoGrid');
        grid.dataSource.read();
    }

    function GetSearchInfo_TabDeliveryNotes() {
        return {
            dateType: $("#DD_Date_TabDeliveryNotes").data("kendoDropDownList").value(),
            fromD: kendo.toString($("#DP_From_TabDeliveryNotes").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toD: kendo.toString($("#DP_To_TabDeliveryNotes").data("kendoDatePicker").value(), 'dd/MM/yyyy')
        }
    }
</script>

<br />

<div class="row" style="width: 100%;">
    <div class="col-sm-12" style="margin-bottom:5px;">
        @(Html.Kendo().DropDownList()
                            .Name("DD_Date_TabDeliveryNotes")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DD_DateChanged_TabDeliveryNotes"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "All Delivery Notes", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value("")
                            .HtmlAttributes(new { style = "width: 150px;" })
        )
        <div id="div_CustomDateRange_TabDeliveryNotes" style="display:none;">
            <div style="padding-left:5px; display:inline-block">
                <label>From:</label>
                @(Html.Kendo().DatePicker()
                              .Name("DP_From_TabDeliveryNotes")
                              .Value(@DateTime.Now.ToString("dd/MM/yyyy"))
                              .HtmlAttributes(new { style = "width: 115px" })
                              .Events(e => { e.Close("Refresh_TabDeliveryNotes"); })
                )
            </div>
            <div style="padding-left:5px; display:inline-block">
                <label>To:</label>
                @(Html.Kendo().DatePicker()
                              .Name("DP_To_TabDeliveryNotes")
                              .Value(@DateTime.Now.ToString("dd/MM/yyyy"))
                              .HtmlAttributes(new { style = "width: 115px" })
                              .Events(e => { e.Close("Refresh_TabDeliveryNotes"); })
                )
            </div>
        </div>
    </div>
</div>
@(Html.Kendo().Grid<SnapSuite.Models.DeliveryNoteGridViewModel>()
              .Name("GridDeliveryNotes")
              .HtmlAttributes(new { style = "min-width: 660px" })
              .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Delivery Notes").Empty("No Delivery Notes Found")))
              .Columns(columns =>
              {
                  columns.Bound(q => q.Status.ID).Title("Status").Template(@<text></text>).ClientTemplate("<span class='label label-primary' style='background-color:#=Status.HexColour#'>#=Status.Name#</span>").Width("1%").HtmlAttributes(new { style = "text-align:center" });
                  columns.Bound(q => q.Reference).Title("Del. Note").ClientTemplate("<div class='div-inline'><a href='" + Url.Action("Edit", "DeliveryNotes") + "/#=ID#' target='_blank' title='Edit'><strong>#=Reference#</strong></a></div>").Width("1%");
                  columns.Bound(q => q.Description).Title("Description").ClientTemplate("<a href='" + Url.Action("Edit", "DeliveryNotes") + "/#=ID#' target='_blank' title='#=Description#'><strong>#=DescriptionShort#</strong></a> #if(EmailOpened != null){#<span class='email-open glyphicon glyphicon-envelope' title='Email Opened #=kendo.toString(EmailOpened, 'd')#'></span> #}#");
                  //columns.Bound(q => q.Version).Title("Version").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                  columns.Bound(q => q.Created).Title("Created").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                  //columns.Bound(q => q.Discount).Title("Discount").Format("{0:N2}%").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                  columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit", "DeliveryNotes") + "/#=ID#' target='_blank' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
              })
              .Sortable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  //.Sort(sort => sort.Add("Created").Descending()) // <-- initial sort expression
                  .Model(model => model.Id(q => q.ID))
                  .Read(read => read.Action("ReadClientAssociated", "DeliveryNoteGrid", new { cltID = Model.ID }).Data("GetSearchInfo_TabDeliveryNotes"))
              )
              .Events(events => events.DataBound("KendoGridDatabound"))
)
<br />
<br />

