﻿@model SnapSuite.Models.ClientViewModel

@Html.Partial("_EditClientDetails", Model)

<script>
    function showLoading(e) {
        var tabstrip = e.sender;

        window.setTimeout(function(){
            kendo.ui.progress(tabstrip.element, true);
        });
    }

    function hideLoading(e) {
        var tabstrip = e.sender;

        window.setTimeout(function(){
            kendo.ui.progress(tabstrip.element, false);
        });
    }
</script>

<div class="row">
    <div class="col-sm-12">
        <br />
        @(Html.Kendo().TabStrip().Scrollable(false)
            .Name("Client_Tabstrip")
            .Items(tabstrip =>
            {
                tabstrip.Add().Text("Contacts").Content(@Html.Partial("_ContactsTab", Model).ToHtmlString()).Selected(true);
                tabstrip.Add().Text("Addresses").Content(@Html.Partial("_AddressesTab", Model).ToHtmlString()).Selected(false);
                //tabstrip.Add().Text("Logs").Content(@Html.Partial("_LogsTab", Model).ToHtmlString()).Selected(false);
                tabstrip.Add().Text("Events").Content(@Html.Partial("_EventsTab", Model).ToHtmlString()).Selected(false);
                tabstrip.Add().Text("Tags").Content(@Html.Partial("_TagsTab", Model).ToHtmlString()).Selected(false);
                //tabstrip.Add().Text("Attachments").Content(@Html.Partial("_AttachmentsTab", Model).ToHtmlString()).Selected(false);
                tabstrip.Add().Text("Estimates").Content(@Html.Partial("_QuotationsTab", Model).ToHtmlString()).Selected(false);
                //tabstrip.Add().Text("Pipeline").Content(@Html.Partial("_OpportunitiesTab", Model).ToHtmlString()).Selected(false);
            })
            .Events(events => events.Select("showLoading").ContentLoad("hideLoading").Activate("hideLoading"))
        )
    </div>
</div>

<style>
    #Client_Tabstrip {
        position: relative;
    }
</style>