﻿@model SnapSuite.Models.ClientViewModel

<div id="divNewOrg" style="margin:15px;">

    @using (Ajax.BeginForm("_NewClient", "Clients", new AjaxOptions { UpdateTargetId = "divNewOrg", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div id="div_Body"  class="row">
            <div class="col-xs-9">
                <h2>New Client</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-sm-12">
                <br />
            </div>
            <div class="col-sm-8">
                <table>
                    <tr>
                        <td style="width:80px;"><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Client Name", @style = "max-width:none; width:100%;" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="width:80px;"><label>Type:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.ClientTypeID)
                                        .DataTextField("Name")
                                        .DataValueField("ID")
                                        .Events(e => e.Change("Refresh"))
                                        .OptionLabel("Select Client Type")
                                        .DataSource(source =>
                                        {
                                            source.Read(read => { read.Action("DropDownClientTypes", "ClientTypes"); });
                                        })
                                        .AutoBind(true)
                                        .HtmlAttributes(new { @style = "width:100%; max-width:280px;" })
                            )
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12"></div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="width:80px;"><label>Address 1:</label></td>
                        <td>@Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @placeholder = "Address Line 1" })</td>
                    </tr>
                    <tr>
                        <td><label>Address 2:</label></td>
                        <td>@Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @placeholder = "Address Line 2" })</td>
                    </tr>
                    <tr>
                        <td><label>Address 3:</label></td>
                        <td>@Html.TextBoxFor(model => model.Address3, new { @class = "form-control", @placeholder = "Address Line 3" })</td>
                    </tr>
                    <tr>
                        <td><label>Town:</label></td>
                        <td>@Html.TextBoxFor(model => model.Town, new { @class = "form-control", @placeholder = "Town" })</td>
                    </tr>
                    <tr>
                        <td><label>County:</label></td>
                        <td>@Html.TextBoxFor(model => model.County, new { @class = "form-control", @placeholder = "County" })</td>
                    </tr>
                    <tr>
                        <td><label>Postcode:</label></td>
                        <td>@Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @placeholder = "Postcode" })</td>
                    </tr>
                    <tr>
                        <td><label>Country:</label></td>
                        <td>@Html.TextBoxFor(model => model.Country, new { @class = "form-control", @placeholder = "Country" })</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="width:80px;"><label>Email:</label></td>
                        <td>@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email Address" })</td>
                    </tr>
                    <tr>
                        <td><label>Website:</label></td>
                        <td>@Html.TextBoxFor(model => model.Website, new { @class = "form-control", @placeholder = "Website URL" })</td>
                    </tr>
                    <tr>
                        <td><label>Telephone:</label></td>
                        <td>@Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone" })</td>
                    </tr>
                    <tr>
                        <td><label>Mobile:</label></td>
                        <td>@Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile" })</td>
                    </tr>
                    <tr>
                        <td style="vertical-align:text-top"><label>Notes:</label></td>
                        <td>@Html.TextAreaFor(model => model.Notes, 2, 100, new { @class = "form-control", @placeholder = "Client Notes" })</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-4">
                <table>
                    <tr>
                        <td style="width:80px;"><label>Account Reference:</label></td>
                        <td>@Html.TextBoxFor(model => model.SageAccountReference, new { @class = "form-control", @placeholder = "Sage, Xero, Kashflow, QuickBooks, etc" })</td>
                    </tr>
                </table>
            </div>

            @if (ViewBag.EditCRM)
            {
                <div class="col-sm-12">
                    <br /><br />
                    <input type="submit" value="Add Client" class="btn btn-inverse">
                </div>
            }
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if(response["ID"]){
                CreatedClient(response["ID"]);
            }
        }
    </script>

    <style>
        #div_Body table tr th, #div_Body table tr td {
            padding: 2px;
        }

        #div_Body table {
            width: 100%;
        }
    </style>

</div>