﻿@model SnapSuite.Models.ClientViewModel

<script>
    function OnGridQuotesRequestEnd(e) {
        //RequestEnd handler code
        if (e.type !== null && e.type !== 'read') {
            $('#GridQuotes').data('kendoGrid').dataSource.read();
        }
    }

    function UpdateTotalNet_TabQuotations(e) {
        if (e.response != null)
            $('#LabelTotalNet_TabQuotations').text('Total Net Price: £' + kendo.toString(parseFloat(e.response.TotalNet), "n"));
    }

    function DD_DateChanged_TabQuotations() {
        var id = $("#DD_Date_TabQuotations").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange_TabQuotations").css('display', 'inline-block'); }
        else { $("#div_CustomDateRange_TabQuotations").hide(); }

        Refresh_TabQuotations();
    }

    function Refresh_TabQuotations() {
        var grid = $('#GridQuotations').data('kendoGrid');
        grid.dataSource.read();
    }

    function GetSearchInfo_TabQuotations() {
        return {
            dateType: $("#DD_Date_TabQuotations").data("kendoDropDownList").value(),
            fromD: kendo.toString($("#DP_From_TabQuotations").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toD: kendo.toString($("#DP_To_TabQuotations").data("kendoDatePicker").value(), 'dd/MM/yyyy')
        }
    }
</script>

<br />

<div class="row" style="width: 100%;">
    <div class="col-sm-12" style="margin-bottom:5px;">
        @(Html.Kendo().DropDownList()
                            .Name("DD_Date_TabQuotations")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DD_DateChanged_TabQuotations"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "All Quotations", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value("")
                            .HtmlAttributes(new { style = "width: 130px;" })
        )
        <div id="div_CustomDateRange_TabQuotations" style="display:none;">
            <div style="padding-left:5px; display:inline-block">
                <label>From:</label>
                @(Html.Kendo().DatePicker()
                              .Name("DP_From_TabQuotations")
                              .Value(@DateTime.Now.ToString("dd/MM/yyyy"))
                              .HtmlAttributes(new { style = "width: 115px" })
                              .Events(e => { e.Close("Refresh_TabQuotations"); })
                )
            </div>
            <div style="padding-left:5px; display:inline-block">
                <label>To:</label>
                @(Html.Kendo().DatePicker()
                              .Name("DP_To_TabQuotations")
                              .Value(@DateTime.Now.ToString("dd/MM/yyyy"))
                              .HtmlAttributes(new { style = "width: 115px" })
                              .Events(e => { e.Close("Refresh_TabQuotations"); })
                )
            </div>
        </div>
        <label id="LabelTotalNet_TabQuotations" style="margin-top:10px; float:right;"></label>
    </div>
</div>
@(Html.Kendo().Grid<SnapSuite.Models.QuotationGridViewModel>()
              .Name("GridQuotations")
              .HtmlAttributes(new { style = "min-width: 660px" })
              .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Estimates").Empty("No Estimates Found")))
              .Columns(columns =>
              {
                  columns.Bound(q => q.Status.ID).Title("Status").Template(@<text></text>).ClientTemplate("<span class='label label-primary' style='background-color:#=Status.HexColour#'>#=Status.Name#</span>").Width("1%").HtmlAttributes(new { style = "text-align:center" });
                  columns.Bound(q => q.ProjectName).Title("Projet").ClientTemplate("<div class='div-inline'><a href='" + Url.Action("Edit", "Projects") + "/#=ProjectID#' target='_blank' title='Edit'><strong>#=ProjectName#</strong></a></div>").Width("1%");
                  columns.Bound(q => q.Reference).Title("Quote").ClientTemplate("<div class='div-inline'><a href='" + Url.Action("Edit", "Quotations") + "/#=ID#' target='_blank' title='Edit'><strong>#=Reference#</strong></a></div>").Width("1%");
                  columns.Bound(q => q.Description).Title("Description").ClientTemplate("<a href='" + Url.Action("Edit", "Quotations") + "/#=ID#' target='_blank' title='#=Description#'><strong>#=DescriptionShort#</strong></a> #if(EmailOpened != null){#<span class='email-open glyphicon glyphicon-envelope' title='Email Opened #=kendo.toString(EmailOpened, 'd')#'></span> #}#");
                  columns.Bound(q => q.Version).Title("Version").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                  columns.Bound(q => q.Created).Title("Created").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                  //columns.Bound(q => q.Discount).Title("Discount").Format("{0:N2}%").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                  columns.Bound(q => q.TotalNet).Title("Net Price").Template(@<text></text>).ClientTemplate("<div class='div-inline'>#=CurrencySymbol##=kendo.toString(TotalNet, 'n')#</div>").HtmlAttributes(new { style = "text-align:right" }).Width("1%");
                  columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit", "Quotations") + "/#=ID#' target='_blank' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
              })
              .Sortable()
              .DataSource(dataSource => dataSource
                  .Ajax()
                  //.Sort(sort => sort.Add("Created").Descending()) // <-- initial sort expression
                  .Model(model => model.Id(q => q.ID))
                  .Read(read => read.Action("ReadClientAssociated", "QuotationGrid", new { cltID = Model.ID }).Data("GetSearchInfo_TabQuotations"))
                  .Events(events => events.RequestEnd("UpdateTotalNet_TabQuotations"))
              )
              .Events(events => events.DataBound("KendoGridDatabound"))
)


<br />
<br />

