﻿@model SnapSuite.Models.ClientViewModel

<br />

@if (ViewBag.EditCRM)
{
    <div>
        <a class="btn btn-info btn-sm" onclick="$('#GridClientTags').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-tag"></span>&nbsp;New Tag</a>
        <a class="btn btn-warning btn-sm" onclick="EditClientTags()" style="float:right"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit Tags</a>
    </div>
}
@(Html.Kendo().Grid<SnapSuite.Models.ClientTagItemViewModel>()
    .Name("GridClientTags")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Tags").Empty("No Tags Found")))
    .Columns(columns =>
    {
        columns.Bound(t => t.ClientTag).Title("Tag").ClientTemplate("<span class='label label-primary' style='background-color:#=ClientTag.HexColour#'>#=ClientTag.Name#</span>").EditorTemplateName("ClientTagDropDown");
        if (ViewBag.EditCRM)
        {
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
            }
            ).Width("90px");
        }
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this tag?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model => 
        {
            model.Id(t => t.ID);
            model.Field(t => t.ID).Editable(false);
            model.Field(t => t.ClientID).Editable(false).DefaultValue(Model.ID);
            model.Field(t => t.ClientTag).DefaultValue(new SnapSuite.Models.ClientTagViewModel { ID = "", Name = "", HexColour = "" });
        })
        .Create(create => create.Action("Create", "ClientTagItems", new { cltID = Model.ID }))
        .Read(read => read.Action("Read", "ClientTagItems", new { cltID = Model.ID }))
        .Update(update => update.Action("Update", "ClientTagItems"))
        .Destroy(destroy => destroy.Action("Destroy", "ClientTagItems"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)


<br />
<br />
