﻿
@{
    ViewBag.Title = "Deleted Clients";
}

<div class="row">
    <div class="col-sm-8">
        <h1>Deleted Clients</h1>
    </div>
    <div class="col-sm-4 hidden-sm hidden-xs">
        <br />
        <a class="btn btn-default" href="@Url.Action("Index")" style="float:right"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back to Clients</a>
    </div>
    <div class="col-sm-12">
        <hr />
        <div class="form-group" role="group" aria-label="...">
            <a class="btn btn-sm btn-default" onclick="RefreshClients(); return false;"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</a>
            <a class="btn btn-sm btn-danger" onclick="ClearClients(); return false;"><span class="glyphicon glyphicon-fire"></span>&nbsp; Clear</a>
        </div>
    </div>
    <div class="col-sm-12">
        @(Html.Kendo().Grid<SnapSuite.Models.ClientViewModel>()
                .Name("GridClients")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Clients").Empty("No Deleted Clients Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.Name).Title("Name");
                    columns.Bound(u => u.Town).Title("Town");
                    columns.Bound(u => u.Country).Title("Country");
                    columns.Bound(u => u.Email).Title("Email");
                    columns.Bound(u => u.Website).Title("Website");
                    columns.Bound(u => u.Telephone).Title("Telephone");
                    columns.Template(@<text></text>).ClientTemplate("<a title='Restore' href='\\#' onclick='RestoreClient(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-share-alt glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-fire glyphicon-btn' title='Delete Permanently'/>");
                    }
                    ).Width("1%");
                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);                        
                    })
                    .Read(read => read.Action("ReadDeleted", "ClientGrid")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "ClientGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>




<script>

    function RefreshClients() {
        var grid = $("#GridClients").data("kendoGrid");
        grid.dataSource.read();
    }

    function RestoreClient(id) {
        $.ajax({ url: '@Url.Action("_RestoreDeleted", "ClientGrid")', type: 'POST', data: { "ID": id }, dataType: "json", success: function (data) { RefreshClients(); }  });
    }

    function ClearClients() {
        if (confirm('Permanently remove all deleted clients?')) {
            $.ajax({ url: '@Url.Action("_ClearDeleted", "ClientGrid")', type: 'POST', data: {}, dataType: "json", success: function (data) { RefreshClients(); } });
        }
    }

</script>


