﻿@{
    ViewBag.Title = "Events";
}
@Scripts.Render("~/EditorScripts/Events")

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h1>Events</h1>
            <hr />
        </div>
        <div class="col-sm-2">
            <label>Date Range:</label>
            @(Html.Kendo().DropDownList()
                                    .Name("DD_Date")
                                    .DataTextField("Text")
                                    .DataValueField("Value")
                                    .Events(e => e.Change("DD_DateChanged"))
                                    .BindTo(new List<SelectListItem>() {
                                            new SelectListItem() { Text = "All Events", Value = "0"},
                                            new SelectListItem() { Text = "This Month", Value = "1"},
                                            new SelectListItem() { Text = "Last Month", Value = "2"},
                                            new SelectListItem() { Text = "Custom Range", Value = "3"},
                                    })
                                    .Value("")
                                    .HtmlAttributes(new { style = "width: 100%" })
            )
            <div id="div_CustomDateRange" style="margin-top: 7px;">
                <table>
                    <tr>
                        <td style="width:50px"><label>From:</label></td>
                        <td style="padding-bottom:5px;">
                            @(Html.Kendo().DatePicker()
                                                  .Name("DP_From")
                                                  .Value(@DateTime.Now.ToString("dd/MM/yyyy"))
                                                  .HtmlAttributes(new { style = "width: 100%" })
                                                  .Events(e => { e.Close("Refresh"); })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td><label>To:</label></td>
                        <td style="padding-bottom:5px;">
                            @(Html.Kendo().DatePicker()
                                                    .Name("DP_To")
                                                    .Value(@DateTime.Now.ToString("dd/MM/yyyy"))
                                                    .HtmlAttributes(new { style = "width: 100%" })
                                                    .Events(e => { e.Close("Refresh"); })
                            )
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-2">
            <label>Projects:</label>
            @(Html.Kendo().DropDownList()
                    .Name("DD_Projects")
                    .DataTextField("Name")
                    .DataValueField("ID")
                    .OptionLabel("All Projects")
                    .Events(e => e.Change("Refresh"))
                    .DataSource(source =>
                    {
                        source.Read(read => { read.Action("DropDownProjects", "Dropdowns"); });
                    })
                    .AutoBind(true)
                    .Value("")
                    .HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="col-sm-2">
            <label>Assigned To:</label>
            @(Html.Kendo().DropDownList()
            .Name("DD_AssignedUsers")
            .DataTextField("Email")
            .DataValueField("ID")
            .Events(e => e.Change("Refresh"))
            .DataSource(source =>
            {
                source.Read(read => { read.Action("DropDownUsers", "Dropdowns"); });
            })
            .AutoBind(true)
            .Value("")
            .HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
@*
    <div class="col-sm-3">
        <label>Created By:</label>
        @(Html.Kendo().DropDownList()
        .Name("DD_CreatedUsers")
        .DataTextField("Email")
        .DataValueField("ID")
        .OptionLabel("All Users")
        .Events(e => e.Change("Refresh"))
        .DataSource(source =>
        {
            source.Read(read => { read.Action("DropDownEventUsers", "Dropdowns"); });
        })
        .AutoBind(true)
        .Value(ViewBag.CurrentUserID)
        .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>*@
        <div class="col-sm-6">
            <br />
            <div class="pull-right">
                <div class="checkbox" style="display:inline-block;">
                    @Html.CheckBox("CB_ShowComplete", false, new { @onclick = "Refresh()" })&nbsp;<label for="CB_ShowComplete"><strong>Include Completed Events</strong></label>
                </div>
                <a class="btn btn-default btn-sm" onclick="$('#GridEvents').data('kendoGrid').dataSource.read();" style="margin-bottom:5px;display:inline-block;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br />
            @*<a class="btn btn-info btn-sm" onclick="$('#GridEvents').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-time"></span>&nbsp;New Event</a>*@

            @(Html.Kendo().Grid<SnapSuite.Models.EventViewModel>()
                .Name("GridEvents")
                .HtmlAttributes(new { style = "min-width: 900px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Events").Empty("No Events Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Complete).Title("Status").ClientTemplate(
                                                                                "#if(Complete){ #<span class='glyphicon glyphicon-ok' title='Complete' style='color:green'></span> #}"
                                                                                + "else if(!Complete && Due){ # <span class='label label-warning'> Due </span> #}"
                                                                                + "else if(!Complete && Overdue){ # <span class='label label-danger'> Overdue </span> #}#"
                                                                            ).EditorTemplateName("CheckboxTemplate").Width("1%");
                    columns.Bound(p => p.Timestamp).Title("Date Due").ClientTemplate("<span class='label label-info'>#=kendo.toString(Timestamp, 'dd/MM/yy')#</span>").Width("1%");
                    columns.Bound(p => p.EventProjectName).Title("Project").ClientTemplate("<div class='div-inline'><a href='/Projects/Edit/#=EventProjectID#' title='Edit'><strong>#=EventProjectName#</strong></a></div>").Width("1%");
                    columns.Bound(p => p.QuotationName).Title("Quotation").ClientTemplate("<div class='div-inline'><a href='/Quotations/Edit/#=QuotationID#' title='Edit'><strong>#=QuotationName#</strong></a></div>").Width("1%");
                    columns.Bound(p => p.EventClientName).Title("Contractor").ClientTemplate("<a href='/Clients/Index/#=EventClientID#'><strong>#=EventClientName#</strong></a>");
                    columns.Bound(p => p.EventContactName).Title("Contact").ClientTemplate("#=EventContactName#");
                    columns.Bound(p => p.Message).Title("Message").Sortable(false);
                    columns.Bound(p => p.EventAssignedUserID).Title("Assigned To").ClientTemplate("#=EventAssignedUserName#").EditorTemplateName("EventUserDropDown").Width("1%");
                    columns.Bound(p => p.EventCreatorID).Title("Created By").ClientTemplate("#=EventCreatorName#").Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' onclick='EditEvent(\"#=ID#\")' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                    ).Width("1%");
                })
                //.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EventViewModel").ConfirmDelete("Are you sure you want to delete this event?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Sort(sort => sort.Add("Timestamp").Ascending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(l => l.ID);
                        model.Field(l => l.CompanyID).Editable(false);
                        model.Field(l => l.Complete).Editable(true).DefaultValue(false);
                        model.Field(l => l.Timestamp).Editable(true).DefaultValue(DateTime.Now);
                    })
                    .Read(read => read.Action("Read", "Events").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destroy => destroy.Action("Destroy", "Events"))
                    .Events(events => events.RequestEnd("OnGridEventsRequestEnd"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
                .AutoBind(false)
            )


            <br />
            <br />
        </div>

    </div>
</div>
<div class="modal fade" id="Modal1">
    <div class="modal-dialog modal-larger" style="width:1200px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title div-inline">Event</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-50px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    @if (!string.IsNullOrEmpty(ViewBag.EventID))
    {
        <text>EditEvent('@ViewBag.EventID');</text>
    }

    $(document).ready(function () {
        //Load cookie values here
        //GetSearchInfo();
        ResumeSearch();
    });

    function ResumeSearch() {
        try {
            var SearchValues = JSON.parse(localStorage.getItem("EventSearch"));
            $("#DD_AssignedUsers").data("kendoDropDownList").value(SearchValues.assignedUser);
            $("#DD_Projects").data("kendoDropDownList").value(SearchValues.projectID);
            $("#DD_Date").data("kendoDropDownList").value(SearchValues.dateType);
            $("#DP_From").data("kendoDatePicker").value(new Date(SearchValues.fromD));
            $("#DP_To").data("kendoDatePicker").value(new Date(SearchValues.toD));
            $("#CB_ShowComplete").prop("checked", SearchValues.showComplete);
            
        }
        catch (exp) { }
        DD_DateChanged();
    }

    function Refresh() {
        var grid = $("#GridEvents").data("kendoGrid");
        grid.dataSource.read();

        //Save cookie values here
    }

    function GetSearchInfo() {

        var SearchValues = {
            assignedUser: $("#DD_AssignedUsers").data("kendoDropDownList").value(),
            //createdUser: $("#DD_CreatedUsers").data("kendoDropDownList").value(),
            projectID: $("#DD_Projects").data("kendoDropDownList").value(),
            dateType: $("#DD_Date").data("kendoDropDownList").value(),
            fromD: kendo.toString($("#DP_From").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toD: kendo.toString($("#DP_To").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            showComplete: ( $("#CB_ShowComplete").is(':checked') ) ? true : false
        };

        localStorage.setItem("EventSearch", JSON.stringify(SearchValues));

        return SearchValues;
    }

    function DD_DateChanged() {
        var id = $("#DD_Date").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function OnGridEventsRequestEnd(e) {
        //RequestEnd handler code
        if (e.type !== null && e.type !== 'read') {
            Refresh();
        }
    }


    function RebindContacts(e) {
        //Get  Contact dropdown
        var dropdownBox = $("#Contact").data("kendoDropDownList");

        //Create new datasource
        var newDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("DropDownClientContacts", "ClientContacts")",
                    dataType: "json",
                    data: {
                        cltID: $("#Client").data("kendoDropDownList").value()
                    }
                }
            }
        });

        //Set datasoure and refresh dropdown
        dropdownBox.setDataSource(newDataSource);

        // Get Opportunity dropdown
        var dropdownBoxOpp = $("#Opportunity").data("kendoDropDownList");
        var newDataSourceOpp = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "@Url.Action("DropDownOpportunities", "OpportunitiesGrid")",
                    dataType: "json",
                    data: {
                        clientID: $("#Client").data("kendoDropDownList").value()
                    }
                }
            }
        });

        //Set datasoure and refresh dropdown
        dropdownBoxOpp.setDataSource(newDataSourceOpp);

    }
    @*
    function EditEvent(id) {
        $.ajax({
            url: '/Events/_EditEvent',
            type: 'GET',
            data: {
                eventID: id
            },
            success: function (response) {
                $('#Modal1 .modal-body').html(response);
                $('#Modal1').modal('show');
            }
        });
    }

    function OnSaveEventSuccess(e) {
        $('#GridEvents').data('kendoGrid').dataSource.read();
        if (e.Status == "Success") {
            if (e.CreateNew != null) {
                $.ajax({
                    url: '/Events/_NewEvent',
                    type: 'GET',
                    data: {
                        projectID: e.CreateNew.EventProjectID,
                        quotationID: e.CreateNew.QuotationID,
                        eventAssignedUserID: e.CreateNew.EventAssignedUserID,
                        clientID: e.CreateNew.ClientID,
                        contactID: e.CreateNew.ContactID,
                        timestamp: e.CreateNew.Timestamp,
                    },
                    success: function(response) {
                        $('#Modal1 .modal-body').html(response);
                        $('#Modal1').modal('show');
                    }
                });
            }
            else {
                $('#Modal1').modal('hide');
            }
        }
    }*@

</script>

