﻿
@{
    ViewBag.Title = "Clients";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Clients</h1>
        </div>
        <div class="col-sm-6">
            <br />
            @*@if (ViewBag.EditCRM)
            {
                <a class="btn btn-inverse" style="float:right; margin-right:3px;" href="@Url.Action("UploadClients", "ClientImport")"><span class="glyphicon glyphicon-cloud-upload"></span> &nbsp;Import</a>
            }
            @if (ViewBag.DeleteCRM)
            {
                <a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Clients/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Clients</a>
            }*@
        </div>
        <div class="col-sm-12">
            <br />
        </div>
        <div class="col-xs-5">
            @if (ViewBag.EditCRM)
            {
                <a class="btn btn-inverse" onclick="NewClient()"><span class="glyphicon glyphicon-home"></span>&nbsp;New Client</a>
            }
            &nbsp;
            <a class="btn btn-info" onclick="SearchContacts()"><span class=" glyphicon glyphicon-user"></span>&nbsp;Search Contacts</a>&nbsp;

            @if (ViewBag.EditCRM)
            {
                <a class="btn btn-warning" onclick="EditClientTypes()"><span class=" glyphicon glyphicon-bookmark"></span>&nbsp;Edit Client Types</a>
            }
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                                .Name("DD_Types")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .Events(e => e.Change("Refresh"))
                                .OptionLabel("All Types")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownClientTypes", "ClientTypes"); });
                                })
                                .AutoBind(true)
                                .Value("")
                                .HtmlAttributes(new { style = "width: 100%" })
                                .NoDataTemplate("No types defined")
            )
        </div>
        <div class="col-xs-2">
            @(Html.Kendo().DropDownList()
                                .Name("DD_ClientTags")
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .Events(e => e.Change("Refresh"))
                                .OptionLabel("All Tags")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownClientTags", "ClientTags"); });
                                })
                                .AutoBind(true)
                                .Value("")
                                .HtmlAttributes(new { style = "width: 100%" })
                                .NoDataTemplate("No tags defined")
            )
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                @Html.TextBox("TB_ClientFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Name, Town, Email or Telephone" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
            <div class="form-group" role="group" aria-label="...">
                <a class="btn btn-sm btn-default" onclick="Refresh()"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</a>&nbsp;

                @if (ViewBag.EditCRM)
                {
                    <a class="btn btn-sm btn-default" onclick="Edit()"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</a>
                }
                @*@if (ViewBag.ExportCRM)
                {
                    <div class="btn-group" style="float:right">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-export"></span>&nbsp; Export <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" onclick="ExportClients(); return false;">Export Clients</a></li>
                            <li><a href="#" onclick="ExportContacts(); return false;">Export Contacts</a></li>
                            <li><a href="#" onclick="ExportAddresses(); return false;">Export Addresses</a></li>
                        </ul>
                    </div>
                }*@
            </div>
        </div>
        @if (ViewBag.EditCRM)
        {
            <div id="divEdit" class="col-sm-12" style="display:none">
                <div class="form-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-default" onclick="SelectAll()"><span class="glyphicon glyphicon-check"></span>&nbsp; Select All</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DeleteSelected()"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Selected</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DoneEdit()"><span class="glyphicon glyphicon-ok"></span>&nbsp; Done</a>&nbsp;
                </div>
            </div>
        }
        <div class="col-sm-12">
            @(Html.Kendo().Grid<SnapSuite.Models.ClientViewModel>()
                        .Name("GridClients")
                        .HtmlAttributes(new { style = "min-width: 500px" })
                        .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Clients").Empty("No Clients Found")))
                        .Columns(columns =>
                        {
                            columns.Template(@<text></text>).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                            columns.Bound(u => u.Name).Title("Name").ClientTemplate("<a href='\\#' onclick='EditClient(\"#=ID#\"); return false;'><strong>#=Name#</strong></a>");
                            columns.Bound(u => u.ClientTypeName).Title("Type");
                            columns.Bound(u => u.Town).Title("Town");
                            columns.Bound(u => u.Country).Title("Country");
                            columns.Bound(u => u.Email).Title("Email");
                            columns.Bound(u => u.Website).Title("Website");
                            columns.Bound(u => u.Telephone).Title("Telephone");
                            columns.Template(@<text></text>).Title("Tags").ClientTemplate("<div class='tags-grid-row'> #=ClientTagsHtmlString# </div>");
                            columns.Template(@<text></text>).ClientTemplate("<a href='\\#' title='Edit' onclick='EditClient(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                            if (ViewBag.DeleteCRM)
                            {
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' title='Edit' onclick='DeleteClient(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-trash glyphicon-btn'/></a>").Width("1%");
                            }
                        })
                        .Sortable()
                        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this client?"))
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                            })
                            .Read(read => read.Action("Read", "ClientGrid").Data("GetSearchInfo")).PageSize(50)
                            .Update(update => update.Action("Update", "ClientGrid"))
                            .Destroy(destory => destory.Action("Delete", "ClientGrid"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditClient" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1500px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditClient_Body"></div>
    </div>
</div>


<div id="SlideContent_SearchContacts" class="panel panel-default" style="z-index: 1140; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div class="row">
            <div class="col-sm-6">
                <h2>Contacts Search</h2>
            </div>
            <div class="col-sm-6">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-sm-12">

                <div class="input-group">
                    @Html.TextBox("TB_ContactFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search Name/Email/Telephone/Mobile" })
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick="RefreshContacts()"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                <hr />
            </div>
            <div class="col-sm-12">
                @(Html.Kendo().Grid<SnapSuite.Models.ClientContactViewModel>()
                            .Name("GridContactsSearch")
                            .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Contacts").Empty("No Contacts Found")))
                            //.Filterable()
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.ClientName).Title("Client").ClientTemplate("<a href='\\#' onclick='EditClient(\"#=ClientID#\"); return false;'><strong>#=ClientName#</strong></a>");
                                columns.Bound(p => p.Title).Title("Title");
                                columns.Bound(p => p.FirstName).Title("First Name");
                                columns.Bound(p => p.LastName).Title("Last Name");
                                columns.Bound(p => p.Position).Title("Position");
                                columns.Bound(p => p.Telephone).Title("Telephone");
                                columns.Bound(p => p.Mobile).Title("Mobile");
                                columns.Bound(p => p.Email).Title("Email");
                                columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick='EditClient(\"#=ClientID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                        })
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Read(read => read.Action("ReadSearch", "ClientContacts").Data("function() { return { filterText: $('#TB_ContactFilter').val() }}")).PageSize(25)
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                )
            </div>
        </div>
    </div>
</div>


<div id="SlideContent_EditClientTypes" class="panel panel-default" style="z-index: 1130; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 1000px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Client Types</h2>
                <hr />
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-info btn-sm" onclick="$('#GridEditClientTypes').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Create New Type</a>
            </div>
            <div class="col-sm-6">
                <br />
            </div>
            <div class="col-sm-12">
                @(Html.Kendo().Grid<SnapSuite.Models.ClientTypeViewModel>()
                            .Name("GridEditClientTypes")
                            .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Types").Empty("No Client Types Entered")))
                            .Columns(columns =>
                            {
                                columns.Bound(t => t.Name).Title("Name");
                                columns.Command(command =>
                                        {
                                            command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                                        }
                                ).Width("90px");
                            })
                            .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this type?"))
                            .Sortable()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.CompanyID);
                                    model.Field(t => t.ID).Editable(false);
                                })

                                .Create(create => create.Action("Create", "ClientTypes"))
                                .Read(read => read.Action("Read", "ClientTypes"))
                                .Update(update => update.Action("Update", "ClientTypes"))
                                .Destroy(destroy => destroy.Action("Destroy", "ClientTypes"))
                                .Events(events => events.RequestEnd("OnGridClientTypesRequestEnd"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                )
            </div>
        </div>
    </div>
</div>




<a id="Button_Close_ClientTags" class="btn btn-background" onclick="HideEditClientTags()" style="z-index:1205; display:none;"></a>

<div id="SlideContent_EditClientTags" class="panel panel-default" style="z-index: 1220; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; left: 0%; min-height: 100%; width: 0; max-width: 500px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Tags</h2>
                <hr />
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideEditClientTags()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-info btn-sm" onclick="$('#GridEditClientTags').data('kendoGrid').addRow();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Create New Tag</a>
            </div>
            <div class="col-sm-6">
                <br />
            </div>
            <div class="col-sm-12">
                @(Html.Kendo().Grid<SnapSuite.Models.ClientTagViewModel>()
                            .Name("GridEditClientTags")
                            .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} ClientTags").Empty("No Tags Entered")))
                            .Columns(columns =>
                            {
                                columns.Bound(t => t.HexColour).Title("Colour").ClientTemplate("<span class='label label-primary' style='background-color:#=HexColour#'>&nbsp;&nbsp;&nbsp;</span>").EditorTemplateName("HexColourTemplate").Width("10%");
                                columns.Bound(t => t.Name).Title("Name");
                                columns.Command(command =>
                                {
                                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                                }
                                ).Width("90px");
                            })
                            .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this tag?"))
                            .Sortable()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                                .Model(model =>
                                {
                                    model.Id(t => t.ID);
                                    model.Field(t => t.CompanyID);
                                    model.Field(t => t.ID).Editable(false);
                                    model.Field(t => t.HexColour).DefaultValue("#000000");
                                })

                                .Create(create => create.Action("Create", "ClientTags"))
                                .Read(read => read.Action("Read", "ClientTags"))
                                .Update(update => update.Action("Update", "ClientTags"))
                                .Destroy(destroy => destroy.Action("Destroy", "ClientTags"))
                                .Events(events => events.RequestEnd("OnGridClientTagsRequestEnd"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                            .AutoBind(true)
                )
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal1">
    <div class="modal-dialog modal-larger" style="width:1200px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title div-inline">Event</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-50px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.ClientID))
    {
        <text>
    EditClient('@ViewBag.ClientID');
    </text>
    }

    function Refresh() {
        var grid = $("#GridClients").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function RefreshContacts() {
        var grid = $("#GridContactsSearch").data("kendoGrid");
        //if (grid.dataSource.page() != 1) {
        //    grid.dataSource.page(1);
        //}
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ClientFilter').val(),
            type: $("#DD_Types").data("kendoDropDownList").value(),
            tag: $("#DD_ClientTags").data("kendoDropDownList").value()
        }
    }

    function Edit() {
        var grid = $("#GridClients").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').hide();
            $('#divEdit').show();
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridClients").data("kendoGrid");
        $('#divPager').show();
        $('#divEdit').hide();
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }


    $("#TB_ClientFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    $("#TB_ContactFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshContacts();
        //}
    });


    //Below the following functions are used the show/hide the content panels.

    @if (ViewBag.EditCRM)
    {
        <text>
    function NewClient() {
        $("#EditClient_Body").load("@Url.Action("_NewClient", "Clients")");

        $("#SlideContent_EditClient").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditClient").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedClient(id) {
        var url = '@Url.Action("_EditClient", "Clients")' + '?ID=' + id;
        $("#EditClient_Body").load(url);
    }
    </text>
    }


    function EditClient(id) {
        var url = '@Url.Action("_EditClient", "Clients")' + '?ID=' + id;
        $("#EditClient_Body").load(url);

        $("#SlideContent_EditClientTypes").fadeOut();
        $("#SlideContent_SearchContacts").fadeOut();

        $("#SlideContent_EditClient").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditClient").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    @if (ViewBag.EditCRM)
    {
        <text>

    function DeleteClient(id) {
        if (confirm("Are you sure you want to delete this organisation?")) {
            $.ajax({
                url: '@Url.Action("_Delete", "ClientGrid")',
                type: 'POST',
                data: { "IDs": id },
                dataType: "json",
                success: function (data) { Refresh(); }
            });
        }
    }



    function DeleteSelected() {
        if (confirm("Are you sure you want to delete these clients?")) {

            var ids = $("input[name=chk_grid]:checkbox:checked").map(function () { return this.value; }).get().join();

            $.ajax({
                url: '@Url.Action("_Delete", "ClientGrid")',
                type: 'POST',
                data: { "IDs": ids },
                dataType: "json",
                success: function (data) { Refresh(); }
            });
        }
    }


    function EditClientTypes() {

        $("#SlideContent_EditClientTypes").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditClientTypes").fadeIn();
        $("#Button_Close_Content").fadeIn();

        var grid = $("#GridEditClientTypes").data("kendoGrid");
        grid.dataSource.read();
    }

    </text>
    }

    function SearchContacts() {
        $("#SlideContent_SearchContacts").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").fadeIn();
        $("#Button_Close_Content").fadeIn();

        var grid = $("#GridContactsSearch").data("kendoGrid");
        grid.dataSource.read();
    }

    function HideViews() {
        $("#SlideContent_EditClient").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditClientTypes").animate({ width: '0%' }, { queue: false, duration: 300 });
        $("#SlideContent_SearchContacts").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_EditClient").fadeOut();
            $("#SlideContent_EditClientTypes").fadeOut();
            $("#SlideContent_SearchContacts").fadeOut();
            $("#Button_Close_Content").fadeOut();

            Refresh();
        }, 300);

    }

    @if(ViewBag.EditCRM)
    {
        <text>

        function EditClientTags() {
            var grid = $("#GridEditClientTags").data("kendoGrid");
            grid.dataSource.read();

            $("#SlideContent_EditClientTags").animate({ width: '90%' }, { queue: false, duration: 300 });
            $("#SlideContent_EditClientTags").fadeIn();
            $("#Button_Close_ClientTags").fadeIn();
        }

        function HideEditClientTags() {
            $("#SlideContent_EditClientTags").animate({ width: '0%' }, { queue: false, duration: 300 });
            setTimeout(function () {
                $("#SlideContent_EditClientTags").fadeOut();
                $("#Button_Close_ClientTags").fadeOut();
            }, 300);

            $('#DD_ClientTags').data('kendoDropDownList').dataSource.read();
        }


        function OnGridClientTypesRequestEnd(e) {
            //RequestEnd handler code
            if (e.type !== null && e.type !== 'read') {
                $("#DD_Types").data("kendoDropDownList").dataSource.read();
            }
        }

        function OnGridClientTagsRequestEnd(e) {
            //RequestEnd handler code
            if (e.type !== null && e.type !== 'read') {
                $("#DD_ClientTags").data("kendoDropDownList").dataSource.read();
            }
        }
    </text>
    }

    @if(ViewBag.ExportCRM)
    {
        <text>

            function ExportClients() {
                var filterText = $('#TB_ClientFilter').val();
                var type = $("#DD_Types").data("kendoDropDownList").value();
                var tag = $("#DD_ClientTags").data("kendoDropDownList").value();

                var url = '@Url.Action("Export", "ClientGrid")' + '?filterText=' + filterText + '&type=' + type + '&tag=' + tag;
                window.open(url, "_blank");
            }

            function ExportContacts() {
                var filterText = $('#TB_ClientFilter').val();
                var type = $("#DD_Types").data("kendoDropDownList").value();
                var tag = $("#DD_ClientTags").data("kendoDropDownList").value();

                var url = '@Url.Action("ExportContacts", "ClientGrid")' + '?filterText=' + filterText + '&type=' + type + '&tag=' + tag;
                window.open(url, "_blank");
            }

            function ExportAddresses() {
                var filterText = $('#TB_ClientFilter').val();
                var type = $("#DD_Types").data("kendoDropDownList").value();
                var tag = $("#DD_ClientTags").data("kendoDropDownList").value();

                var url = '@Url.Action("ExportAddresses", "ClientGrid")' + '?filterText=' + filterText + '&type=' + type + '&tag=' + tag;
                window.open(url, "_blank");
            }

        </text>
    }
</script>


