﻿@using SnapSuite.Models
@model LineItemInfoViewModel

<div id="div_LineItemInfo" class="form-inline">
    @Html.TextAreaFor(model => model.Description, 2, 100, new { @class = "form-control", @style = "max-width:none; width:100%; padding: 6px 12px;" })<br />

    <table id="table_info_input" >
        <tr id="tr_input_Category" style="@((!ViewBag.ShowCategory) ? "display:none" : "")">
            <td style="width: 80px;"><label>Category:</label></td>
            <td>
                @(Html.Kendo().AutoCompleteFor(model => model.Category)
                            .DataTextField("Name")
                            .Filter(FilterType.Contains)
                            .MinLength(1)
                            .HtmlAttributes(new { style = "width:100%; max-width: 250px; font-size:12px" })
                            .DataSource(source =>
                            {
                                source.Read(read => { read.Action("DropDownProductCategories", "ProductCategories"); });
                            }))
            </td>
        </tr>
        
        @foreach (var field in (ViewBag.CustomFields as List<CustomField>).OrderBy(i => i.SortPos).Select((value, i) => new { i, value }))
        {
            <tr style="@((!field.value.Show) ? "display:none" : "")">
                <td style="width: 80px;">
                    <label>@(field.value.Label):</label>
                    @*<input data-val="true" data-val-required="The ID field is required." id="Information_CustomFieldValues_@(field.i)__ID" name="Information.CustomFieldValues[@(field.i)].ID" value="" data-bind="value:Information.CustomFieldValues[@(field.i)].ID" type="hidden">*@
                    <input id="Information_CustomFieldValues_@(field.i)__Name" name="Information.CustomFieldValues[@(field.i)].Name" value="" data-bind="value:Information.CustomFieldValues[@(field.i)].Name" type="hidden">
                    <input id="Information_CustomFieldValues_@(field.i)__Label" name="Information.CustomFieldValues[@(field.i)].Label" value="" data-bind="value:Information.CustomFieldValues[@(field.i)].Label" type="hidden">
                </td>
                <td>
                    <input class="form-control input-sm" id="Information_CustomFieldValues_@(field.i)__Value" name="Information.CustomFieldValues[@(field.i)].Value" style="max-width:250px;" value="" data-bind="value:Information.CustomFieldValues[@(field.i)].Value" type="text">
                </td>
            </tr>
        }
    </table>
</div>

<style>
    #div_LineItemInfo tr td {
        border-width: 0 0 0 0;
        padding: 1px;
        vertical-align: middle;
        font-size: smaller;
    }
</style>
