﻿@using SnapSuite.Models
@{
    ViewBag.Title = "Basis of Estimates";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>Basis of Estimates</h1>
        </div>
        <div class="col-xs-6">
            <br />
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" onclick="NewBasisOfEstimate(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Item</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="RefreshBasis();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
            </div>
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<SnapSuite.Models.BasisOfEstimateGridViewModel>()
                .Name("GridBasisOfEstimate")
                .HtmlAttributes(new { style = "min-width: 750px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Items").Empty("No Items Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.SortPos).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    //columns.Bound(u => u.Description).Title("Description").EditorTemplateName("DescriptionTemplate").Encoded(false);
                    columns.Bound(u => u.Description).Title("Description");
                    columns.Bound(u => u.IsSubHeading).Title("Sub Heading").ClientTemplate("#if(IsSubHeading){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    columns.Bound(u => u.IsSubItem).Title("Sub Item").ClientTemplate("#if(IsSubItem){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete'  />");
                    }
                    ).Width("90px");
                })
                .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom).Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this product?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Create(read => read.Action("Create", "BasisOfEstimateGrid"))
                    .Read(read => read.Action("Read", "BasisOfEstimateGrid")).PageSize(50)
                    .Update(read => read.Action("Update", "BasisOfEstimateGrid"))
                    .Destroy(destory => destory.Action("Delete", "BasisOfEstimateGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<script>

    function RefreshBasis() {
        var grid = $("#GridBasisOfEstimate").data("kendoGrid");
        grid.dataSource.read();

        //Save cookie values here
    }

    function NewBasisOfEstimate() {
        $('#GridBasisOfEstimate').data('kendoGrid').addRow();
    }


    $(".k-grid[id='GridBasisOfEstimate'] table").kendoSortable({
        connectWith: ".k-grid[id='GridBasisOfEstimate'] table",
        filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
        disabled: ".no-drag", //do not allow transferring the no records row
        hint: $.noop,
        cursor: "move",
        placeholder: function (element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        },
        change: function (e) { //change event handler implementation may differ according to the scenario
            try {
                var element = this.element.closest(".k-grid[id='GridBasisOfEstimate']");
                var grid = this.element.closest(".k-grid[id='GridBasisOfEstimate']").data("kendoGrid");
                var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                $('[id="GridBasisOfEstimate"]').each(function () {
                    if (dataItem == null)
                        dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                });

                if (e.action == "receive" || e.action == "sort")
                    $.ajax({
                        url: '@Url.Action("_UpdatePositions", "BasisOfEstimateGrid")',
                        type: 'POST',
                        data: {
                            ID: dataItem.ID,
                            oldIndex: e.oldIndex,
                            newindex: e.newIndex,
                        },
                        dataType: "json",
                        success: function (data) { Refresh(); }
                    });
                }
            catch (ex) { Refresh(); }
        },
        move: function(e) {
            console.log("move to index: " + this.indexOf(this.placeholder));
        }
    });
</script>



