﻿@using SnapSuite.Models
@model SnapSuite.Models.ProjectViewModel


@using (Ajax.BeginForm((ViewBag.EditQuotations) ? "_Header" : "", "Projects", null, new AjaxOptions { UpdateTargetId = "div_Header" }, new { id = "EditHeaderForm", method = "post" }))
{
    @Html.AntiForgeryToken()
    //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Status.ID)
    @Html.HiddenFor(model => model.Status.Name)
    @Html.HiddenFor(model => model.Status.Description)
    @Html.HiddenFor(model => model.Status.HexColour)

    <div class="panel panel-default form-table">
        <div class="panel-body">
            <div class="col-xs-5" style="padding: 0; margin: 0;">
                <table style="width: 95%">
                    <tr>
                        <td style="width: 100px;">
                            <label>Number: </label>
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.Number)
                            <label>@Model.Number</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Name: </label>
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Project Name", @style = "width:100%; max-width:none", @title = Model.Name })
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;">
                            <label>Description: </label>
                        </td>
                        <td>
                            @*@Html.TextBoxFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter Description", @style = "width:100%; max-width:none", @title = Model.Description })*@
                            @Html.TextAreaFor(m => m.Description, Model.Description != null ? Model.Description.Split(new[] { "\n" }, StringSplitOptions.None).Length + 1 : 1, 100, new { @class = "form-control", @style = "max-width:100%; width:100%; padding: 6px 12px; resize: vertical;", @title = Model.Description })
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;">
                            <label>Scopes: </label>
                        </td>
                        <td>
                            @(Html.Kendo().MultiSelectFor(m => m.Scopes)
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                          .DataSource(dataSource => dataSource.Read("DropDownScopes", "ScopeGrid"))
                            )
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline;">
                            <label>Note:</label>
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Note, 18, 100, new { @class = "form-control", @placeholder = "", @style = "width:100%; max-width:none; margin-bottom:10px; resize: vertical;" })
                        </td>
                    </tr>
                </table>
                <br />

            </div>

            <div class="col-xs-5" style="padding: 0; margin: 0;">
                <table style="width: 95%">
                    <tr>
                        <td style="width: 150px;">
                            <label>Enquiry Source: </label>
                        </td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.EnquirySourceID)
                                .DataTextField("Name").DataValueField("ID")
                                .OptionLabel(" ")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownEnquirySources", "Dropdowns"); });
                                })
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Estimator: </label>
                        </td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.AssignedUserID)
                                .DataTextField("Email").DataValueField("ID")
                                .OptionLabel(" ")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownUsersQuotations", "Dropdowns"); });
                                })
                                .Value(Model.AssignedUserID)
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Stonework Start Date:</label>
                        </td>
                        <td>
                            @Html.Kendo().DatePickerFor(model => model.StoneworkStartDate)
                            <br/>
                            @Html.ValidationMessageFor(model => model.StoneworkStartDate, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Stonework Value:</label>
                        </td>
                        <td>
                            @Html.Kendo().NumericTextBoxFor(model => model.Value)
                        </td>
                    </tr>
                </table>
                <hr />
            </div>

            <div class="col-xs-2">
                <div class="col-xs-12" style="padding: 0; margin: 0;">
                    @if (ViewBag.EditQuotations)
                    {
                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-primary" style="border-color:@Model.Status.HexColour; background-color:@Model.Status.HexColour;">@Model.Status.Name</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" style="border-color:@Model.Status.HexColour; background-color:@Model.Status.HexColour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Change Status</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                @foreach (SnapSuite.Models.ProjectStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.ProjectStatusViewModel>)
                                {
                                    if (Model.Status.ID != stat.ID)
                                    {
                                        <li>@Html.ActionLink("Change to " + stat.Name, "ChangeStatus", new { projectID = Model.ID, status = stat.ID }) </li>
                                    }
                                    else
                                    {

                                    }
                                }
                                @if (ViewBag.DeleteQuotations)
                                {
                                    <li role="presentation" class="divider"></li>
                                    <li><a href="@Url.Action("Delete", new { ID = Model.ID })" onclick="return confirm('Are you sure you want to delete this project?')">Delete Project</a></li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <span class="btn btn-primary" style="border-color:@Model.Status.HexColour; background-color:@Model.Status.HexColour; float: right;">@Model.Status.Name</span>
                    }
                </div>
                @*<div class="col-xs-12" style="padding: 0; margin: 0;">
                    <div class="btn-group" style="float: right; margin: 2px;">
                        <button type="button" class="btn btn-info btn-xs" onclick="ExportItems()" >
                            Export to Excel
                        </button>
                    </div>
                </div>*@
            </div>
            <div class="col-xs-7" style="padding: 0; margin: 0;">
                <table style="width: 95%; ">
                    <tr>
                        <th style="width:40%;">Contractor</th>
                        <th style="width:40%;">Contact</th>
                        <th>Telephone</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.Client1ID)
                                            .DataTextField("Name").DataValueField("ID")
                                            .Filter("contains")
                                            .OptionLabel("  ")
                                            .DataSource(source =>
                                            {
                                                source.Custom()
                                                    .ServerFiltering(true)
                                                    .ServerPaging(true)
                                                    .PageSize(80)
                                                    .Type("aspnetmvc-ajax")
                                                    .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                    .Schema(schema => schema.Data("Data").Total("Total"));
                                            })
                                            .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                                            .Value(Model.Client1ID)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                            .Events(e => e.Change("RefreshContact1").Close("SaveHeaderForm"))
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient(1);">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient(1);">Add New Client</a></li>
                                    </ul>
                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ClientContact1ID)
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .Filter("contains")
                                .OptionLabel("   ")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#Client1ID').data('kendoDropDownList').value() }}"); });
                                })
                                .Value(Model.ClientContact1ID)
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                .Events(e => e.Close("SaveHeaderForm"))

                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact(1);">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact(1);">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ClientContact1Telephone</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.Client2ID)
                                            .DataTextField("Name").DataValueField("ID")
                                            .Filter("contains")
                                            .OptionLabel("  ")
                                            .DataSource(source =>
                                            {
                                                source.Custom()
                                                    .ServerFiltering(true)
                                                    .ServerPaging(true)
                                                    .PageSize(80)
                                                    .Type("aspnetmvc-ajax")
                                                    .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                    .Schema(schema => schema.Data("Data").Total("Total"));
                                            })
                                            .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                                            .Value(Model.Client2ID)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                            .Events(e => e.Change("RefreshContact2").Close("SaveHeaderForm"))
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient(2);">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient(2);">Add New Client</a></li>
                                    </ul>
                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ClientContact2ID)
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .Filter("contains")
                                .OptionLabel("   ")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#Client2ID').data('kendoDropDownList').value() }}"); });
                                })
                                .Value(Model.ClientContact2ID)
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                .Events(e => e.Close("SaveHeaderForm"))

                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact(2);">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact(2);">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ClientContact2Telephone</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.Client3ID)
                                            .DataTextField("Name").DataValueField("ID")
                                            .Filter("contains")
                                            .OptionLabel("  ")
                                            .DataSource(source =>
                                            {
                                                source.Custom()
                                                    .ServerFiltering(true)
                                                    .ServerPaging(true)
                                                    .PageSize(80)
                                                    .Type("aspnetmvc-ajax")
                                                    .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                    .Schema(schema => schema.Data("Data").Total("Total"));
                                            })
                                            .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                                            .Value(Model.Client3ID)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                            .Events(e => e.Change("RefreshContact3").Close("SaveHeaderForm"))
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient(3);">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient(3);">Add New Client</a></li>
                                    </ul>
                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ClientContact3ID)
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .Filter("contains")
                                .OptionLabel("   ")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#Client3ID').data('kendoDropDownList').value() }}"); });
                                })
                                .Value(Model.ClientContact3ID)
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                .Events(e => e.Close("SaveHeaderForm"))

                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact(3);">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact(3);">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ClientContact3Telephone</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.Client4ID)
                                            .DataTextField("Name").DataValueField("ID")
                                            .Filter("contains")
                                            .OptionLabel("  ")
                                            .DataSource(source =>
                                            {
                                                source.Custom()
                                                    .ServerFiltering(true)
                                                    .ServerPaging(true)
                                                    .PageSize(80)
                                                    .Type("aspnetmvc-ajax")
                                                    .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                    .Schema(schema => schema.Data("Data").Total("Total"));
                                            })
                                            .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                                            .Value(Model.Client4ID)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                            .Events(e => e.Change("RefreshContact4").Close("SaveHeaderForm"))
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient(4);">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient(4);">Add New Client</a></li>
                                    </ul>
                                </div>

                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ClientContact4ID)
                                .DataTextField("Name")
                                .DataValueField("ID")
                                .Filter("contains")
                                .OptionLabel("   ")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#Client4ID').data('kendoDropDownList').value() }}"); });
                                })
                                .Value(Model.ClientContact4ID)
                                .AutoBind(true)
                                .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                .Events(e => e.Close("SaveHeaderForm"))

                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact(4);">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact(4);">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ClientContact4Telephone</td>
                    </tr>
                    <tr>
                        <th height="35">Client/Consultant/Other</th>
                        <th>Contact</th>
                        <th>Telephone</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.Consultant1ID)
                                            .DataTextField("Name").DataValueField("ID")
                                            .Filter("contains")
                                            .OptionLabel("  ")
                                            .DataSource(source =>
                                            {
                                                source.Custom()
                                                    .ServerFiltering(true)
                                                    .ServerPaging(true)
                                                    .PageSize(80)
                                                    .Type("aspnetmvc-ajax")
                                                    .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                    .Schema(schema => schema.Data("Data").Total("Total"));
                                            })
                                            .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                                            .Value(Model.Consultant1ID)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                            .Events(e => e.Close("SaveHeaderForm"))
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient(5);">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient(5);">Add New Client</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ConsultantContact1ID)
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .Filter("contains")
                                    .OptionLabel("   ")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#Consultant1ID').data('kendoDropDownList').value() }}"); });
                                    })
                                    .Value(Model.ConsultantContact1ID)
                                    .AutoBind(true)
                                    .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                    .Events(e => e.Close("SaveHeaderForm"))

                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact(5);">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact(5);">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ConsultantContact1Telephone</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.Consultant2ID)
                                            .DataTextField("Name").DataValueField("ID")
                                            .Filter("contains")
                                            .OptionLabel("  ")
                                            .DataSource(source =>
                                            {
                                                source.Custom()
                                                    .ServerFiltering(true)
                                                    .ServerPaging(true)
                                                    .PageSize(80)
                                                    .Type("aspnetmvc-ajax")
                                                    .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                    .Schema(schema => schema.Data("Data").Total("Total"));
                                            })
                                            .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                                            .Value(Model.Consultant2ID)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                            .Events(e => e.Close("SaveHeaderForm"))
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient(6);">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient(6);">Add New Client</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ConsultantContact2ID)
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .Filter("contains")
                                    .OptionLabel("   ")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#Consultant2ID').data('kendoDropDownList').value() }}"); });
                                    })
                                    .Value(Model.ConsultantContact2ID)
                                    .AutoBind(true)
                                    .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                    .Events(e => e.Close("SaveHeaderForm"))

                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact(6);">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact(6);">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ConsultantContact2Telephone</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.Consultant3ID)
                                            .DataTextField("Name").DataValueField("ID")
                                            .Filter("contains")
                                            .OptionLabel("  ")
                                            .DataSource(source =>
                                            {
                                                source.Custom()
                                                    .ServerFiltering(true)
                                                    .ServerPaging(true)
                                                    .PageSize(80)
                                                    .Type("aspnetmvc-ajax")
                                                    .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                    .Schema(schema => schema.Data("Data").Total("Total"));
                                            })
                                            .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                                            .Value(Model.Consultant3ID)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                            .Events(e => e.Close("SaveHeaderForm"))
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient(7);">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient(7);">Add New Client</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ConsultantContact3ID)
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .Filter("contains")
                                    .OptionLabel("   ")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#Consultant3ID').data('kendoDropDownList').value() }}"); });
                                    })
                                    .Value(Model.ConsultantContact3ID)
                                    .AutoBind(true)
                                    .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                    .Events(e => e.Close("SaveHeaderForm"))

                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact(7);">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact(7);">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ConsultantContact3Telephone</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.Consultant4ID)
                                            .DataTextField("Name").DataValueField("ID")
                                            .Filter("contains")
                                            .OptionLabel("  ")
                                            .DataSource(source =>
                                            {
                                                source.Custom()
                                                    .ServerFiltering(true)
                                                    .ServerPaging(true)
                                                    .PageSize(80)
                                                    .Type("aspnetmvc-ajax")
                                                    .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                    .Schema(schema => schema.Data("Data").Total("Total"));
                                            })
                                            .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                                            .Value(Model.Consultant4ID)
                                            .AutoBind(true)
                                            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                            .Events(e => e.Close("SaveHeaderForm"))
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient(8);">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient(8);">Add New Client</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ConsultantContact4ID)
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .Filter("contains")
                                    .OptionLabel("   ")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#Consultant4ID').data('kendoDropDownList').value() }}"); });
                                    })
                                    .Value(Model.ConsultantContact4ID)
                                    .AutoBind(true)
                                    .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                    .Events(e => e.Close("SaveHeaderForm"))

                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact(8);">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact(8);">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>@Model.ConsultantContact4Telephone</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12">

                <div class="col-xs-6" style="padding: 0; margin: 0;">
                    <hr />
                    @if (ViewBag.EditQuotations)
                    {
                        <button type="submit" class="btn btn-inverse"><span class="glyphicon glyphicon-ok"></span> &nbsp;&nbsp;Update Details</button>
                    }
                    @*<a id="Button_Preview" class="btn btn-info" onclick="" href="@Url.Action("Preview", new { id = Model.ID })"><span class="glyphicon glyphicon-blackboard"></span>&nbsp;&nbsp;Preview PDF & Email</a>*@
                    <br />
                    <br />

                    <br />
                    <br />
                    <p style="font-size:small">@string.Format("Last Modified: {0}", Model.LastUpdated.ToString("HH:mm dd/MM/yy"))</p>
                    <p style="font-size:small">@string.Format("Created by: {0} - {1}", Model.CreatedBy, Model.Created.ToString("HH:mm dd/MM/yy"))</p>
                    
                </div>
                <div id="div_totalSection" class="col-xs-6" style="padding: 0; margin: 0;">
                    @*@Html.Partial("_HeaderTotal", Model)*@
                </div>
            </div>
        </div>
    </div>
}

<script>
    function ExportItems() {
        var url = '@Url.Action("ExportItems", "Projects")' + '?projectID=' + '@Model.ID';
        window.open(url, "_blank");
    }

    function SaveHeaderForm() { $('#EditHeaderForm').submit(); }

    function ClientDD_ValueMapper(options) {
        $.ajax({
            url: "@Url.Action("DropDownClients_ValueMapper", "Clients")",
            data: convertValues(options.value),
            success: function (data) { options.success(data); }
        });
    }

    function RefreshContact1() {
        $('#ClientContact1ID').data('kendoDropDownList').dataSource.read();
    }
    function RefreshContact2() {
        $('#ClientContact2ID').data('kendoDropDownList').dataSource.read();
    }
    function RefreshContact3() {
        $('#ClientContact3ID').data('kendoDropDownList').dataSource.read();
    }
    function RefreshContact4() {
        $('#ClientContact4ID').data('kendoDropDownList').dataSource.read();
    }

</script>

@if (ViewBag.Saved != null)
{
    <script>
        ShowSavedMessage();
    </script>
}

@if (ViewBag.Reload != null)
{
    <script>
        location.reload();
    </script>
}
