﻿@model SnapSuite.Models.QuotationEventViewModel

<script>
    function OnEventContactChange(e) {
        var selected = this.dataItem();
        var title = selected.Title;
        var firstname = selected.FirstName;
        var lastname = selected.LastName;
        var email = selected.Email;
        var mobile = selected.Mobile;
        var telephone = selected.Telephone;
        var position = selected.Position;

        $('#divNewEvent label[name=label-contact-title]').text(title||"");
        $('#divNewEvent label[name=label-contact-firstname]').text(firstname||"");
        $('#divNewEvent label[name=label-contact-lastname]').text(lastname||"");
        $('#divNewEvent label[name=label-contact-email]').text(email||"");
        $('#divNewEvent label[name=label-contact-mobile]').text(mobile||"");
        $('#divNewEvent label[name=label-contact-telephone]').text(telephone||"");
        $('#divNewEvent label[name=label-contact-position]').text(position||"");
    }
    function RefreshContacts() {
        $('#ContactID').data('kendoDropdownList').refresh();
    }
</script>
<div id="divNewEvent">

    <div class="row">
        <div class="col-md-6">

            @using (Ajax.BeginForm("_NewEvent", "Projects", null, new AjaxOptions { UpdateTargetId = "divNewEvent", OnSuccess = "OnSaveEventSuccess" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="row form-table">
                    <div class="col-sm-12">
                        @Html.HiddenFor(m => m.ID)
                        @Html.HiddenFor(m => m.CompanyID)
                        @Html.HiddenFor(m => m.ProjectID)
                        @Html.HiddenFor(m => m.QuotationID)
                        @Html.HiddenFor(m => m.Complete)
                        <table style="width:100%">
                            <tr>
                                <td style="width:100px;"><label>Timestamp:</label></td>
                                <td>
                                    @(Html.Kendo().DateTimePickerFor(m => m.Timestamp)
                                          .HtmlAttributes(new { style = "width:100%;" })
                                    )
                                    @Html.ValidationMessageFor(model => model.Timestamp, "", new { @style = "color: red;" })
                                </td>
                            </tr>
                            <tr>
                                <td><label>Client:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.ClientID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel("   ")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownClients", "Clients"); });
                                          })
                                          .Value(Model.ContactID)
                                          .Events(e => e.Change("RefreshContacts"))
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><label>Contact:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.ContactID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel("   ")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#ClientID').val() }}"); });
                                          })
                                          .Value(Model.ContactID)
                                          .Events(e => e.Change("OnEventContactChange").DataBound("OnEventContactChange"))
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <div class="panel panel-info">
                                        <div class="panel-heading div-inline">
                                            Contact Details
                                        </div>
                                        <div class="panel-body" style="padding: 5px 15px 5px 15px;">
                                            <table style="margin-bottom: 0;">
                                                <tr>
                                                    <td style="width: 100px;"><label>Title:</label></td>
                                                    <td><label name="label-contact-title"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>First Name:</label></td>
                                                    <td><label name="label-contact-firstname"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Last Name:</label></td>
                                                    <td><label name="label-contact-lastname"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Email:</label></td>
                                                    <td><label name="label-contact-email"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Mobile:</label></td>
                                                    <td><label name="label-contact-mobile"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Telephone:</label></td>
                                                    <td><label name="label-contact-telephone"></label></td>
                                                </tr>
                                                <tr>
                                                    <td><label>Position:</label></td>
                                                    <td><label name="label-contact-position"></label></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <table style="width:100%">
                            <tr>
                                <td>
                                    <label>Note:</label>
                                    @Html.TextAreaFor(model => model.Message, 2, 100, new { @class = "form-control", @style = "max-width:none; width:100%; resize:vertical;" })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @style = "color: red;" })
                                </td>
                            </tr>
                        </table>
                        <table style="width:100%">
                            <tr>
                                <td style="width:100px;"><label>Assigned User:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.EventAssignedUserID)
                                          .DataTextField("Email").DataValueField("ID")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownUsers", "Dropdowns"); });
                                          })
                                          .Value(Model.EventAssignedUserID)
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><label>Creator:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(m => m.EventCreatorID)
                                          .DataValueField("ID")
                                          .DataTextField("Email")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownUsers", "Dropdowns"); });
                                          })
                                          .Value(Model.EventAssignedUserID)
                                          .HtmlAttributes(new { style = "width:100%;" })
                                          .AutoBind(true)
                                          .Enable(false)
                                    )
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12">
                        <br /><br />
                        <div class="pull-right">
                            <input type="submit" value="Save" class="btn btn-inverse">
                            @if (Model.Complete == true)
                            {
                                <input type="submit" name="MarkNotComplete" value="Not Complete" class="btn btn-danger">
                            }
                            else
                            {
                                <input type="submit" name="MarkComplete" value="Complete" class="btn btn-success">
                                <input type="submit" name="MarkCompleteD1" value="Complete & Duplicate (+1d)" class="btn btn-info">
                                <input type="submit" name="MarkCompleteD7" value="Complete & Duplicate (+7d)" class="btn btn-primary">
                            }
                        </div>
                    </div>
                </div>
            }


        </div>
        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading div-inline" style="padding:0;">
                        <h4>Event Histories</h4>
                    </div>
                    <div class="panel-body" style="padding:0; max-height: 500px; overflow-y:scroll;">
                        @(Html.Kendo().Grid<SnapSuite.Models.QuotationEventViewModel>()
                            .Name("GridEventHistories")
                            .HtmlAttributes(new { style = "min-width: 500px" })
                            .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Events").Empty("No Events Found")))
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.Complete).Title("Status").ClientTemplate(
                                                                                            "#if(Complete){ #<span class='glyphicon glyphicon-ok' title='Complete' style='color:green'></span> #}#"
                                                                                            + "#if(!Complete && Overdue){ # <span class='label label-danger'> Overdue </span> #}#"
                                                                                            + "#if(!Complete && Due){ # <span class='label label-warning'> Due </span> #}#"
                                                                                        ).EditorTemplateName("CheckboxTemplate").Width("1%");
                                columns.Bound(p => p.Timestamp).Title("Date Due").Format("{0:HH:mm dd/MM/yyyy}").ClientTemplate("<span class='label label-info'>#=kendo.toString(Timestamp, 'HH:mm  dd/MM/yy')#</span>").Width("1%");
                                columns.Bound(p => p.ContactName).Title("Contact").ClientTemplate("#=ContactName#");
                                columns.Bound(p => p.Message).Title("Message").EditorTemplateName("TextAreaTemplate");
                                //columns.Bound(p => p.Creator).Title("Created By").ClientTemplate("#=Creator.Email#").Width("1%");
                                columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' onclick='EditEvent(\"#=ID#\")' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                            })
                            //.Sortable()
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                //.Sort(sort => sort.Add("Timestamp").Descending()) // <-- initial sort expression
                                .Model(model =>
                                {
                                    model.Id(l => l.ID);
                                })
                                .Read(read => read.Action("Read", "QuotationEvents", new { quoteID = Model.QuotationID })).PageSize(10)
                                .Update(update => update.Action("Update", "QuotationEvents"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
