﻿@model SnapSuite.Models.ProjectViewModel
<br />

@if (ViewBag.EditQuotations)
{
    <a class="btn btn-success btn-sm" href="@Url.Action("New", "Quotations", new { projectID = Model.ID })" style="margin-bottom:5px;"><span class="glyphicon glyphicon-copy"></span>&nbsp;Create New</a>
}


@(Html.Kendo().Grid<SnapSuite.Models.QuotationGridViewModel>()
        .Name("GridQuotations")
        .HtmlAttributes(new { style = "min-width: 660px" })
        .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Quotations").Empty("No Quotations Found")))
        .Columns(columns =>
        {
            columns.Bound(q => q.Status.ID).Title("Status").Template(@<text></text>).ClientTemplate("<span class='label label-primary' style='background-color:#=Status.HexColour#'>#=Status.Name#</span>").Width("1%");
            columns.Bound(q => q.Reference).Title("Order").ClientTemplate("<div class='div-inline'><a href='/Quotations/Edit/#=ID#' title='Edit'><strong>#=Reference#</strong></a></div>").Width("1%");
            columns.Bound(q => q.Description).Title("Details").ClientTemplate("<a href='/Quotations/Edit/#=ID#' title='#=Description#'><strong>#=DescriptionShort#</strong></a>");
            columns.Bound(q => q.ClientName).Title("Contractor");
            columns.Bound(q => q.Version).Title("Version").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
            columns.Bound(q => q.Created).Title("Created").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
            //columns.Bound(q => q.Discount).Title("Discount").Format("{0:N2}%").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
            columns.Bound(q => q.TotalNet).Title("Net Price").Template(@<text></text>).ClientTemplate("<div class='div-inline'>#=CurrencySymbol##=kendo.toString(TotalNet, 'n')#</div>").HtmlAttributes(new { style = "text-align:right" }).Width("1%");
            columns.Template(@<text></text>).ClientTemplate("<a href='/Quotations/Edit/#=ID#' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
            columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("NewVersion", "Quotations") + "/#=ID#' title='Create New Version'><span class='glyphicon glyphicon-plus glyphicon-btn'/></a>").Width("1%");
            columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Copy", "Quotations") + "/#=ID#' title='Copy'><span class='glyphicon glyphicon-duplicate glyphicon-btn'/></a>").Width("1%");
            columns.Command(command => { command.Destroy().Text("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Delete'/>"); }).Width("1%");
        })
        //.Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(q => q.ID))
            .Read(read => read.Action("Read", "QuotationGrid", new { projectID = Model.ID })).PageSize(50)
            .Destroy(destroy => destroy.Action("Delete", "QuotationGrid"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
)



<br />
<br />