﻿@model SnapSuite.Models.ProjectViewModel
@Scripts.Render("~/EditorScripts/Events")

<script>
    function OnGridAssociativesRequestEnd(e) {
        if (e.type !== null && e.type !== 'read') {
            $("#GridAssociatives").data("kendoGrid").dataSource.read();
        }
    }

    @*function NewEvent() {
        $.ajax({
            url: '/Events/_NewEvent',
            type: 'GET',
            data: {
                projectID: '@Model.ID'
            },
            success: function(response) {
                $('#Modal1 .modal-body').html(response);
                $('#Modal1').modal('show');
            }
        });
    }

    function EditEvent(id) {
        $.ajax({
            url: '/Events/_EditEvent',
            type: 'GET',
            data: {
                eventID: id
            },
            success: function(response) {
                $('#Modal1 .modal-body').html(response);
                $('#Modal1').modal('show');
            }
        });
    }

    function OnSaveEventSuccess(e) {
        $('#GridEvents').data('kendoGrid').dataSource.read();
        if (e.Status == "Success") {
            if (e.CreateNew != null) {
                $.ajax({
                    url: '/Events/_NewEvent',
                    type: 'GET',
                    data: {
                        projectID: e.CreateNew.EventProjectID,
                        quotationID: e.CreateNew.QuotationID,
                        eventAssignedUserID: e.CreateNew.EventAssignedUserID,
                        clientID: e.CreateNew.ClientID,
                        contactID: e.CreateNew.ContactID,
                        timestamp: e.CreateNew.Timestamp,
                    },
                    success: function(response) {
                        $('#Modal1 .modal-body').html(response);
                        $('#Modal1').modal('show');
                    }
                });
            }
            else {
                $('#Modal1').modal('hide');
            }
        }
    }*@
</script>

<br />

@if (ViewBag.EditCRM)
{
    <a class="btn btn-info btn-sm" onclick="NewEvent('@Model.ID', '', '', '');" style="margin-bottom:5px;"><span class="glyphicon glyphicon-time"></span>&nbsp;New Event</a>
}
<a class="btn btn-default btn-sm" onclick="$('#GridEvents').data('kendoGrid').dataSource.read();" style="margin-bottom:5px; float:right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>


@(Html.Kendo().Grid<SnapSuite.Models.EventViewModel>()
                    .Name("GridEvents")
                    .HtmlAttributes(new { style = "min-width: 900px" })
                    .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Events").Empty("No Events Found")))
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.Complete).Title("Status")
                                                  .ClientTemplate(
                                                    "#if(Complete){ #<span class='glyphicon glyphicon-ok' title='Complete' style='color:green'></span> #}"
                                                    + "else if(!Complete && Due){ # <span class='label label-warning'> Due </span> #}"
                                                    + "else if(!Complete && Overdue){ # <span class='label label-danger'> Overdue </span> #}#"
                                                ).EditorTemplateName("CheckboxTemplate").Width("1%");
                    columns.Bound(p => p.Timestamp).Title("Date Due").ClientTemplate("<span class='label label-info'>#=kendo.toString(Timestamp, 'dd/MM/yy')#</span>").Width("1%");
                    columns.Bound(p => p.QuotationName).Title("Quotation").ClientTemplate("#=QuotationName#");
                    columns.Bound(p => p.EventClientName).Title("Client").ClientTemplate("#=EventClientName#");
                    columns.Bound(p => p.EventContactName).Title("Contact").ClientTemplate("#=EventContactName#");
                    columns.Bound(p => p.Message).Title("Message").EditorTemplateName("TextAreaTemplate");
                    columns.Bound(p => p.EventAssignedUserName).Title("Assigned To").ClientTemplate("#=EventAssignedUserName#").EditorTemplateName("EventUserDropDown").Width("1%");
                    //columns.Bound(p => p.Creator).Title("Created By").ClientTemplate("#=Creator.Email#").Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a href='javascript:void(0)' onclick='EditEvent(\"#=ID#\")' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                        columns.Command(command =>
                        {
                            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                        }).Width("1%");
                    })
                    .DataSource(dataSource => dataSource
                                                .Ajax()
                                                //.Sort(sort => sort.Add("Timestamp").Descending()) // <-- initial sort expression
                                                .Model(model =>
                                                {
                                                    model.Id(l => l.ID);
                                                    model.Field(l => l.CompanyID).Editable(false);
                                                    model.Field(l => l.Complete).Editable(true).DefaultValue(false);
                                                    model.Field(l => l.Timestamp).Editable(true).DefaultValue(DateTime.Now);
                                                    model.Field(t => t.QuotationID).Editable(false).DefaultValue(Model.ID);
                                                })
                                                .Create(create => create.Action("Create", "Events"))
                                                .Read(read => read.Action("Read", "Events", new { projectID = Model.ID })).PageSize(10)
                                                .Update(update => update.Action("Update", "Events"))
                                                .Destroy(destroy => destroy.Action("Destroy", "Events"))
                    //.Events(events => events.RequestEnd("OnGridEventsRequestEnd"))
                    )
                    .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
<br />
<br />
