﻿@using SnapSuite.Models
@{
    ViewBag.Title = "Projects";
}

<div class="container">
    <div class="row" style="margin-top: 5px; margin-bottom: 15px;">
        <div class="col-sm-7" style="padding-left: 20px;">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-5">
            <br />
            <button class="btn btn-sm btn-inverse" onclick="Export();" style="float:right"><span class="glyphicon glyphicon-export"></span>&nbsp;Export</button>
            @*
            @if (ViewBag.DeleteQuotations)
            {
                <a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Quotations/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted</a>
            }*@
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default">
                    <div class="panel-body">
                        @if (ViewBag.EditQuotations)
                        {
                            <a class="btn btn-primary" href="@Url.Action("New")" style="width:100%; padding:10px;"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;New Project</a>
                            <hr />
                        }

                        @* Generate Filter buttons based on ViewBags.  *@
                        @foreach (SnapSuite.Models.ProjectStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.ProjectStatusViewModel>)
                        {
                            if (ViewBag.statuses.ToString().Contains(stat.ID.ToString()))
                            {
                                <a id="Btn_f@(stat.Name.Replace(" ", "").Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: @(stat.HexColour); border:@(stat.HexColour);"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;@(stat.Name)</a>
                            }
                            else
                            {
                                <a id="Btn_f@(stat.Name.Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: gray; border:gray;"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;@(stat.Name)</a>
                            }
                        }
                        <a href="#" style="font-size:x-small" onclick="SelectAll();">Select All</a>
                        <a href="#" style="font-size:x-small; float:right" onclick="SelectNone();">Select None</a>
                        <hr />
                        @(Html.Kendo().DropDownList()
                            .Name("DD_AssignedUsers")
                            .DataTextField("Email")
                            .DataValueField("ID")
                            .Events(e => e.Change("Refresh"))
                            .OptionLabel("All Users")
                            .DataSource(source =>
                            {
                                source.Read(read => { read.Action("DropDownUsersQuotations", "Dropdowns"); });
                            })
                            .AutoBind(true)
                            .Value((string)ViewBag.assignedUser)
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <hr />
                        @(Html.Kendo().DropDownList()
                            .Name("DD_Date")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("DD_DateChanged"))
                            .BindTo(new List<SelectListItem>() {
                                        new SelectListItem() { Text = "All Projects", Value = "0"},
                                        new SelectListItem() { Text = "This Month", Value = "1"},
                                        new SelectListItem() { Text = "Last Month", Value = "2"},
                                        new SelectListItem() { Text = "Custom Range", Value = "3"},
                            })
                            .Value((string)ViewBag.dateType)
                            .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                          .Name("DP_From")
                                          .Value((string)ViewBag.fromD)
                                          .HtmlAttributes(new { style = "width: 100%" })
                                          .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                            .Name("DP_To")
                                            .Value((string)ViewBag.toD)
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                <div class="pull-right">
                    <label id="LabelTotalNet" style="margin-top:10px"></label>
                </div>
                <div class="input-group" style="max-width: 600px; margin-bottom: 5px">
                    @Html.TextBox("TB_Filter", "", new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Client, Quote Number or Description" })
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                    </span>
                </div>
                @*<a class="btn btn-default btn-sm" onclick="Refresh()" style="margin-bottom:5px;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh</a>*@

                @(Html.Kendo().Grid<SnapSuite.Models.ProjectGridViewModel>()
                            .Name("GridProjects")
                            .HtmlAttributes(new { style = "min-width: 660px" })
                            .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Projects").Empty("No Projects Found")))
                            .Columns(columns =>
                            {
                                columns.Bound(q => q.Status.ID).Title("Status").Template(@<text></text>).ClientTemplate("<div style='display:ruby'><span class='label label-primary' style='background-color:#=Status.HexColour#'>#=Status.Name#</span></div>").Width("1%").HtmlAttributes(new { style = "text-align:center" });
                                columns.Bound(q => q.Name).Title("Name").ClientTemplate("<div class='div-inline'><a href='" + Url.Action("Edit") + "/#=ID#' title='Edit'>#if(Name != null){# <strong>#=Name#</strong> #}#</a></div>");
                                columns.Bound(q => q.StoneworkStartDate).Title("Stonework Start Date").ClientTemplate("#if(StoneworkStartDate != null){# #=kendo.toString(StoneworkStartDate, 'dd/MM/yy')# #}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                columns.Bound(q => q.Value).Title("Value").Template(@<text></text>).ClientTemplate("<div class='div-inline'>£#=kendo.toString(Value, 'n')#</div>").HtmlAttributes(new { style = "text-align:right" }).Width("1%");
                                columns.Bound(q => q.AssignedUserName).Title("Estimator").ClientTemplate("<div class='div-inline'><strong>#=AssignedUserName#</strong></div>").Width("1%");
                                columns.Bound(q => q.Created).Title("Created").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                columns.Template(@<text></text>).ClientTemplate("<a href='" + Url.Action("Edit") + "/#=ID#' title='Edit'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                                if (ViewBag.DeleteQuotations)
                                {
                                    columns.Command(command => { command.Destroy().Text("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Delete'/>"); }).Width("1%");
                                }
                            })
                            .Sortable()
                            .DataSource(dataSource => dataSource
                                                    .Ajax()
                                                    //.Sort(sort => sort.Add("Created").Descending()) // <-- initial sort expression
                                                    .Model(model => model.Id(q => q.ID))
                                                    .Read(read => read.Action("Read", "ProjectGrid").Data("GetSearchInfo")).PageSize(int.Parse((string)ViewBag.pageSize))
                                                    .Destroy(destroy => destroy.Action("Delete", "ProjectGrid"))
                            )
                            .Events(events => events.DataBound("KendoGridDatabound"))
                            .AutoBind(false)
                )
            </div>
        </div>
    </div>

</div>

<script>

    $(document).ready(function () {
        var id = $("#DD_Date").data("kendoDropDownList").value();
        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        var grid = $("#GridProjects").data("kendoGrid");
        grid.dataSource.query({ page: @ViewBag.page, pageSize: @ViewBag.pageSize });
        grid.dataSource.sort({field: '@ViewBag.sort', dir: '@ViewBag.sortDirection'});
        grid.dataSource.read();
    });


    $("#TB_Filter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });

    function Refresh() {
        var grid = $("#GridProjects").data("kendoGrid");
        grid.dataSource.read();
    }

    function ChangeStatus(statusID) {
        switch (statusID) {
            @foreach (SnapSuite.Models.ProjectStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.ProjectStatusViewModel>)
            {
                <text>

            case @(stat.ID):
                if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) {
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
                }
                else{
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
                }
                $("#Span_f@(stat.Name.Replace(" ", ""))").toggleClass('glyphicon-unchecked glyphicon-check');
                break;
                </text>
            }
        }

        Refresh();
    }

    function SelectAll(){

        @foreach (SnapSuite.Models.ProjectStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.ProjectStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-check');
            </text>
        }

        Refresh();

    }

    function SelectNone(){

        @foreach (SnapSuite.Models.ProjectStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.ProjectStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-check');
            </text>
        }

        Refresh();
    }

    function GetSearchInfo() {

        var stats = [];
        @foreach (SnapSuite.Models.ProjectStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.ProjectStatusViewModel>)
        {
            <text>
        if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) stats.push("@(stat.ID)");
        </text>
        }

        var SearchValues = {
            filterText: $('#TB_Filter').val(),
            statuses: stats.toString(),
            assignedUser: $("#DD_AssignedUsers").data("kendoDropDownList").value(),
            dateType: $("#DD_Date").data("kendoDropDownList").value(),
            fromD: kendo.toString($("#DP_From").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toD: kendo.toString($("#DP_To").data("kendoDatePicker").value(), 'dd/MM/yyyy')
        };

        return SearchValues;
    }

    function DD_DateChanged() {
        var id = $("#DD_Date").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function Export() {

        var args = GetSearchInfo();

        var url = '@Url.Action("Export", "ProjectGrid")' + '?filterText=' + args.filterText + '&statuses=' + args.statuses + '&assignedUser=' + args.assignedUser + '&dateType=' + args.dateType + '&fromD=' + args.fromD + '&toD=' + args.toD;
        window.open(url, "_blank");
    }

</script>




