﻿@using SnapSuite.Models
@{
    ViewBag.Title = "Quotation Templates";
}
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-7">
            <br />
            <a class="btn btn-danger" target="_blank" href="https://quikflw.com/Help/Quotations/SampleTemplates" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-save-file"></span>&nbsp;&nbsp;Download Sample Templates</a>
            <a class="btn btn-inverse" target="_blank" href="https://quikflw.com/Help/Templates/" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Template Guide</a>
            <a class="btn btn-info" target="_blank" href="https://quikflw.com/Help/Templates/QuotationTags" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;View Tag List</a>
        </div>
        
        <div class="col-sm-12">
            <hr />
            <a class="btn btn-inverse" href="@Url.Action("Upload")"><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload New Template</a>
            <br />
            <br />
            <h4>Front Cover Templates</h4>
            @(Html.Kendo().Grid<SnapSuite.Models.QuotationTemplateViewModel>()
                .Name("GridFrontTemplates")
                .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Templates").Empty("No Front Covers Templates Added")))
                .Columns(columns =>
                {
                    columns.Bound(a => a.File.FileFormat).Title("Format").ClientTemplate("<span class='label label-danger'>#=File.FileFormat#</span>").Width("1%");
                    columns.Bound(a => a.Filename).Title("Filename").ClientTemplate("<a #if(File.FileFormat == 'Image'){# class='popup-image' #}# target='_blank' href='/File/Download/#=MakeDownloadSafe(Filename)#/#=File.FilePath#/'>#=Filename#</a>");
                    columns.Bound(a => a.File.FileSize).Title("Size").Width("1%");
                    columns.Bound(a => a.File.DateCreated).Title("Uploaded").Width("1%");
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                    ).Width("90px");
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this template?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(a => a.ID);
                        model.Field(a => a.ID).Editable(false);
                        model.Field(a => a.CompanyID).Editable(false);
                        
                        model.Field(a => a.File).Editable(false);
                        model.Field(a => a.File.FileFormat).Editable(false);
                        model.Field(a => a.File.FileSize).Editable(false);
                        model.Field(a => a.File.DateCreated).Editable(false);
                    })
                    .Read(read => read.Action("Read", "QuotationTemplates", new { type = TemplateType.Front  }))
                    .Update(update => update.Action("Update", "QuotationTemplates"))
                    .Destroy(destroy => destroy.Action("Destroy", "QuotationTemplates"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )

            <hr />
            <h4>Body Templates</h4>
            @(Html.Kendo().Grid<SnapSuite.Models.QuotationTemplateViewModel>()
                .Name("GridBodyTemplates")
                .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Templates").Empty("No Body Templates Added")))
                .Columns(columns =>
                {
                    columns.Bound(a => a.File.FileFormat).Title("Format").ClientTemplate("<span class='label label-danger'>#=File.FileFormat#</span>").Width("1%");
                    columns.Bound(a => a.Filename).Title("Filename").ClientTemplate("<a #if(File.FileFormat == 'Image'){# class='popup-image' #}# target='_blank' href='/File/Download/#=MakeDownloadSafe(Filename)#/#=File.FilePath#/'>#=Filename#</a>");
                    columns.Bound(a => a.File.FileSize).Title("Size").Width("1%");
                    columns.Bound(a => a.File.DateCreated).Title("Uploaded").Width("1%");
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                    ).Width("90px");
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this template?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(a => a.ID);
                        model.Field(a => a.ID).Editable(false);
                        model.Field(a => a.CompanyID).Editable(false);
                        
                        model.Field(a => a.File).Editable(false);
                        model.Field(a => a.File.FileFormat).Editable(false);
                        model.Field(a => a.File.FileSize).Editable(false);
                        model.Field(a => a.File.DateCreated).Editable(false);
                    })
                    .Read(read => read.Action("Read", "QuotationTemplates", new { type = TemplateType.Body }))
                    .Update(update => update.Action("Update", "QuotationTemplates"))
                    .Destroy(destroy => destroy.Action("Destroy", "QuotationTemplates"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )

            <hr />
            <h4>Back Cover Templates</h4>
            @(Html.Kendo().Grid<SnapSuite.Models.QuotationTemplateViewModel>()
                .Name("GridBackTemplates")
                .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Templates").Empty("No Back Cover Templates Added")))
                .Columns(columns =>
                {
                    columns.Bound(a => a.File.FileFormat).Title("Format").ClientTemplate("<span class='label label-danger'>#=File.FileFormat#</span>").Width("1%");
                    columns.Bound(a => a.Filename).Title("Filename").ClientTemplate("<a #if(File.FileFormat == 'Image'){# class='popup-image' #}# target='_blank' href='/File/Download/#=MakeDownloadSafe(Filename)#/#=File.FilePath#/'>#=Filename#</a>");
                    columns.Bound(a => a.File.FileSize).Title("Size").Width("1%");
                    columns.Bound(a => a.File.DateCreated).Title("Uploaded").Width("1%");
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                    ).Width("90px");
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this template?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(a => a.ID);
                        model.Field(a => a.ID).Editable(false);
                        model.Field(a => a.CompanyID).Editable(false);
                        
                        model.Field(a => a.File).Editable(false);
                        model.Field(a => a.File.FileFormat).Editable(false);
                        model.Field(a => a.File.FileSize).Editable(false);
                        model.Field(a => a.File.DateCreated).Editable(false);
                    })
                    .Read(read => read.Action("Read", "QuotationTemplates", new { type = TemplateType.Back }))
                    .Update(update => update.Action("Update", "QuotationTemplates"))
                    .Destroy(destroy => destroy.Action("Destroy", "QuotationTemplates"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

