﻿@using SnapSuite.Models
@model TemplateUploadViewModel
@{
    ViewBag.Title = "Upload Quotation Template";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="col-xs-5">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>
        <div class="col-xs-5 hidden-sm hidden-xs">
            <br />
            <a class="btn btn-danger" target="_blank" href="https://quikflw.com/Help/Quotations/SampleTemplates" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-save-file"></span>&nbsp;&nbsp;Download Sample Templates</a>
            <a class="btn btn-inverse" target="_blank" href="https://quikflw.com/Help/Templates/" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Template Guide</a>
            <a class="btn btn-info" target="_blank" href="https://quikflw.com/Help/Templates/QuotationTags" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;View Tag List</a>
        </div>

        <div class="col-xs-12">
            <div style="display:inline-block; width:250px; vertical-align:top; ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a> Create Template<span class="glyphicon glyphicon-ok" style="float:right"></span></a></li>
                            <li role="presentation" class="active"><a> Review Template<span class="glyphicon glyphicon-ok" style="float:right"></span></a></li>
                            <li role="presentation" class="active"><a> Complete Upload<span class="glyphicon glyphicon-ok" style="float:right"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 255px)">
                @using (Html.BeginForm("UploadFinish", "QuotationTemplates", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Format)
                    @Html.HiddenFor(model => model.Stage)
                    
                    <div class="col-sm-6">
                        <h4>Step 3. Complete Upload</h4>
                        <hr />
                        <label>Please enter the name of your template:</label>
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @style= "width:100%" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        <br />
                        <label>Select template type:</label><br />
                        @(Html.Kendo().DropDownListFor(m => m.Type)
                            .BindTo(new List<string>() { TemplateType.Front.ToString(), TemplateType.Body.ToString(), TemplateType.Back.ToString() })
                        )

                        <hr />
                        <input type="submit" name="Compelete" value="Complete Upload" class="btn btn-primary" />
                        &nbsp;<a class="btn btn-danger" href="@Url.Action("Index")">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

