﻿@model SnapSuite.Models.TemplateUploadViewModel
@{
    ViewBag.Title = "Upload Quotation Template";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="col-xs-5">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>
        <div class="col-xs-7 hidden-sm hidden-xs">
            <br />
            <a class="btn btn-danger" target="_blank" href="https://quikflw.com/Help/Quotations/SampleTemplates" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-save-file"></span>&nbsp;&nbsp;Download Sample Templates</a>
            <a class="btn btn-inverse" target="_blank" href="https://quikflw.com/Help/Templates/" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Template Guide</a>
            <a class="btn btn-info" target="_blank" href="https://quikflw.com/Help/Templates/QuotationTags" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;View Tag List</a>
        </div>

        <div class="col-xs-12">
            <div style="display:inline-block; width:250px; vertical-align:top; ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a> Create Template<span class="glyphicon glyphicon-ok" style="float:right"></span></a></li>
                            <li role="presentation"><a> Review Template</a></li>
                            <li role="presentation"><a> Complete Upload</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 255px)">
                @using (Html.BeginForm("Upload", "QuotationTemplates", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.Type)
                    @Html.HiddenFor(model => model.Format)
                    @Html.HiddenFor(model => model.Stage)
                    
                    <div class="col-sm-6">
                        <h4>Step 1. Create your template</h4>
                        <hr />
                        <p>Create your own template which must be a Word document. Indicate where you want specific details and information using placed tag indicates, such as {QuotationNumber}, {ClientName}, etc. </p>
                        <p><a target="_blank" href="https://quikflw.com/Help/Templates/QuotationTags"><strong>View complete tag list here.</strong></a></p>
                        <p style="color:red"><strong>Note:</strong> Body templates must be Docx file format.</p>
                        <p style="color:red"><strong>Note:</strong> For the best results please use JPG images instead of PNG images.</p>

                        <br />
                        
                        <hr />
                        <input type="submit" name="NextStage" value="Next" class="btn btn-primary" />
                        &nbsp;<a class="btn btn-danger" href="@Url.Action("Index")">Cancel</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

