﻿@model SnapSuite.Models.TemplateUploadViewModel
@{
    ViewBag.Title = "Upload Quotation Template";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="col-xs-5">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>
        <div class="col-xs-7 hidden-sm hidden-xs">
            <br />
            <a class="btn btn-danger" target="_blank" href="https://quikflw.com/Help/Quotations/SampleTemplates" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-save-file"></span>&nbsp;&nbsp;Download Sample Templates</a>
            <a class="btn btn-inverse" target="_blank" href="https://quikflw.com/Help/Templates/" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;Template Guide</a>
            <a class="btn btn-info" target="_blank" href="https://quikflw.com/Help/Templates/QuotationTags" style="float:right; margin-right:5px;"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;View Tag List</a>
        </div>

        <div class="col-xs-12">
            <div style="display:inline-block; width:250px; vertical-align:top; ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="active"><a> Create Template<span class="glyphicon glyphicon-ok" style="float:right"></span></a></li>
                            <li role="presentation" class="active"><a> Review Template<span class="glyphicon glyphicon-ok" style="float:right"></span></a></li>
                            <li role="presentation"><a>Complete Upload</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 255px)">
                @using (Html.BeginForm("Upload", "QuotationTemplates", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Name)
                    @Html.HiddenFor(model => model.Type)
                    @Html.HiddenFor(model => model.Format)
                    @Html.HiddenFor(model => model.Stage)
                    
                    <div class="col-md-4">
                        <h4>Step 2. Upload and Review Template</h4>
                        <hr />
                        <p>Simply select the template on your computer below. The file should be in ".docx" format.</p>
                        <p>Once uploaded you will be able to see a preview a sample generated from the template.</p>
                        <br />
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <label>Upload new template.</label>
                        }
                        <div class="input-group">
                            <span class="form-control">
                                <input id="uploadedTemplate" type="file" name="uploadedTemplate" accept=".docx" />
                            </span>
                            <span class="input-group-btn">
                                <input type="submit" value="Upload " class="btn btn-success" />
                            </span>
                        </div>
                        <span style="font-size:x-small">Max 20Mbs</span>
                        <br />
                        <br />
                        <hr />
                        <input type="submit" name="PreviousStage" value="Previous" class="btn btn-default" />&nbsp;
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <input type="submit" name="NextStage" value="Next" class="btn btn-primary" />
                        }
                        else
                        {
                            <a href="#" class="btn btn-default" title="Upload a template first" style="cursor:not-allowed;">Next</a>
                        }
                        &nbsp;<a class="btn btn-danger" href="@Url.Action("Index")">Cancel</a>
                        <br />
                        <br />
                    </div>
                    
                    
                    if (ViewBag.SuccessMessage != null)
                    {
                        <div class="col-md-8">
                            @(Html.Kendo().DropDownList()
                                .Name("DD_QuoteSample")
                                .HtmlAttributes(new { style = "width:100%;" })
                                .DataValueField("ID")
                                .DataTextField("Name")
                                .OptionLabel("Select existing to use as sample")
                                .DataSource(source => source.Read(read => read.Action("DropDownQuotations", "QuotationTemplates")))
                                .Events(e => e.Change("OnQuotationSampleChange"))
                            )
                            <object id="pdfPreview" data="@Url.Action("PreviewTemplate", new { format = Model.Format, id = "" })" type="application/pdf" style="width:100%; height:1000px">
                                <div class="alert alert-danger" role="alert"><strong><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Unable to load PDF Preview. Please make sure your browser has a PDF viewer plugin installed.</strong></div>
                            </object>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-8">
                            <div style="width:100%; height:1000px; background-color:lightgray; text-align:center;">
                                <h1 style="color:black; padding-top:50%" >Upload template to see Preview</h1>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>


<script>

    function OnQuotationSampleChange(e) {
        var value = this.value();
        var url = '@(Url.Action("PreviewTemplate", new { format = Model.Format }))&id=' + value;
        $("#pdfPreview").attr("data", url);
    }
</script>

