﻿@model SnapSuite.Models.OpportunityViewModel

@Html.Partial("_EditOpportunityDetails", Model)

<div>  
    <div class="col-sm-12">
        <br />
        @(Html.Kendo().TabStrip().Scrollable(false)
        .Name("Opportunity_Tabstrip")
        .Items(tabstrip =>
        {
            tabstrip.Add().Text("Events").Content(@Html.Partial("_EventsTab", Model).ToHtmlString()).Selected(true);
        }))
    </div>  
</div>
