﻿@model SnapSuite.Models.OpportunityViewModel

<script>
        function OnClientChange() {
            $('#ClientContactID').data('kendoDropDownList').dataSource.read();
        }

        function OnOppTypeChange() {
            $('#StatusID').data('kendoDropDownList').dataSource.read();
        }

        function OnClientContactChange(e) {
            var selected = this.dataItem();
            var title = selected.Title;
            var firstname = selected.FirstName;
            var lastname = selected.LastName;
            var email = selected.Email;
            var mobile = selected.Mobile;
            var telephone = selected.Telephone;
            var position = selected.Position;

            $('#label-contact-title').text(title||"");
            $('#label-contact-firstname').text(firstname||"");
            $('#label-contact-lastname').text(lastname||"");
            $('#label-contact-email').text(email||"");
            $('#label-contact-mobile').text(mobile||"");
            $('#label-contact-telephone').text(telephone||"");
            $('#label-contact-position').text(position||"");
        }
        /*
        setTimeout(function(){
            $('#Importance').data('kendoSlider').trigger('change');
            $('#Probability').data('kendoSlider').trigger('change');
        }, 1)*/

</script>

<div id="divEditOpportunity">

    @if (!ViewBag.EditCRM)
    {
        <script> $("divEditOpportunity").submit(function (e) { e.preventDefault(e); }); </script>
    }

    <div class="row form-table" style="padding-left:15px; padding-right:15px;">
        <div class="col-sm-12">
            @using (Ajax.BeginForm((ViewBag.EditCRM) ? "_EditOpportunityDetails" : "", "Pipeline", null, new AjaxOptions { UpdateTargetId = "divEditOpportunity" }, new { id = "EditOpportunityForm", method = "post" }))
            {
                @Html.AntiForgeryToken()
                //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.OpportunityTypeID)
                @Html.HiddenFor(model => model.ClientID)
                @Html.HiddenFor(model => model.ClientName)
                @Html.HiddenFor(model => model.StatusID)
                <div class="row">
                    <div class="col-xs-9">
                        <h2>@Model.ClientName : @Model.Name</h2>
                    </div>
                    <div class="col-xs-3">
                        <br />
                        <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                    </div>
                    <div class="col-xs-12">
                        <div class="arrow-steps clearfix">
                            @foreach (var statusLog in Model.OpportunityStatusLogs)
                            {
                                if (statusLog.Status.ID == Model.StatusID)
                                {
                                    <div class="step current" style="width:@(970 / @Model.OpportunityStatuses.Count)px;" title="@statusLog.Status.Name"> 
                                        <span style="font-weight:bold; white-space:nowrap; overflow: hidden;">@statusLog.Status.Name</span>
                                        @if (statusLog.Log != null)
                                        {
                                            <br />
                                            <span title="@statusLog.Log.Timestamp.ToString("dd/MM/yyyy HH:mm")">@statusLog.Log.Timestamp.ToString("dd/MM/yyyy")</span>
                                        } 
                                    </div>
                                }
                                else
                                {
                                    <div class="step" style="width:@(970 / @Model.OpportunityStatuses.Count)px; cursor: pointer;" onclick="ChangeStatus('@Model.ID', '@statusLog.Status.ID')" title="@statusLog.Status.Name"> 
                                        <span style="font-weight:bold; white-space:nowrap; overflow: hidden;">@statusLog.Status.Name</span>
                                        @if (statusLog.Log != null)
                                        {
                                            <br />
                                            <span title="@statusLog.Log.Timestamp.ToString("dd/MM/yyyy HH:mm")">@statusLog.Log.Timestamp.ToString("dd/MM/yyyy")</span> 
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row">   
                    <div class="col-sm-12">
                        <hr style="margin-top:5px;"/>
                    </div>
                    <div class="col-sm-6">
                        <table>
                            <tr>
                                <td style="width:100px"><label>Name:</label></td>
                                <td>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Opportunity Name", @style = "width: 100%; max-width: none;" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            <tr>
                                <td><label>Type:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownList()
                                          .Name("LB_OppType")
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .Events(e => e.Change("OnOppTypeChange"))
                                          .DataSource(dataSource => dataSource.Read("DropDownOpportunityTypes", "OpportunityTypes"))
                                          .Value(Model.OpportunityTypeID)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                          .Enable(false)
                                    )
                                </td>
                            </tr>
                            @*<tr>
                                <td><label>Status:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.StatusID)
                                          .Name("DD_StatusID")
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownOpportunityStatuses", "OpportunityStatuses").Data("function() { return { oppTypeID: $('#OpportunityTypeID').val() }}"); });
                                          })
                                          .Value(Model.StatusID)
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                          .Enable(false)
                                    )
                                    @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                                </td>
                            </tr>*@
                            <tr>
                                <td><label>Client:</label></td>
                                <td>
                                    @(Html.Kendo().DropDownList()
                                          .Name("DD_Client")
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .Filter("contains")
                                          .OptionLabel("  ")
                                          .BindTo(new List<SnapSuite.Models.SelectItemViewModel>()
                                          {
                                              new SnapSuite.Models.SelectItemViewModel(){ ID = Model.ClientID, Name = Model.ClientName }
                                          })
                                          .Value(Model.ClientID)
                                          .Events(e => e.Change("OnClientChange"))
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                          .Enable(false)
                                    )
                                </td>
                            </tr>

                            <tr>
                                <td><label>Contact:</label></td>
                                <td>
                                    <div class="input-group">
                                        @(Html.Kendo().DropDownListFor(model => model.ClientContactID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel("   ")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#ClientID').val() }}"); });
                                          })
                                          .Value(Model.ClientContactID)
                                          .Events(e => e.Change("OnClientContactChange").DataBound("OnClientContactChange"))
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                        )
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" onclick="EditClientContact();">Edit Contact</a></li>
                                                <li><a href="#" onclick="AddClientContact();">Add New Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Assigned To: </label></td>
                                <td>
                                    @(Html.Kendo().DropDownListFor(model => model.AssignedUserID)
                                          .DataTextField("Email").DataValueField("ID")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownUsers", "Dropdowns"); });
                                          })
                                          .Value(Model.AssignedUserID)
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                    )
                                </td>
                            </tr>
                            <tr>
                                <td><label>Value: </label></td>
                                <td>
                                    @(Html.Kendo().NumericTextBoxFor(model => model.Value)
                                                  .Format("c")
                                                  .HtmlAttributes(new { @style = "width: 150px;"})
                                    )
                                </td>
                            </tr>
                            <tr><td><br /></td></tr>
                            <tr>
                                <td><label>@Model.LabelValue1: </label></td>
                                <td>
                                    @(Html.Kendo().SliderFor(model => model.Importance)
                                                  .Min(0)
                                                  .Max(100)
                                                  .Value(Model.Importance)
                                                  .SmallStep(5)
                                                  .LargeStep(20)
                                                  //.Events(ev => ev.Change("OnSliderChange").Slide("OnSliderChange"))
                                                  .HtmlAttributes(new { @style = "width: 400px;" })
                                    )
                                </td>
                            </tr>
                            <tr><td><br /></td></tr>
                            <tr>
                                <td><label>@Model.LabelValue2: </label></td>
                                <td>
                                    @(Html.Kendo().SliderFor(model => model.Probability)
                                                  .Min(0)
                                                  .Max(100)
                                                  .Value(Model.Probability)
                                                  .SmallStep(5)
                                                  .LargeStep(20)
                                                  //.Events(ev => ev.Change("OnSliderChange").Slide("OnSliderChange"))
                                                  .HtmlAttributes(new { @style = "width: 400px;" })
                                    )
                                </td>
                            </tr>
                        </table>
                        <br />
                    </div>      
                    <div class="col-sm-6">
                        <div class="panel panel-info">
                            <div class="panel-heading div-inline">
                                Contact Details
                            </div>
                            <div class="panel-body" style="padding: 5px 15px 5px 15px;">
                                <table style="margin-bottom: 0;">
                                    <tr>
                                        <td style="width: 100px;"><label>Title:</label></td>
                                        <td><label id="label-contact-title"></label></td>
                                    </tr>
                                    <tr>
                                        <td><label>First Name:</label></td>
                                        <td><label id="label-contact-firstname"></label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Last Name:</label></td>
                                        <td><label id="label-contact-lastname"></label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Email:</label></td>
                                        <td><label id="label-contact-email"></label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Mobile:</label></td>
                                        <td><label id="label-contact-mobile"></label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Telephone:</label></td>
                                        <td><label id="label-contact-telephone"></label></td>
                                    </tr>
                                    <tr>
                                        <td><label>Position:</label></td>
                                        <td><label id="label-contact-position"></label></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <table>
                            <tr>
                                <td style="width:100px; vertical-align:baseline;">
                                    <label>Description:</label>
                                </td>
                                <td>
                                    @Html.TextAreaFor(model => model.Description, 6, 100, new { @class = "form-control", @placeholder = "Enter Description here", @style = "width:100%; max-width:none; margin-bottom:10px;" })
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <hr class="visible-xs" />
                        
                    </div>
                </div>
                <div class="row">
                    @if (ViewBag.EditCRM)
                    { 
                        <div class="col-sm-12">
                            <hr />
                            <input type="submit" value="Save Item Details" class="btn btn-inverse">
                            @Html.Kendo().CheckBoxFor(model => model.Archived).Label("Archive this item")
                            <br />
                            @if (ViewBag.Saved ?? false)
                            {
                                <label id="l_Saved"><strong>Details Saved!</strong></label>
                                <script>
                                    setTimeout(function () { $("#l_Saved").fadeOut(); }, 2000);
                                </script>                             
                            }
                            @if (ViewBag.Refresh ?? false)
                            {
                                <script>
                                    EditOpportunity('@(Model.ID)');
                                </script>
                            }                            
                        </div>
                    }
                </div>
            }

        </div>
        
    </div>

</div>


<style>
    .arrow-steps .step {
        font-size: 14px;
        text-align: center;
        color: #666;
        cursor: default;
        margin: 0 3px;
        padding: 10px 10px 10px 30px;
        min-width: 100px;
        float: left;
        position: relative;
        background-color: #d9e3f7;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: background-color 0.2s ease;
    }

    .arrow-steps .step:after,
    .arrow-steps .step:before {
        content: " ";
        position: absolute;
        top: 0;
        right: -17px;
        width: 0;
        height: 0;
        border-top: 19px solid transparent;
        border-bottom: 17px solid transparent;
        border-left: 17px solid #d9e3f7;
        z-index: 2;
        transition: border-color 0.2s ease;
    }

    .arrow-steps .step:before {
        right: auto;
        left: 0;
        border-left: 17px solid #fff;
        z-index: 0;
    }

    .arrow-steps .step:first-child:before {
        border: none;
    }

    .arrow-steps .step:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .arrow-steps .step span {
        position: relative;
    }

        .arrow-steps .step span:before {
            opacity: 0;
            content: "✔";
            position: absolute;
            top: -2px;
            left: -20px;
        }

    .arrow-steps .step.done span:before {
        opacity: 1;
        -webkit-transition: opacity 0.3s ease 0.5s;
        -moz-transition: opacity 0.3s ease 0.5s;
        -ms-transition: opacity 0.3s ease 0.5s;
        transition: opacity 0.3s ease 0.5s;
    }

    .arrow-steps .step.current {
        color: #fff;
        background-color: #23468c;
    }

    .arrow-steps .step.current:after {
        border-left: 17px solid #23468c;
    }
</style>