﻿@model SnapSuite.Models.OpportunityViewModel

<script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                CreatedOpportunity(response["ID"]);
            }
        }

        function OnClientChange() {
            $('#ClientContactID').data('kendoDropDownList').dataSource.read();
        }

        function OnOppTypeChange() {
            $('#StatusID').data('kendoDropDownList').dataSource.read();
        }

        function OnClientContactChange(e) {
            var selected = this.dataItem();
            var title = selected.Title;
            var firstname = selected.FirstName;
            var lastname = selected.LastName;
            var email = selected.Email;
            var mobile = selected.Mobile;
            var telephone = selected.Telephone;
            var position = selected.Position;

            $('#label-contact-title').text(title||"");
            $('#label-contact-firstname').text(firstname||"");
            $('#label-contact-lastname').text(lastname||"");
            $('#label-contact-email').text(email||"");
            $('#label-contact-mobile').text(mobile||"");
            $('#label-contact-telephone').text(telephone||"");
            $('#label-contact-position').text(position||"");
        }

</script>

<div id="divNewOpportunity">
        
    @using (Ajax.BeginForm("_NewOpportunity", "Pipeline", null, new AjaxOptions { UpdateTargetId = "divNewOpportunity", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()        
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>New Opportunity</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>
        <div class="row form-table">   
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-6">
                <table>
                    <tr>
                        <td style="width:100px"><label>Name:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Enter Opportunity Name", @style = "width: 100%; max-width: none;" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Type:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.OpportunityTypeID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .Events(e => e.Change("OnOppTypeChange"))
                                          .DataSource(dataSource => dataSource.Read("DropDownOpportunityTypes", "OpportunityTypes"))
                                          .Value(Model.OpportunityTypeID)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            @Html.ValidationMessageFor(model => model.OpportunityTypeID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Status:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.StatusID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownOpportunityStatuses", "OpportunityStatuses").Data("function() { return { oppTypeID: $('#OpportunityTypeID').data('kendoDropDownList').value() }}"); });
                                          })
                                          .Value(Model.StatusID)
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                            )
                            @Html.ValidationMessageFor(model => model.StatusID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Client:</label></td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ClientID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .Filter("contains")
                                          .OptionLabel("  ")
                                          .DataSource(source =>
                                          {
                                              source.Custom()
                                                  .ServerFiltering(true)
                                                  .ServerPaging(true)
                                                  .PageSize(80)
                                                  .Type("aspnetmvc-ajax")
                                                  .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                                                  .Schema(schema => schema.Data("Data").Total("Total"));
                                          })
                                          .Events(e => e.Change("OnClientChange"))
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClient();">Edit Client</a></li>
                                        <li><a href="#" onclick="AddClient();">Add New Client</a></li>
                                    </ul>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                            
                    <tr>
                        <td><label>Contact:</label></td>
                        <td>
                            <div class="input-group">
                                @(Html.Kendo().DropDownListFor(model => model.ClientContactID)
                                          .DataTextField("Name")
                                          .DataValueField("ID")
                                          .OptionLabel("   ")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts").Data("function() { return { cltID: $('#ClientID').data('kendoDropDownList').value() }}"); });
                                          })
                                          .Value(Model.ClientContactID)
                                          .Events(e => e.Change("OnClientContactChange").DataBound("OnClientContactChange"))
                                          .AutoBind(true)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                                )
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" onclick="EditClientContact();">Edit Contact</a></li>
                                        <li><a href="#" onclick="AddClientContact();">Add New Contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Assigned To: </label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.AssignedUserID)
                                          .DataTextField("Email").DataValueField("ID")
                                          .DataSource(source =>
                                          {
                                              source.Read(read => { read.Action("DropDownUsers", "Dropdowns"); });
                                          })
                                          .AutoBind(true)
                                          .Value(Model.AssignedUserID)
                                          .HtmlAttributes(new { style = "width: 100%;" })
                            )
                        </td>
                    </tr>
                    <tr>
                        <td><label>Value: </label></td>
                        <td>
                            @(Html.Kendo().NumericTextBoxFor(model => model.Value)
                                                  .Format("c")
                                                  .HtmlAttributes(new { @style = "width: 150px;" })
                            )
                        </td>
                    </tr>
                    <tr><td><br /></td></tr>
                    <tr>
                        <td><label>@Model.LabelValue1: </label></td>
                        <td>
                            @(Html.Kendo().SliderFor(model => model.Importance)
                                                  .Min(0)
                                                  .Max(100)
                                                  .Value(Model.Importance)
                                                  .SmallStep(5)
                                                  .LargeStep(20)
                                                  //.Events(ev => ev.Change("OnSliderChange").Slide("OnSliderChange"))
                                                  .HtmlAttributes(new { @style = "width: 400px;" })
                            )
                        </td>
                    </tr>
                    <tr><td><br /></td></tr>
                    <tr>
                        <td><label>@Model.LabelValue2: </label></td>
                        <td>
                            @(Html.Kendo().SliderFor(model => model.Probability)
                                                  .Min(0)
                                                  .Max(100)
                                                  .Value(Model.Probability)
                                                  .SmallStep(5)
                                                  .LargeStep(20)
                                                  //.Events(ev => ev.Change("OnSliderChange").Slide("OnSliderChange"))
                                                  .HtmlAttributes(new { @style = "width: 400px;" })
                            )
                        </td>
                    </tr>
                </table>
                <br />
            </div>      
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading div-inline">
                        Contact Details
                    </div>
                    <div class="panel-body" style="padding: 5px 15px 5px 15px;">
                        <table style="margin-bottom: 0;">
                            <tr>
                                <td style="width: 100px;"><label>Title:</label></td>
                                <td><label id="label-contact-title"></label></td>
                            </tr>
                            <tr>
                                <td><label>First Name:</label></td>
                                <td><label id="label-contact-firstname"></label></td>
                            </tr>
                            <tr>
                                <td><label>Last Name:</label></td>
                                <td><label id="label-contact-lastname"></label></td>
                            </tr>
                            <tr>
                                <td><label>Email:</label></td>
                                <td><label id="label-contact-email"></label></td>
                            </tr>
                            <tr>
                                <td><label>Mobile:</label></td>
                                <td><label id="label-contact-mobile"></label></td>
                            </tr>
                            <tr>
                                <td><label>Telephone:</label></td>
                                <td><label id="label-contact-telephone"></label></td>
                            </tr>
                            <tr>
                                <td><label>Position:</label></td>
                                <td><label id="label-contact-position"></label></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <table>
                    <tr>
                        <td style="width:100px; vertical-align:baseline;">
                            <label>Description:</label>
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Description, 6, 100, new { @class = "form-control", @placeholder = "Enter Description here", @style = "width:100%; max-width:none; margin-bottom:10px;" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <br /><br />
                <input type="submit" value="Create Opportunity" class="btn btn-inverse">
            </div>
        </div>
    }

    
</div>
