﻿@model List<SnapSuite.Models.OpportunityStatusViewModel>

<script>
    RefreshAll()

    function RefreshAll() {
        @if(Model.Count() > 0)
        { <text>
            $.ajax({
                url: '/OpportunitiesGrid/ReadAll',
                type: 'POST',
                data: {
                    oppTypeID: '@Model.First().OpportunityTypeID',
                    filterText: $('#TB_Filter').val(),
                    assignedUser: $("#DD_AssignedUsers").data("kendoDropDownList").value(),
                    showArchived: ( $("#CB_ShowArchived").is(':checked') ) ? true : false

                },
                success: function(response) {
                    response.forEach(function(item, index) {
                        var oppStatusID = item.oppStatusID;
                        $("#ListBox_" + oppStatusID).data("kendoListBox").dataSource.data(item.opportunities);
                    })
                }
            })
            </text>
        }
    }




    function OnReorder(e) {
        console.log('OnReorder')
        var dataItem = e.dataItems[0];
        $.ajax({
            url: '/Pipeline/Reorder',
            type: 'POST',
            data: {
                id: dataItem.ID,
                offset: e.offset
            },
            success: function(response) {
            }
        });
    }

    function OnDrop(e) {
        console.log('OnDrop')
    }

    function OnChange(e) {
        console.log('OnChange')
    }

    function OnAdd(e) {
        console.log('OnAdd')
        var dataItem = e.dataItems[0];

        setTimeout(function(){
            $.ajax({
                url: '/Pipeline/ChangeStatus',
                type: 'POST',
                data: {
                    id: dataItem.ID,
                    statusID: GetStatusID(e),
                    pos: GetPosition(e)
                },
                success: function(response) {
                    //e.sender.dataSource.read();
                }
            });
        }, 1);
    }

    function ChangeStatus(id, statusID) {
        if(!confirm("Move to this stage?")) return;
        $.ajax({
            url: '/Pipeline/ChangeStatus',
            type: 'POST',
            data: {
                id: id,
                statusID: statusID,
                pos: 1
            },
            success: function(response) {
                CreatedOpportunity(id);
            }
        });
    }

    function GetStatusID(e) {
        var statusID = e.sender.element.attr("data-id");
        return statusID;
    }

    function GetPosition(e) {
        var pos = e.sender.element.children('option[value="' + e.dataItems[0].ID + '"]').index() + 1;
        return pos;
    }

</script>

@if (Model.Count() != 0)
{
    foreach (var status in Model)
    {
        <div class="panel panel-info panel-status opportunity-panel">
            <div class="panel-heading div-inline opportunity-panel-heading">
                @status.Name
                <div class="btn btn-xs" title="New Opportunity" onclick="NewOpportunity('@status.ID')"><span class="glyphicon glyphicon-plus" style="margin-bottom: 6px;"></span></div>
            </div>
            <div class="panel-body opportunity-panel-body">
                
                @(Html.Kendo().ListBox()
                      .Name("ListBox_" + status.ID)
                      .DataValueField("ID")
                      .DataTextField("Name")
                      .TemplateId("List-Opportunity-template")
                      .Draggable(true)
                      .DropSources(Model.Where(x => x != status).Select(x => string.Format("ListBox_{0}", x.ID.ToString())).ToArray())
                      .Selectable(ListBoxSelectable.Single)
                      .HtmlAttributes(new { @data_id = status.ID, @data_name = status.Name })
                      .Events(events => events.Reorder("OnReorder")
                                              .Drop("OnDrop")
                                              .Change("OnChange")
                                              .Add("OnAdd")
                      )
                )
            </div>
        </div>
    }

    <br />
    <br />
}
else
{
    <text>
        <h1>Please click <a href="/OpportunitySettings/Edit" style="font-size:50px; font-weight:bolder;">here</a> to create a new opportunity type</h1>
    </text>
}
<script id="List-Opportunity-template" type="text/x-kendo-template">
    <div class="opportunity-listitem" title="#=data.ClientName# : #=data.Name#" onclick="EditOpportunity('#=data.ID#'); return false;">
        <div style="font-size:12px; color: black; width:99%" class="row">
            <div class="col-xs-10">
                <div style="overflow-wrap:normal; white-space:normal;">#=data.ClientName#</div>
                <div style="overflow-wrap:normal; white-space:normal;">#=data.Name#</div>
            </div>
            <div class="col-xs-2">
                #if(data.Status == 2)
                {#
                <div class="pull-right" style="color:green; font-size:22px; margin-right:-25px;" title="#=data.EventDescription#"><i class="fa fa-calendar"></i></div>
                #}
                else if (data.Status == 1)
                {#
                <div class="pull-right" style="color:red; font-size:22px; margin-right:-25px;" title="#=data.EventDescription#"><i class="fa fa-calendar"></i></div>
                #}
                else if (data.Status == 0)
                {#
                <div class="pull-right" style="color:grey; font-size:22px; margin-right:-25px;" title="#=data.EventDescription#"><i class="fa fa-calendar"></i></div>
                #}#
            </div>
            <div class="col-xs-3">
                #=kendo.toString(data.Value, "c")#
            </div>
            <div class="col-xs-9">
                <div title="#=data.LabelValue1#: #=data.Importance#%" style="height:10px;width:#=data.Importance#%; background-color:\\#80e682; border-radius: 5px; margin-bottom: 2px;"></div>
                <div title="#=data.LabelValue2#: #=data.Probability#%" style="height:10px;width:#=data.Probability#%; background-color:\\#80e682; border-radius: 5px; margin-bottom: 2px;"></div>
            </div>
        </div>

    </div>
</script>
