﻿@{
    ViewBag.Title = "Pipeline";
}

<style>
    .footer {
        display:none;
    }
</style>

<div class="container opportunity-container">
    <div class="row">
        <div class="col-xs-9">
            <h1 style="margin-bottom:0px;">Workflow Pipeline</h1>
        </div>
        <div class="col-xs-3">
            <br />
            @(Html.Kendo().DropDownList()
                            .Name("DD_OppType")
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .Events(e => e.Change("DD_OppTypeChanged"))
                            .DataSource(dataSource => dataSource.Read("DropDownOpportunityTypes", "OpportunityTypes"))
                            .Value((string)ViewBag.oppTypeID)
                            .HtmlAttributes(new { style = "width: 200px; float:right;" })
                            .Events(x => x.DataBound("DD_OppTypeChanged"))
            )
        </div>
     </div>
     <div class="row" style="margin-bottom:8px;">
        <div class="col-sm-12">
            <hr style="margin:10px;"/>
        </div>
        <div class="col-sm-4">
            @if (ViewBag.EditCRM)
            {
                <button class="btn btn-info btn-sm" onclick="NewOpportunity();"><span class="glyphicon glyphicon-time"></span>&nbsp;New Item</button>
                <button class="btn btn-default btn-sm" onclick="Refresh();"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>
            }
        </div>
        <div class="col-sm-3 hidden-xs">            
            @(Html.Kendo().DropDownList()
                          .Name("DD_AssignedUsers")
                          .DataTextField("Email")
                          .DataValueField("ID")
                          .OptionLabel("All Users")
                          .Events(e => e.Change("Refresh"))
                          .DataSource(source =>
                          {
                              source.Read(read => read.Action("DropDownUsersWithNotAssigned", "Dropdowns"));
                          })
                          .AutoBind(true)
                          .Value((string)ViewBag.assignedUser)
                          .HtmlAttributes(new { style = "width: 100%;"})
            )
        </div>
        <div class="col-sm-3 hidden-xs">
            <div class="input-group">
                @Html.TextBox("TB_Filter", (string)ViewBag.filterText, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Opportunity Name, or Client Name" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
        <div class="col-sm-2 hidden-xs">
            @Html.CheckBox("CB_ShowArchived", Boolean.Parse((string)ViewBag.showArchived), new { @onclick = "Refresh()", @style = "margin-top: 10px;" })&nbsp;<label for="CB_ShowArchived"><strong>Include Archived</strong></label>            
        </div>
    </div>

    <div class="row opportunity-row" id="PartialView_Opportunities">
        @*@Html.Action("_Opportunities")*@
    </div>
</div>
<div id="Content_ItemPhoto" style="z-index: 2130; position: fixed; width: 70%; height:80%; max-width:600px; display: none; top: 0; right:0; left:0; bottom:0; margin:auto; overflow:auto;">
    <div id="div_itemPhoto">

    </div>
</div>
<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1100px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<div class="modal fade" id="Modal1">
    <div class="modal-dialog modal-larger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title div-inline">Event</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-50px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_Edit_Client">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0px;">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_Edit_Contact">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding: 0px;">
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Load cookie values here
        //GetSearchInfo();
        Refresh();
    });
    @if (ViewBag.ID != null) {
        <text>
        window.location.href.replace(window.location.search, '');
        EditOpportunity('@ViewBag.ID');
        </text>
    }

    $("#TB_Filter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshAll();
        //}
    });

    function Refresh() {
        RefreshAll()
        //Save cookie values here
    }

    function DD_DateChanged() {
        var id = $("#DD_Date").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh();
    }

    function OnGridEventsRequestEnd(e) {
        //RequestEnd handler code
        if (e.type !== null && e.type !== 'read') {
            Refresh();
        }
    }

    function DD_OppTypeChanged() {
        $('#PartialView_Opportunities').load('/Pipeline/_Opportunities', { oppTypeID: $('#DD_OppType').val() });
    }

    function HideViews() {
        if ($('#Modal_Edit_Client').hasClass('in')) {
            $('#Modal_Edit_Client').modal('hide');
        } else if ($('#Modal_Edit_Contact').hasClass('in')) {
            $('#Modal_Edit_Contact').modal('hide');
        }
        else {
            $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
            setTimeout(function () {
                $("#SlideContent_Edit").fadeOut();
                $("#Button_Close_Content").fadeOut();
                Refresh();
            }, 300);
        }
    }

    function NewOpportunity(statusID) {
        var typeID = $('#DD_OppType').val();
        $("#Edit_Body").load("@Url.Action("_NewOpportunity", "Pipeline")" + "?typeID=" + typeID + "&statusID=" + statusID);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedOpportunity(id) {
        var url = '@Url.Action("_EditOpportunity", "Pipeline")' + '?ID=' + id;
        $("#Edit_Body").load(url);
    }

    function EditOpportunity(id) {
        var url = '@Url.Action("_EditOpportunity", "Pipeline")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    /* For Edit/New Opportunity*/
    /*
    function OnSliderChange(e) {
        var value = e.sender.element[0].value;
        var top = this.element.closest(".k-slider-wrap");
        if (value < 33) {
            $(".k-slider-selection", top).css("background-color", "#ebebeb");
        } else if (value < 66) {
            $(".k-slider-selection", top).css("background-color", "#80e682");
        } else {
            $(".k-slider-selection", top).css("background-color", "#ee7070");
        }
    }*/

    function AddClient(id) {
        var url = '/Clients/_AddClientPopup?OrderID=' + 'NewOpp' + "&Type=Opportunity";

        $("#Modal_Edit_Client .modal-body").load(url);
        $('#Modal_Edit_Client').modal('show');
    }

    function EditClient() {
        var clientID = $('#ClientID').val();
        if (clientID == null || clientID == undefined || clientID == "") {
            return alert("Please select a client");
        }
        var url = '/Clients/_EditClientPopup?OrderID=' + 'NewOpp' + "&Type=Opportunity" + "&ClientID=" + clientID;

        $("#Modal_Edit_Client .modal-body").load(url);
        $('#Modal_Edit_Client').modal('show');
    }

    function AddClientContact() {
        var clientID = $('#ClientID').val();
        if (clientID == null || clientID == undefined || clientID == "") {
            return alert("Please select a client");
        }
        var url = '/Clients/_AddClientContactPopup?OrderID=' + 'NewOpp' + "&Type=Opportunity" + "&ClientID=" + clientID;

        $("#Modal_Edit_Contact .modal-body").load(url);
        $('#Modal_Edit_Contact').modal('show');
    }

    function EditClientContact() {
        var clientContactID = $('#ClientContactID').val();
        if (clientContactID == null || clientContactID == undefined || clientContactID == "") {
            return alert("Please select a contact");
        }
        var url = '/Clients/_EditClientContactPopup?OrderID=' + 'NewOpp' + "&Type=Opportunity" + "&ClientContactID=" + clientContactID;

        $("#Modal_Edit_Contact .modal-body").load(url);
        $('#Modal_Edit_Contact').modal('show');
    }

    function OnEditClientContactAddress(type, id) {
        HideViews();
        if (type == 'Client') {
            $('#ClientID').data('kendoDropDownList').dataSource.read().then(function(){
                $('#ClientID').data('kendoDropDownList').value(id);
                $('#ClientID').data('kendoDropDownList').trigger('change');
            });
        } else if (type == 'Contact') {
            $('#ClientContactID').data('kendoDropDownList').dataSource.read().then(function(){
                $('#ClientContactID').data('kendoDropDownList').value(id);
                $('#ClientContactID').data('kendoDropDownList').trigger('change');
            });
        }
    }

</script>

<style>
    .k-slider-selection {
        background-color: #80e682;
    }
    .modal-larger {
        width:1200px;
    }
</style>