﻿@model SnapSuite.Models.ProductKitSelectItemViewModel

<script>
    function ProductDD_ValueMapper(options) {
        $.ajax({
            url: "@Url.Action("DropDownProducts_ValueMapper", "Products")",
            data: convertValues(options.value),
            success: function (data) { options.success(data); }
        });
    }
</script>


<div id="editDiv_Comment">
    @Html.TextBoxFor(m => m.Description, new { @class = "form-control input-sm" })
</div>
<div id ="editDiv_Product">
    @(Html.Kendo().DropDownListFor(m => m)
            .DataValueField("ID")
            .DataTextField("Name")
            .Filter("contains")
            .DataSource(source =>
            {
                source.Custom()
                    .ServerFiltering(true)
                    .ServerPaging(true)
                    .PageSize(80)
                    .Type("aspnetmvc-ajax")
                    .Transport(transport => transport.Read("DropDownProductsNoKits_Virtualised", "Products"))
                    .Schema(schema => schema.Data("Data").Total("Total"));
            })
            .Virtual(v => v.ItemHeight(26).ValueMapper("ProductDD_ValueMapper"))
            .Value(Model.ID)
            .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
            //.AutoBind(true)
    )
</div>       