﻿.opportunity-container {
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    overflow-y: hidden;
}

.opportunity-row {
    white-space: nowrap;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 130px;
}

.opportunity-panel {
    display: inline-flex !important;
    position: relative;
    width: 300px;
    max-height: 100%;
    vertical-align: top;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.opportunity-panel-heading {
    flex: 0 0 auto;
    padding: 4px 5px;
    position: relative;
    min-height: 18px;
    display: block;
}

.opportunity-panel-body {
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 0;
}

.opportunity-panel-body .k-listbox {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border: none;
}

.opportunity-panel-body .k-listbox .k-list-scroller {
    height: 100%;
}

.opportunity-panel-body .k-listbox li {
    margin-top: 10px;
}

.opportunity-panel-body .k-listbox .k-state-selected {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.opportunity-panel-body .k-listbox .k-list-scroller {
    border: 0 !important;
}

.opportunity-listitem {
    cursor: pointer;
    background-color: #ebeee5;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 5px lightgrey;
}

.opportunity-panel-body .k-widget .k-list-scroller .k-reset {
    min-height: 30px;
    margin-bottom: 10px;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */    
    .opportunity-container {
        position: initial;        
        overflow-y: visible;
    }

    .opportunity-row {
        height: initial;
    }

    .opportunity-panel {
        max-height: none;
    }
}