﻿@using SnapSuite.Models

<br />
<div class="row">   
    <div class="col-xs-9">
        <h2>Activity Log</h2>       
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideActivityLogs(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div> 
    <div class="col-xs-12">
        <hr />
    </div>
    <div class="col-xs-4">
        @(Html.Kendo().DropDownList()
                .Name("DD_ModuleTypes")
                .DataTextField("Name")
                .DataValueField("ID")
                .OptionLabel("All Modules")
                .Events(e => e.Change("Refresh"))
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("DropDownModuleTypes", "Dropdowns"); });
                })
                .AutoBind(true)
                .Value("")
                .Events(e => { e.Change("RefreshActivityLogs"); })
                .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>

    <div class="col-xs-8">
        <div class="input-group">
            @Html.TextBox("TB_LogFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Description/User" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshActivityLogs(); return false;"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a>
            </span>
            @*<button class="btn btn-sm btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>*@
        </div>

    </div>
    
    <div class="col-xs-12">
        <hr />
        @(Html.Kendo().Grid<SnapSuite.Models.ActivityLogViewModel>()
                .Name("GridActivities")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Logs").Empty("No Activities Logs Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Timestamp).Title("Timestamp").Format("{0:HH:mm dd/MM/yy}").Width("130px");
                    columns.Bound(u => u.ModuleTypeName).Title("Module");
                    columns.Bound(u => u.Description).Title("Description").ClientTemplate("<a href='#=LinkURL#'>#=Description#</a>").Width("50%");
                    columns.Bound(u => u.ActivityByUserName).Title("User");
                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Read", "ActivityLogs").Data("AddLogInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )

    </div>
</div>

<script>

    $("#TB_LogFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshActivityLogs();
        //}
    });

    function RefreshActivityLogs(){
        $("#GridActivities").data("kendoGrid").dataSource.read();
    }


    function AddLogInfo() {
        return {
            filterText: $('#TB_LogFilter').val(),
            moduleID: $("#DD_ModuleTypes").data("kendoDropDownList").value(),
        }
    }


</script>
