﻿@model SnapSuite.Models.SupplierViewModel

<style>
    h3 {
        font-weight: normal;
    }
</style>

<div id="div_AddSupplier">
    @using (Ajax.BeginForm("_AddSupplierPopup", "Suppliers", new AjaxOptions { UpdateTargetId = "div_AddSupplier" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("OrderID", (string)ViewBag.OrderID)
        @Html.Hidden("Type", (string)ViewBag.Type)

        <div class="panel panel-default form-table">
            <div class="panel-body">
                <div class="col-xs-8">
                    <h3>New Supplier</h3>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>
                <div class="col-xs-12">
                    <br />
                    <table>
                        <tr>
                            <td style="width:100px;"><label>Name:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Supplier Name", @style = "max-width:none; width:100%;" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Type:</label></td>
                            <td>
                                @(Html.Kendo().DropDownListFor(model => model.SupplierTypeID)
                                    .DataTextField("Name")
                                    .DataValueField("ID")
                                    .Events(e => e.Change("Refresh"))
                                    .OptionLabel("Select Supplier Type")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => { read.Action("DropDownSupplierTypes", "SupplierTypes"); });
                                    })
                                    .AutoBind(true)
                                    .HtmlAttributes(new { @style = "width:100%;" }))
                            </td>
                        </tr>
                        <tr>
                            <td><label>Address 1:</label></td>
                            <td>@Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @placeholder = "Address Line 1", @style = "max-width:none; width:100%;" })</td>
                        </tr>
                        <tr>
                            <td><label>Address 2:</label></td>
                            <td>@Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @placeholder = "Address Line 2", @style = "max-width:none; width:100%;" })</td>
                        </tr>
                        <tr>
                            <td><label>Address 3:</label></td>
                            <td>@Html.TextBoxFor(model => model.Address3, new { @class = "form-control", @placeholder = "Address Line 3", @style = "max-width:none; width:100%;" })</td>
                        </tr>
                        <tr>
                            <td><label>Town:</label></td>
                            <td>@Html.TextBoxFor(model => model.Town, new { @class = "form-control", @placeholder = "Town" })</td>
                        </tr>
                        <tr>
                            <td><label>County:</label></td>
                            <td>@Html.TextBoxFor(model => model.County, new { @class = "form-control", @placeholder = "County" })</td>
                        </tr>
                        <tr>
                            <td><label>Postcode:</label></td>
                            <td>@Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @placeholder = "Postcode" })</td>
                        </tr>
                        <tr>
                            <td><label>Country:</label></td>
                            <td>@Html.TextBoxFor(model => model.Country, new { @class = "form-control", @placeholder = "Country" })</td>
                        </tr>
                        <tr>
                            <td><label>Email:</label></td>
                            <td>@Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email Address" })</td>
                        </tr>
                        <tr>
                            <td><label>Website:</label></td>
                            <td>@Html.TextBoxFor(model => model.Website, new { @class = "form-control", @placeholder = "Website URL" })</td>
                        </tr>
                        <tr>
                            <td><label>Telephone:</label></td>
                            <td>@Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone" })</td>
                        </tr>
                        <tr>
                            <td><label>Mobile:</label></td>
                            <td>@Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile" })</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12">
                    <br />
                    <input type="submit" value="Add Supplier" class="btn btn-inverse">
                </div>

            </div>
        </div>
    }
</div>
