﻿@*@model SnapSuite.Models.AddCostProductsViewModel*@


<script>

    function RefreshAddCostProducts() {
        $("#GridAddCostProducts").data("kendoGrid").dataSource.read();
    }


    function AddCostProductsInfo() {
        return {
            filterText: $('#TB_CostProductFilter').val(),
            category: $("#DD_CostCategories").data("kendoDropDownList").value(),
        }
    }

     function AddCostProduct(pdtID) {
        console.log($("input[id='" + pdtID + "_CostQty']").val());
        AddProductCostItem(pdtID, $("input[id='" + pdtID + "_CostQty']").val());
    }

    function SwitchToAddCustomCostProduct(){
        $("#SlideContent_AddCostProducts").fadeOut();
        AddCustomCostProduct();
    }

</script>


<br />
<div class="row">   
    <div class="col-xs-9">
        <h2>Products List</h2>       
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div>   
    <div class="col-xs-4">
        @(Html.Kendo().DropDownList()
                        .Name("DD_CostCategories")
                        .DataTextField("Name")
                        .DataValueField("ID")
                        .OptionLabel("All Categories")
                        .Events(e => e.Change("Refresh"))
                        .DataSource(source =>
                        {
                            source.Read(read => { read.Action("DropDownProductCategories", "ProductCategories"); });
                        })
                        .AutoBind(true)
                        .Value("")
                        .Events(e => { e.Change("RefreshAddCostProducts"); })
                        .HtmlAttributes(new { style = "width: 100%" })
        )
    </div>
    <div class="col-xs-8">
        <div class="input-group">
            @Html.TextBox("TB_CostProductFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Code, Category or Description" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshAddCostProducts(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-default" onclick="RefreshAddCostProducts(); return false;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
            </span>
        </div>
        <script>
            $("#TB_CostProductFilter").keyup(function (e) {
                //if (e.keyCode == 13) {
                RefreshAddCostProducts();
                //}
            });
        </script>
    </div>

    <div class="col-xs-12">
        <hr />
        @(Html.Kendo().Grid<SnapSuite.Models.ProductGridViewModel>()
                .Name("GridAddCostProducts")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Products Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("<a class='popup-image' target='_blank' href='#=ImageURL#' title='#=ProductCode#'><img src='#=ImageURL#' style='width:100%; max-height:35px; max-width:35px;'></a>").Width("1%");
                    columns.Bound(u => u.ProductCode).Title("Product Code");
                    columns.Bound(u => u.Category).Title("Category");
                    columns.Bound(u => u.Description).Title("Description").Template(@<text></text>).ClientTemplate("#=Description#<div class='div-inline' style='float:right'>#if(IsKit){ #<span class='glyphicon glyphicon-th-large' title='Product Kit' style='margin-left:3px'/># }#"
                                                                                                                    + "</div>").Width("50%");
                    //columns.Bound(u => u.Manufacturer).Title("Manufacturer");
                    if(ViewBag.ViewPurchaseOrders)
                    {
                        columns.Bound(u => u.MainSupplier).Title("Main Supplier");
                        columns.Bound(u => u.AgreedDiscount).Title("Discount (%)").ClientTemplate("#if(AgreedDiscount != null){# #=kendo.toString(AgreedDiscount, 'n')#% #}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                    }
                    columns.Bound(u => u.Costs).Title("Costs").Template(@<text></text>).ClientTemplate("<div class='div-inline'>#=Costs#</div>").Sortable(false);
                    @*columns.Bound(u => u.MinOrder).Title("Add Qty").Template(@<text></text>).ClientTemplate("<input id='#=ID#_Qty' type='number' style='width:55px' value='#=MinOrder#'>");*@
                    columns.Bound(u => u.ID).Title("Add Qty").Template(@<text></text>).ClientTemplate("<input id='#=ID#_CostQty' type='number' step='any' style='width:75px; text-align:center;' value='1'>");
                    columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-inverse btn-xs' onclick='AddCostProduct(\"#=ID#\"); return false;'>Add</a>"); 

                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Read", "ProductGrid").Data("AddCostProductsInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("ProductsKendoGridDatabound"))
        )

    </div>
    <div class="col-xs-7">
        <br />
        <p style="font-size:smaller"><strong>Note: Prices & Costs of items are copied over. Price & Cost breaks will not be recalculated when editing line items.</strong></p>

        @if (ViewBag.ViewPurchaseOrders)
        {
            <p style="font-size:smaller"><strong>Note: If a supplier discount is present the cost, of the item added, will be discounted by listed percentage.</strong></p>
        }
    </div>
    <div class="col-xs-5">
        <br />
        <button class="btn btn-primary" style="float:right" onclick="SwitchToAddCustomCostProduct()">Add Custom Product</button>
    </div>
</div>


