﻿@*@model SnapSuite.Models.AddProductsViewModel*@


<script>

    function RefreshAddProducts() {
        $("#GridAddProducts").data("kendoGrid").dataSource.read();
    }


    function AddProductsInfo() {
        return {
            filterText: $('#TB_ProductFilter').val()
        }
    }

    function AddProductToSection(pdtID) {
        AddProductItem(pdtID, $("input[id='" + pdtID + "_Qty']").val());
    }

    function SwitchToAddCustomProduct(){
        $("#SlideContent_AddProducts").fadeOut();
        AddCustomProduct(sectionID);
    }
</script>


<br />
<div class="row">   
    <div class="col-xs-9">
        <h2>Service List</h2>       
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div>   
    <div class="col-xs-12">
        <div class="input-group">
            @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Category or Description" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshAddProducts(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-default" onclick="RefreshAddProducts(); return false;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
            </span>
        </div>
        <script>
            $("#TB_ProductFilter").keyup(function (e) {
                //if (e.keyCode == 13) {
                RefreshAddProducts();
                //}
            });
        </script>
    </div>

    <div class="col-xs-12">
        <hr />
        @(Html.Kendo().Grid<SnapSuite.Models.ProductGridViewModel>()
                .Name("GridAddProducts")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Products Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.Description).Title("Description").Template(@<text></text>).ClientTemplate("#=Description#<div class='div-inline' style='float:right'>#if(IsKit){ #<span class='glyphicon glyphicon-th-large' title='Product Kit' style='margin-left:3px'/># }#"
                                                                                                                    + "</div>").HtmlAttributes(new { @title = "#if(DetailedDescription != null && DetailedDescription != ''){# #=DetailedDescription# #}#" });
                    columns.Bound(u => u.Prices).Title("Prices").Template(@<text></text>).ClientTemplate("<div class='div-inline'>#=Prices#</div>").Sortable(false).HeaderHtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    columns.Bound(u => u.ID).Title("Add Qty").Template(@<text></text>).ClientTemplate("<input id='#=ID#_Qty' type='number' step='any' style='width:75px; text-align:center;' value='1'>").Hidden();
                    columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-inverse btn-xs' onclick='AddProductToSection(\"#=ID#\"); return false;'>Add</a>").Width(1); 

                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Read", "ProductGrid").Data("AddProductsInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("ProductsKendoGridDatabound"))
        )

    </div>
    <div class="col-xs-7">
        <br />
    </div>
    <div class="col-xs-5">
        <br />
        @*<button class="btn btn-primary" style="float:right" onclick="SwitchToAddCustomProduct()">Add Custom Product</button>*@
    </div>

</div>


