﻿@model SnapSuite.Models.SupplierAddressViewModel

<style>
    h3 {
        font-weight: normal;
    }
</style>

<div id="div_EditSupplierAddress">
    @using (Ajax.BeginForm("_EditSupplierAddressPopup", "Suppliers", new AjaxOptions { UpdateTargetId = "div_EditSupplierAddress" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.SupplierID)
        @Html.Hidden("OrderID", (string)ViewBag.OrderID)
        @Html.Hidden("Delivery", (bool)ViewBag.Delivery)
        @Html.Hidden("Type", (string)ViewBag.Type)

        <div class="panel panel-default form-table">
            <div class="panel-body">
                <div class="col-xs-8">
                    <h3>Edit Supplier Address</h3>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>
                <div class="col-xs-12">
                    <br />
                    <table style="width:100%">
                        <tr>
                            <td width="100px;"><label>Name:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @style = "width:100%; max-width:none;" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Address 1:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @placeholder = "Address 1", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Address 2:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @placeholder = "Address 2", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Address 3:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Address3, new { @class = "form-control", @placeholder = "Address 3", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Town:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Town, new { @class = "form-control", @placeholder = "Town", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>County:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.County, new { @class = "form-control", @placeholder = "County", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Postcode:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @placeholder = "Postcode", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Country:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Country, new { @class = "form-control", @placeholder = "Country", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Telephone:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Mobile:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Email:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12">
                    <br />
                    <input type="submit" value="Save Changes" class="btn btn-inverse">
                </div>

            </div>
        </div>

    }
</div>