﻿@model SnapSuite.Models.ClientContactViewModel

<style>
    h3 {
        font-weight: normal;
    }
</style>

<script>
    function OnEditClientContactSuccess(response) {
        if (response.Status == "Success") {
            OnEditClientContactAddress('Contact', response.ID);
        }
    }
</script>

<div id="div_EditClientContact">
    @using (Ajax.BeginForm("_EditClientContactPopup", "Clients", new AjaxOptions { UpdateTargetId = "div_EditClientContact", OnSuccess = "OnEditClientContactSuccess" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.ClientID)
        @Html.Hidden("OrderID", (string)ViewBag.OrderID)
        @Html.Hidden("Type", (string)ViewBag.Type)
        @Html.Hidden("Index", (string)ViewBag.Type)

        <div class="panel panel-default form-table">
            <div class="panel-body">
                <div class="col-xs-8">
                    <h3>Edit Contact</h3>
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
                </div>
                <div class="col-xs-12">
                    <br />
                    <table style="width:100%">
                        <tr>
                            <td><label>First Name:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @style = "width:100%; max-width:none;" })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Last Name:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Position:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Position, new { @class = "form-control", @placeholder = "Position", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>PPI:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Mobile:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Email:</label></td>
                            <td>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @style = "width:100%; max-width:none;" })
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-12">
                    <br />
                    <input type="submit" value="Save Changes" class="btn btn-inverse">
                </div>

            </div>
        </div>
    }
</div>
