﻿@using Microsoft.AspNet.Identity
@*@if (!Request.IsAuthenticated)
{*@
    <div class="footer">
        <div class="container">
            <div class="row" style="padding-top: 18px; vertical-align: middle;">
                @if (ViewBag.NoNavBar != null)
                {
                }
                else
                {<text>
                <div class="col-xs-4">
                    @*@if (ViewBag.ScreenLogoImageURL != null)
                    {
                        <text>
                            <a href="https://quikflw.com" target="_blank"><img style="max-height: 20px; margin-top: -0px; padding-right: 0px;" src="/Content/logos/quikflw_white300px.png"></a>
                        </text>
                    }*@
                    <a href="http://www.quikflw.com" target="_blank" title="Developed by Quikflw Ltd based in London, UK">
                        &copy; @DateTime.Now.Year - Quikflw Ltd.
                    </a>
                </div>
                </text>
                }
            </div>
        </div>
    </div>
@*}*@

