﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="quotation system, quotes system, quotation solution quotes system, quotation creator, quotes creator, quotation software, online quotes, online quotation " />
    <meta name="abstract" content="Build attractive quotes quickly with this online system" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="7 days" />
    <title>@ViewBag.Title | Quikflw</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/kendo/css")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        kendo.culture("en-GB");
        $.validator.addMethod('date', function (value, element) { return this.optional(element) ||  kendo.parseDate(value) });
    </script>
    @if (ViewBag.ScreenLogoImageURL != null)
    { 
        <text> 
            <link rel=icon href="@ViewBag.ScreenLogoImageURL">
        </text> 
    }
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">    
	@*<script src="@Url.Content("~/Scripts/kendo/2017.2.621/jszip.min.js")"></script>*@

    @if (!Request.IsAuthenticated)
    {
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WGTDS5P');
        </script>
        <!-- End Google Tag Manager -->
    }

    @*@if (ViewBag.ThemeColor != null && ViewBag.ThemeColorDark != null && ViewBag.ThemeBrightness != null)
    {
        <style>
           .dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.footer,.footer a,.footer li,.footer li+li::before,.footer ul,.footer ul a:link,.footer ul a:visited {
                color:@((ViewBag.ThemeBrightness > 150) ? "#222222" : "#ffffff")
            }
            .footer {
                background-color:@(ViewBag.ThemeColor)
            }
            .dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
                background-color:@(ViewBag.ThemeColorDark)
            }
            .dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover,.nav-pills>li.active>a,.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover,.navbar-inverse
            {
                background-color:@(ViewBag.ThemeColor);color:@((ViewBag.ThemeBrightness > 150) ? "#222222" : "#ffffff")
            }
            .navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover,.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover {
                background-color:@(ViewBag.ThemeColorDark);color:@((ViewBag.ThemeBrightness > 150) ? "#222222" : "#ffffff")
            }
            .navbar-inverse .navbar-toggle {
                border-color:@(ViewBag.ThemeColor);
                color:@((ViewBag.ThemeBrightness > 150) ? "#222222" : "#ffffff")
            }
            .nav-pills>.active>a>.badge,a.list-group-item.active>.badge {
                color:@(ViewBag.ThemeColor)
            }
            .navbar-inverse .navbar-nav>li>a {
                color:@((ViewBag.ThemeBrightness > 150) ? "#222222" : "#ffffff")
            } 
            .navbar-inverse {
                border-color:@((ViewBag.ThemeBrightness > 150) ? "#cccccc" : "transparent")
            }
        </style>
    }*@
</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGTDS5P" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">
                    <div>
                        <img style="max-height: 64px; margin-top: -20px; padding-right: 0px;" src="/Content/logos/putney-wood-logo.png" >
                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="header"></div>
        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_FooterPartial")
    </div>
    @RenderSection("scripts", required: false)
    <a id="ajax-overload" class="btn btn-background" style="z-index:4105; display:none; cursor: wait; opacity: 0;"></a>

    @if (Request.IsAuthenticated)
    {
    }
    else
    {
        <div id="div_cookieMessage" class="cookie-message" style="display:none">
            <div class="container" style="margin-top:10px;">
                <p><strong>Privacy Policy:</strong></p>
                <p>This website uses cookies to deliver our services. By using our services, you agree to out use of cookies. &nbsp;<a href="CookiePolicy" target="_blank">Learn More</a></p>
                <a class="btn btn-sm btn-info" onclick="HideCookieMessage();">Got It!</a>
            </div>
        </div>

        <script>
            ShowCookieMessage();

            function ShowCookieMessage() {
                if (document.cookie.indexOf("cookiepolicy=") >= 0)
                    document.getElementById('div_cookieMessage').style.display = "none";
                else
                    document.getElementById('div_cookieMessage').style.display = "";
            }

            function HideCookieMessage() {
                document.cookie = "cookiepolicy=Cookies!; expires=Fri, 31 Dec 2100 12:00:00 UTC; path=/";
                document.getElementById('div_cookieMessage').style.display = "none";
            }
        </script>

    }

    <script>
        $(document).ready(function () {
            $('.popup-image').magnificPopup({type:'image'});
        });

        $(document).ajaxComplete(function() {
            $('.popup-image').magnificPopup({type:'image'});
        });
    </script>
    
</body>
</html>
