﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quikflw</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/kendo/css")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/bootstrap")

    <script>
        kendo.culture("en-GB");
        $.validator.addMethod('date', function (value, element) { return this.optional(element) ||  kendo.parseDate(value) });
    </script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    
</head>
<body>    
    <div class="wrapper">
        <div class="content">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $('.popup-image').magnificPopup({type:'image'});
        });

        $(document).ajaxComplete(function() {
            $('.popup-image').magnificPopup({type:'image'});
        });
    </script>

</body>
</html>
