﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>*@
            <li>@Html.ActionLink("Projects", "Index", "Projects")</li>
            <li>@Html.ActionLink("Estimates", "Index", "Quotations")</li>
            <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
            <li>@Html.ActionLink("Events", "Events", "Clients")</li>
            <li>@Html.ActionLink("Services", "Index", "Products")</li>
            <li>@Html.ActionLink("Scopes", "Index", "Scopes")</li>
            <li>@Html.ActionLink("Basis of Estimates", "Index", "BasisOfEstimates")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">        
        <li class="dropdown">
            <a class="dropdown-toggle hidden-xs" data-toggle="dropdown" role="button" aria-expanded="false">
                @*<img style="max-height: 23px; margin-top: -4px; padding-right: 5px;" src="/Content/cog.png">*@
                <span class="glyphicon glyphicon-cog glyphicon-navbutton"></span>
                <span class="caret"></span>
            </a>
            <a class="dropdown-toggle visible-xs" data-toggle="dropdown" role="button" aria-expanded="false">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li>@Html.ActionLink("Hello " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li role="presentation" class="divider"></li>
                <li>@Html.ActionLink("Manage User Accounts", "Index", "Users")</li>
                @*<li>@Html.ActionLink("Your Business", "Business", "Settings")</li>
                <li>@Html.ActionLink("Quotation Settings", "Edit", "QuotationSettings")</li>
                <li>@Html.ActionLink("Workflow Pipeline Settings", "Edit", "PipelineSettings")</li>
                <li>@Html.ActionLink("Product Settings", "Index", "ProductSettings")</li>*@
                <li role="presentation" class="divider"></li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        </li>
    </ul>
    }
}
else if (ViewBag.NoNavBar != null)
{
    
}
else
{
    <ul class="nav navbar-nav">
        @*<li>@Html.ActionLink("Pricing", "Pricing", "Home")</li>*@
        @*<li><a href="https://quikflw.com/" target="_blank">Learn More</a></li>*@
        @*<li><a href="https://quikflw.com/Contact" target="_blank">Contact Us</a></li>*@
        @*<li>@Html.ActionLink("About Us", "About", "Home")</li>*@
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        @*<li>@Html.ActionLink("Sign Up", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
    </ul>
}

