﻿@using SnapSuite.Models

<br />
<div class="row">   
    <div class="col-xs-9">
        <h2>Stock Log</h2>       
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideStockLogs(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div> 
    <div class="col-xs-12">
        <hr />
    </div>
    <div class="col-xs-4">
        @*@(Html.Kendo().DropDownList()
                .Name("DD_ModuleTypes")
                .DataTextField("Name")
                .DataValueField("ID")
                .OptionLabel("All Modules")
                .Events(e => e.Change("Refresh"))
                .DataSource(source =>
                {
                    source.Read(read => { read.Action("DropDownModuleTypes", "Dropdowns"); });
                })
                .AutoBind(true)
                .Value("")
                .Events(e => { e.Change("RefreshActivityLogs"); })
                .HtmlAttributes(new { style = "width: 100%" })
        )*@
    </div>

    <div class="col-xs-8">
        <div class="input-group">
            @Html.TextBox("TB_StockLogFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Description/User" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshStockLogs(); return false;"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</a>
            </span>
            @*<button class="btn btn-sm btn btn-default"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>*@
        </div>

    </div>
    
    <div class="col-xs-12">
        <hr />
        @(Html.Kendo().Grid<SnapSuite.Models.StockLogViewModel>()
                .Name("GridStockLogs")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Logs").Empty("No Stock Logs Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Timestamp).Title("Timestamp").Format("{0:HH:mm dd/MM/yy}").Width("130px");
                    columns.Bound(u => u.ProductCode).Title("ProductCode").ClientTemplate("<a href='/StockControl/Product?productCode=#=ProductCode#'>#=ProductCode#</a>");
                    columns.Bound(u => u.ProductDescription).Title("Description").ClientTemplate("<a href='/StockControl/Product?productCode=#=ProductCode#'>#=ProductDescription#</a>").Width("20%");
                    columns.Bound(u => u.Quantity).Title("Qty").ClientTemplate("<a href='/StockControl?productCode=#=ProductCode#'>#=Quantity#</a>");
                    columns.Bound(u => u.ActionType).Title("Action");
                    columns.Bound(u => u.LocationName).Title("Location");
                    columns.Bound(u => u.Narrative).Title("Narrative").ClientTemplate("<a href='#=LinkURL#'>#=Narrative#</a>");
                    columns.Bound(u => u.ActivityByUserName).Title("User");
                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Read", "StockLogs").Data("AddStockLogInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )

    </div>
</div>

<script>

    $("#TB_StockLogFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            RefreshStockLogs();
        //}
    });

    function RefreshStockLogs(){
        $("#GridStockLogs").data("kendoGrid").dataSource.read();
    }


    function AddStockLogInfo() {
        return {
            filterText: $('#TB_StockLogFilter').val(),
            moduleID: $("#DD_ModuleTypes").data("kendoDropDownList").value(),
        }
    }


</script>
