﻿@using SnapSuite.Models
@model List<System.ServiceModel.Syndication.SyndicationItem>



<div class="panel panel-warning">
    <div class="panel-heading"  onclick="location.href='https://blog.quikflw.com/'" style="cursor: pointer;">
        <h4>What's New</h4>
    </div>
    <div class="panel-body">
        <div class="row">            
            <div class="col-sm-12">
                @foreach (var item in Model)
                {
                    <text>
                    <a target ="_blank" href="@item.Links[0].Uri">
                        <h4>@Html.Raw(item.Title.Text)</h4>
                    </a>
                    @Html.Raw(item.Summary.Text.Split(new string[] { "&#8230; <a" }, StringSplitOptions.None)[0].Substring(0, Math.Min(item.Summary.Text.Split(new string[] { "&#8230; <a" }, StringSplitOptions.None)[0].Length, 130)))
                    <a target="_blank" href="@item.Links[0].Uri">...read more</a>
                    <br />
                    <div class="pull-right">@item.PublishDate.ToString("dd/MM/yyyy")</div>
                    <br />
                    </text>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>




