﻿@model SnapSuite.Models.QuotationsDashboardViewModel



<div class="panel panel-inverse">
    <div class="panel-heading" onclick="location.href='@Url.Action("Index", "Quotations")';" style="cursor: pointer;">
        <h4>Quotations</h4>
    </div>
    <div class="panel-body">
        <div class="row">            
            <div class="col-sm-6">
                <h4>Start:</h4>
                @Html.ActionLink("Create a new quotation", "New", "Quotations")<br />
                @Html.ActionLink("View all quotations", "Index", "Quotations")<br />
            </div>
            <div class="col-sm-6">
                <h4>Past 30 days:</h4>
                <table style="width:100%">
                    @foreach (var item in Model.Stats)
                    {
                        <tr>
                            <td style="width:1%; text-align:right; color:@item.HexColour">@item.Count </td>
                            <td style="color:@item.HexColour">&nbsp;&nbsp;@item.Name</td>
                        </tr>
                    }
                </table>


                @*@(Html.Kendo().Chart()
                    .Name("QuotationsPastMonth")
                    .Title("Quotations From The 30 Days")                    
                    .Legend(legend => legend.Position(ChartLegendPosition.Top).Visible(true))
                    .Series(series =>
                    {
                        foreach (var item in Model.Stats)
                        {
                            series.Column("Count").Field("Count").ColorField("HexColour").Name(item.Name);
                        }
                    })

                    //.Series(series => {
                            //    foreach (var def in Model.Series) {
                            //    series.Column(def.Data).Field(def.Field).Name(def.Name).Stack(def.Stack);
                            //    }
                            //})

                    //.CategoryAxis(axis => axis
                            //    .Categories(model => model.StatusName)
                            //.Labels(labels => labels.Format("MMM"))
                            //)
                    .Tooltip(builder =>
                    {
                        builder.Visible(true);
                        builder.Format("{0}");
                        builder.Template("#= series.name #: #= value #");
                    })
                )*@
            </div>

            @if (Model.RecentQuotations.Count() > 0)
            {       
                <div class="col-sm-12">
                    <br />
                    <h4>Recent:</h4>
                    <hr style="padding:0; margin:3px" />
                    <table style="width:100%">
                        @foreach (var item in Model.RecentQuotations)
                        {
                            <tr>                               
                                <td style="vertical-align:text-top">
                                    <span>@Html.ActionLink(string.Format("{0} - {1} v{2}", item.Reference, item.ClientName, item.Version), "Edit", "Quotations", new { ID = item.ID }, null)</span>                                    
                                    <br />
                                    <span style="font-size:small">@item.Description</span>
                                </td>
                                <td style="text-align:right">
                                    <span>@string.Format("{0}{1:#,##0.00}", item.CurrencySymbol, item.TotalNet)</span><br />
                                    <span style="font-size:smaller">@item.Created.ToShortDateString()</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <hr style="padding:0; margin:3px" />
                                </td>
                                <td>
                                    <hr style="padding:0; margin:3px" />
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
</div>




