﻿
@{
    ViewBag.Title = "Dashboard";
}

<div class="row">
    <div class="col-sm-12" style="margin-top: 5px; margin-bottom: 15px;">
        <h2>@ViewBag.Title</h2>
        @*<hr />*@
    </div>
</div>
<div class="row row-equal">
    <div class="col-lg-8">
        <div class="row">
            <div class="col-md-6">
                @Html.Action("_QuotationsPanel")
            </div>

        </div>
    </div>
</div>

<style>
    .row-equal [class="col-md-4"]:nth-child(3n+1) {
        clear: left;
    }
    .row-equal [class="col-md-6"]:nth-child(2n+1) {
        clear: left;
    }
</style>





