﻿@model SnapSuite.Models.ProductViewModel

<script>
    function OnGridAssociativesRequestEnd(e) {
        if (e.type !== null && e.type !== 'read') {
            $("#GridAssociatives").data("kendoGrid").dataSource.read();
        }
    }
</script>

<br />

@if (ViewBag.EditProducts)
{ 
    <a class="btn btn-info btn-sm" onclick="$('#GridAssociatives').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Associative</a>
}

@(Html.Kendo().Grid<SnapSuite.Models.ProductAssociativeViewModel>()
        .Name("GridAssociatives")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Associated Products Added")))
        .Columns(columns =>
        {
            columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("<a class='popup-image' target='_blank' href='#=ImageURL#' title='#=LinkedProduct.Name#'><img src='#=ImageURL#' style='width:100%; max-height:35px; max-width:35px;'></a>").Width("1%");
            columns.Bound(p => p.LinkedProduct).ClientTemplate("#=LinkedProduct.Name#").EditorTemplateName("ProductItemDropDown");

            if (ViewBag.EditProducts)
            {
                columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                ).Width("90px");
            }
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this item?"))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
            .Model(model =>
            {
                model.Id(t => t.ID);
                model.Field(t => t.ID).Editable(false);
                model.Field(t => t.ImageURL).Editable(false);
                model.Field(t => t.ProductID).Editable(false).DefaultValue(Model.ID);
                model.Field(t => t.LinkedProduct).DefaultValue(new SnapSuite.Models.SelectItemViewModel { ID = "", Name = " " });
            })
            .Create(create => create.Action("Create", "ProductAssociatives", new { pdtID = Model.ID }))
            .Read(read => read.Action("Read", "ProductAssociatives", new { pdtID = Model.ID }))
            .Update(update => update.Action("Update", "ProductAssociatives"))
            .Destroy(destroy => destroy.Action("Destroy", "ProductAssociatives"))
            .Events(events => events.RequestEnd("OnGridAssociativesRequestEnd"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
<br />
<br />
