﻿@model SnapSuite.Models.ProductViewModel

@if (ViewBag.EditCRM)
{
    <script>
    //ATTACHEMENT TAB FUNCTIONS
    function OnAttachmentUploadSuccess(e) {
        $('#GridAttachments').data('kendoGrid').dataSource.read();
    }

    function OnLinkAttactmentAdded(data) {
        $('#TB_AttachmentLink').val("");
        $('#GridAttachments').data('kendoGrid').dataSource.read();
    }
    </script>
}

<br />
<div style="box-sizing: initial;-webkit-box-sizing: initial;">
    @(Html.Kendo().Grid<SnapSuite.Models.DefaultProductAttachmentViewModel>()
    .Name("GridAttachments")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Default Attachments").Empty("No Default Attachments Found")))
    .Columns(columns =>
    {
        columns.Bound(a => a.ShowInPreview).Title("Preview").ClientTemplate("#if(ShowInPreview){# <span class='glyphicon glyphicon-eye-open' title='Show on Preview/Review'></span> #}else{# <span class='glyphicon glyphicon-eye-close red-text' title='Do not show on Preview/Review'></span> #}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
        columns.Bound(a => a.File.FileFormat).Title("Format").ClientTemplate("<span class='label label-danger'>#=File.FileFormat#</span>").Width("1%");
        columns.Bound(a => a.Filename).Title("Filename").ClientTemplate("<a #if(File.FileFormat == 'Image'){# class='popup-image' #}# target='_blank' href='/File/Download/#=MakeDownloadSafe(Filename)#/#=File.FilePath#/'>#=Filename#</a>");
        columns.Bound(a => a.File.FileSize).Title("Size").Width("1%");
        columns.Bound(a => a.File.DateCreated).Title("Uploaded").Width("1%");
        if (ViewBag.EditCRM)
        {
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
            }
            ).Width("90px");
        }
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this attachment?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model =>
        {
            model.Id(a => a.ID);
            model.Field(a => a.ID).Editable(false);
            model.Field(a => a.ProductID).Editable(false);
            model.Field(a => a.File).Editable(false);
            model.Field(a => a.File.FileFormat).Editable(false);
            model.Field(a => a.File.FileSize).Editable(false);
            model.Field(a => a.File.DateCreated).Editable(false);
        })
        .Read(read => read.Action("Read", "DefaultProductAttachments", new { ID = Model.ID }))
        .Update(update => update.Action("Update", "DefaultProductAttachments"))
        .Destroy(destroy => destroy.Action("Destroy", "DefaultProductAttachments"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
    )
    <br />
    <p><strong>Upload the default attachments that will automatcially added to your quotations, jobs, etc when you add the product as a line item.</strong></p>
    <p><strong>Attachments will be added only once even if the product is added multiple times. </strong></p>

    @if (ViewBag.EditCRM)
    {
        <hr />
        <h5>Upload Files:</h5>
        @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a.Save("UploadDefaultAttachment", "DefaultProductAttachments", new { ID = Model.ID }))
            .ShowFileList(false)
            .Events(events => events.Complete("OnAttachmentUploadSuccess"))
        )
        <span style="font-size:x-small">Max 20Mbs</span>

        <hr />
        <h5>Add Link:</h5>
        using (Ajax.BeginForm("LinkDefaultAttachment", "DefaultProductAttachments ", new AjaxOptions { UpdateTargetId = "divAttachLink", OnSuccess = "OnLinkAttactmentAdded" }, FormMethod.Post))
        {

            @Html.Hidden("ID", Model.ID)

            <div class="input-group">
                @Html.TextBox("link", "", new { @id = "TB_AttachmentLink", @class = "form-control", @placeholder = "Enter URL here", @style = "max-width:none; width:100%; padding:1px 12px;" })
                <span class="input-group-btn">
                    <input type="submit" value="Add Link" class="btn btn-xs btn-inverse">
                </span>
            </div>
        }
        <div id="divAttachLink">
        </div>
    }
</div>


<br />
<br />
