﻿@model SnapSuite.Models.ProductViewModel

<div class="row form-table" style="padding-left:15px; padding-right:15px;">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-9">
                <h2>Edit Service</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-xs-12">
                @Html.Partial("_EditProductDetails", Model)
            </div>
        </div>
    </div>

</div>

<div>  
    <div class="col-sm-12">
        <br />
        @(Html.Kendo().TabStrip().Scrollable(false)
        .Name("Product_Tabstrip")
        .Items(tabstrip =>
        {
            tabstrip.Add().Text("Qualifications").Content(@Html.Partial("_TabQualifications", Model).ToHtmlString()).Selected(true);
            //tabstrip.Add().Text("Associated Products").Content(@Html.Partial("_AssociativesTab", Model).ToHtmlString()).Selected(false);
            //tabstrip.Add().Text("Alternative Products").Content(@Html.Partial("_AlternativesTab", Model).ToHtmlString()).Selected(false);
            //tabstrip.Add().Text("Default Attachments").Content(@Html.Partial("_AttachmentsTab", Model).ToHtmlString()).Selected(false);
        }))
    </div>  
</div>
