﻿@using SnapSuite.Models; 
@model ProductViewModel

<div id="divEditProductImages" class="product-images">
    <script type="text/x-kendo-tmpl" id="Product-Image-Template">
        <div class="product-thumbnail-container">
            <div class="product-thumbnail">
                <a class='popup-image popup-image-max' target='_blank' href='#:File.FilePath#' title='@(Model.ProductCode)'>
                    <img class="image-thumbnail" src="#:File.FilePath#" alt="@(Model.ProductCode)" title="@(Model.ProductCode)">
                </a>
            </div>
            @if (ViewBag.EditProducts)
            {
                <a class="btn-del-image-thumbnail" href="\\#" onclick="DeleteProductImage('#:ID#')"><span class="glyphicon glyphicon-remove"></span>&nbsp;Remove</a>
            }
        </div>
    </script>

    @if (ViewBag.EditProducts)
    {

        <script>
            //PRODUCT IMAGE UPLOAD FUNCTIONS
            function OnProductImageUploadSuccess(e) {
                if (e.response.status == "error") {
                    alert("Error: " + e.response.message);
                }
                else {
                    $("#ProductImageListView").data("kendoListView").dataSource.read();
                }
            }

            function OnProductImageUpload(e) {
                var files = e.files;
                $.each(files, function () {
                    if (this.size / 1024 / 1024 > 2) {
                        //alert("Max 1Mbs file size is allowed!")
                        e.preventDefault();
                    }
                });
            }

            function DeleteProductImage(id){
                if(confirm("Are your sure you want to delete this image?")){
                    $.ajax({
                        url: '@Url.Action("_DeleteImage", "ProductImages")',
                            type: 'POST',
                            data: { imageID: id},
                            dataType: "json",
                            success: function (data) {$("#ProductImageListView").data("kendoListView").dataSource.read(); }
                    });
                }
            }

            function OnProductImageSortChange(e) {
                var listView = $("#ProductImageListView").data("kendoListView"),
                dataSource = listView.dataSource,
                dataItem = dataSource.getByUid(e.item.data("uid"));

                $.ajax({
                    url: '@Url.Action("_UpdateItemPositions", "ProductImages")',
                        type: 'POST',
                        data: {
                            ID: '@(Model.ID)',
                            imageID: dataItem.ID,
                            oldIndex: e.oldIndex,
                            newindex: e.newIndex,
                        },
                        dataType: "json",
                        success: function (data) { $("#ProductImageListView").data("kendoListView").dataSource.read(); }
                });
            }
        </script>

    }

    <label>Product Images:</label>
    @(Html.Kendo().ListView<ImageViewModel>()
        .Name("ProductImageListView")
        .TagName("div")
        .ClientTemplateId("Product-Image-Template")
        .DataSource(dataSource =>
        {
            dataSource.Read(read => read.Action("Read", "ProductImages", new { ID = Model.ID }));
        })
    )

    @if (ViewBag.EditProducts)
    {
        @(Html.Kendo().Sortable()
                .For("#ProductImageListView")
                .Filter(">div.product-thumbnail-container")
                .Cursor("move")
                .Events(events => events.Change("OnProductImageSortChange"))
        )

        @(Html.Kendo().Upload().Multiple(true)
                    .Name("uploadedImages")
                    .Messages(a => a.Select("Select images to upload..."))
                    .Async(a => a.Save("UploadImages", "ProductImages", new { ID = Model.ID }))
                    .ShowFileList(false)
                    .HtmlAttributes(new { accept = "image/*", style = "padding:1px" })
                    .Events(events => events.Upload("OnProductImageUpload").Success("OnProductImageUploadSuccess"))
        )
        <span style="font-size:x-small">Max 2Mbs file uploads. 10 image upload limit. First image used as main image.</span>
    }

</div>
        