﻿@model SnapSuite.Models.ProductViewModel

<div id="divEditProduct">
    @if (!ViewBag.EditProducts) { <script> $("divEditProduct").submit(function (e) { e.preventDefault(e); }); </script> }

    @using (Ajax.BeginForm((ViewBag.EditProducts) ? "_EditProductDetails" : "", "Products", null, new AjaxOptions { UpdateTargetId = "divEditProduct" }, new { id = "EditProductForm", method = "post" }))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.CompanyID)
        @*@Html.HiddenFor(model => model.ImageURL)*@
        @Html.HiddenFor(model => model.Deleted)

        <div class="row">   
            <div class="col-sm-12">
                <br />
            </div>
            <div class="col-sm-5">
                <table>
                    @Html.HiddenFor(model => model.CurrencyID)
                    @Html.HiddenFor(model => model.Cost)
                    <tr>
                        <td><label>Price:</label></td>
                        <td>@Html.Kendo().NumericTextBoxFor(model => model.Price).Decimals(2)</td>
                    </tr>
                    <tr>
                        <td><label>Tax Rate (%):</label></td>
                        <td>@Html.Kendo().NumericTextBoxFor(model => model.VAT).Decimals(2)</td>
                    </tr>
                </table>
            </div>      
            <div class="col-sm-7">
                <hr class="visible-xs" />
                <label>Description:</label>
                @Html.TextAreaFor(model => model.Description, 3, 100, new { @class = "form-control", @placeholder = "Enter Description ", @style = "width:100%; max-width:none; margin-bottom:10px;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                <br />

                @*<label>Detailed Description:</label>
                @Html.TextAreaFor(model => model.DetailedDescription, 8, 100, new { @class = "form-control", @placeholder = "Enter Detailed Description here", @style = "width:100%; max-width:none; margin-bottom:10px;" })*@
            </div>

            <div class="col-sm-6">
                        
            </div>
        </div>
        <div class="row">
            @if (ViewBag.EditProducts)
            { 
                <div class="col-sm-12">
                    <hr />
                    <input type="submit" value="Save Details" class="btn btn-inverse">
                    @if (ViewBag.Saved ?? false)
                    {
                        <label id="l_Saved"><strong>Details Saved!</strong></label>
                        <script>
                            setTimeout(function () { $("#l_Saved").fadeOut(); }, 2000);
                        </script>                             
                    }
                    @if (ViewBag.Refresh ?? false)
                    {
                        <script>
                            EditProduct('@(Model.ID)');
                        </script>
                    }                            
                </div>
            }
        </div>
    }

</div>
        