﻿@model SnapSuite.Models.ProductViewModel

@if (ViewBag.EditProducts)
{
    <script>
        function OnGridKitItemsRequestEnd(e) {
            if (e.type !== null && e.type !== 'read') {
                RefreshKitItems();
            }
        }

        function RefreshKitItems(){
            $("#GridKitItems").data("kendoGrid").dataSource.read();
        }

        function AddCommentItem() {
            $.ajax({
                url: '/ProductKitItems/AddCommentKitItem',
                type: 'POST',
                data: {
                    "kitID": '@Model.ID',
                },
                dataType: "json",
                success: function (data) {
                    $('#GridKitItems').data('kendoGrid').dataSource.read();
                }
            });
        }

        function OnGridKitItemsEdit(e) {
            //Hide input based on the type of line item
            if (e.model.Product.IsComment)
            {
                e.container.find("div[id='editDiv_Product']").each(function () { $(this).hide() });
                e.container.find("input[name='Quantity']").each(function () { $(this).hide() });
            }
            else {
                e.container.find("div[id='editDiv_Comment']").each(function () { $(this).hide() });
            }
        }

        $(".k-grid[id='GridKitItems'] table").kendoSortable({
            //connectWith: ".k-grid[id*='GridItems'] table",
            filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
            disabled: ".no-drag", //do not allow transferring the no records row
            hint: $.noop,
            cursor: "move",
            placeholder: function (element) {
                return element.clone().addClass("k-state-hover").css("opacity", 0.65);
            },
            change: function (e) { //change event handler implementation may differ according to the scenario
                //var grid = this.element.closest(".k-grid").data("kendoGrid");
                var dataItem = $('#GridKitItems').data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                $.ajax({
                    url: '@Url.Action("_UpdateItemPositions", "ProductKitItems")',
                    type: 'POST',
                    data: {
                        ID: '@(Model.ID)',
                        itemID: dataItem.ID,
                        oldIndex: e.oldIndex,
                        newindex: e.newIndex,
                    },
                    dataType: "json",
                    success: function (data) { RefreshKitItems(); }
                });
            },
            move: function (e) { }
        });

    </script>
}

<br />

@if (ViewBag.EditProducts)
{ 
    <button class="btn btn-info btn-sm" onclick="$('#GridKitItems').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Product Item</button>
    <button class="btn btn-success btn-sm" onclick="AddCommentItem(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-comment"></span>&nbsp;Add Comment</button>
    
    <button class="btn btn-default btn-sm" onclick="RefreshKitItems();" style="margin-bottom:5px; float:right;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>
}


@(Html.Kendo().Grid<SnapSuite.Models.ProductKitItemViewModel>()
        .Name("GridKitItems")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Items Added")))
        .Columns(columns =>
        {
            if (ViewBag.EditProducts)
            {
                columns.Bound(u => u.ID).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");
            }
            columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("#if(!Product.IsComment) {# <a class='popup-image' target='_blank' href='#=ImageURL#' title='#=Product.Description#'><img src='#=ImageURL#' style='width:100%; max-height:35px; max-width:35px;'></a> #}#").EditorTemplateName("BlankTemplate").Width("1%");
            columns.Bound(p => p.Product).ClientTemplate("#if(Product.IsComment) {# <strong><i> #}# #=Product.Description# #if(Product.IsComment) {# </i></strong> #}#").EditorTemplateName("ProductKitItemDropDown");
            columns.Bound(p => p.HideOnPdf).Title("Hidden Item").ClientTemplate("#if(HideOnPdf) {# <span title='Hidden Item' class='glyphicon glyphicon-eye-close'></span> #}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
            columns.Bound(p => p.Quantity).Title("Quantity").ClientTemplate("#if(!Product.IsComment) {# #=kendo.toString(Quantity, 'n')# #}#").Width("10%");

            if (ViewBag.EditProducts)
            {
                columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                ).Width("90px");
            }
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this item?").CreateAt(GridInsertRowPosition.Bottom).DisplayDeleteConfirmation(true))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
            .Model(model =>
            {
                model.Id(t => t.ID);
                model.Field(t => t.ID).Editable(false);                
                model.Field(t => t.KitID).Editable(false).DefaultValue(Model.ID);
                model.Field(t => t.ImageURL);
                model.Field(t => t.Product).DefaultValue(new SnapSuite.Models.ProductKitSelectItemViewModel { ID = "", Description = "New Comment Line", IsComment = false });
                model.Field(t => t.Quantity).DefaultValue(1);
            })
            .Create(create => create.Action("Create", "ProductKitItems", new { pdtID = Model.ID }))
            .Read(read => read.Action("Read", "ProductKitItems", new { pdtID = Model.ID }))
            .Update(update => update.Action("Update", "ProductKitItems"))
            .Destroy(destroy => destroy.Action("Destroy", "ProductKitItems"))
            .Events(events => events.RequestEnd("OnGridKitItemsRequestEnd"))
        )
        .Events(events => events.DataBound("KendoGridDatabound").Edit("OnGridKitItemsEdit"))
)

<br />
<br />
<br />
