﻿@model SnapSuite.Models.ProductViewModel

<div id="divNewProduct">
        
    @using (Ajax.BeginForm("_NewProduct", "Products", null, new AjaxOptions { UpdateTargetId = "divNewProduct", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()        
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row">
            <div class="col-xs-9">
                <h2>New Service</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
        </div>
        <div class="row form-table">   
            <div class="col-sm-12">
                <hr />
            </div>
            <div class="col-sm-5">
                <table>
                    @*<tr>
                        <td style="width:100px"><label>Product Code:</label></td>
                        <td>
                            @Html.TextBoxFor(model => model.ProductCode, new { @class = "form-control", @placeholder = "Enter Product Code" })
                            @Html.ValidationMessageFor(model => model.ProductCode, "", new { @class = "text-danger" })
                        </td>
                    </tr>*@
                    <tr>
                        <td style="width:100px"><label>Category:</label></td>
                        <td>
                        @(Html.Kendo().AutoCompleteFor(model => model.Category)
                                .DataTextField("Name")
                                .Filter(FilterType.Contains)
                                .MinLength(1)
                                .HtmlAttributes(new { style = "width:100%; max-width: 280px;" })
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownProductCategories", "ProductCategories"); });
                                }))
                        </td>
                    </tr>

                    @for (int x = 0; x < ((Model.CustomFieldValues != null) ? Model.CustomFieldValues.Count : 0); x++)
                    {
                        <tr>
                            <td>
                                <label>@(Model.CustomFieldValues[x].Label):</label>
                                @*@Html.HiddenFor(m => m.CustomFieldValues[x].ID)*@
                                @Html.HiddenFor(m => m.CustomFieldValues[x].Name)
                                @Html.HiddenFor(m => m.CustomFieldValues[x].Label)
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.CustomFieldValues[x].Value, new { @class = "form-control", @placeholder = string.Format("Enter {0}", Model.CustomFieldValues[x].Label) })
                            </td>
                        </tr>
                    }
                    <tr>
                        <td><label>Currency:</label></td>
                        <td>
                            @(Html.Kendo().DropDownListFor(model => model.CurrencyID)
                                .DataTextField("Name").DataValueField("ID")
                                .DataSource(source =>
                                {
                                    source.Read(read => { read.Action("DropDownCurrencies", "Dropdowns"); });
                                })
                                .Value(Model.CurrencyID.ToString())
                                .AutoBind(true)
                            )
                        </td>
                    </tr>
                    <tr>
                        <td><label>Price:</label></td>
                        <td>@Html.Kendo().NumericTextBoxFor(model => model.Price).Decimals(2)</td>
                    </tr>
                    <tr>
                        <td><label>Tax Rate (%):</label></td>
                        <td>@Html.Kendo().NumericTextBoxFor(model => model.VAT).Decimals(2)</td>
                    </tr>                       
                </table>
            </div>      
            <div class="col-sm-7">
                <hr class="visible-xs" />
                <label>Description:</label>
                @Html.TextAreaFor(model => model.Description, 3, 100, new { @class = "form-control", @placeholder = "Enter Description ", @style = "width:100%; max-width:none; margin-bottom:10px;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                
                <br />

                <label>Detailed Description:</label>
                @Html.TextAreaFor(model => model.DetailedDescription, 8, 100, new { @class = "form-control", @placeholder = "Enter Detailed Description here", @style = "width:100%; max-width:none; margin-bottom:10px;" })
            </div>

            @*<div class="col-sm-12">
                <br />
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.IsKit)
                    &nbsp;<strong>Is Kit</strong>
                </div>
            </div>*@
            
            @if (ViewBag.EditProducts)
            {
                <div class="col-sm-12">
                    <br /><br />
                    <input type="submit" value="Add Product" class="btn btn-inverse">
                </div>
            }
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                CreatedProduct(response["ID"]);
            }
        }
    </script>
</div>
