﻿@model SnapSuite.Models.ProductViewModel

@if (Model.IsKit && (!Model.UseKitPrice || !Model.UsePriceBreaks))
{
<div style="text-align:center">
    <h4>Kit will use total assigned products' prices and costs.</h4>
    <h5>Tick "Use Kit Price" to add pricing to this kit.</h5>
</div>
}
else
{ 
    <br />    
    if (ViewBag.EditProducts)
    {
        <a class="btn btn-info btn-sm" onclick="$('#GridPrices').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-tag"></span>&nbsp;Add New Price</a>
    }


    @(Html.Kendo().Grid<SnapSuite.Models.ProductPriceViewModel>()
        .Name("GridPrices")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Prices").Empty("No Prices Entered")))
        .Columns(columns =>
        {
            columns.Bound(p => p.Price).Title("Price").Format("{0:#,##0.#0}").Width("33%");
            columns.Bound(p => p.BreakPoint).Title("Break Point").Width("33%");
            columns.Bound(p => p.Currency).ClientTemplate("#=Currency.Name#").EditorTemplateName("CurrencyPriceDropDown");

            if (ViewBag.EditProducts)
            {
                columns.Command(command =>
                {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                }
                ).Width("90px");
            }
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this price?"))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
            .Model(model =>
            {
                model.Id(t => t.ID);
                model.Field(t => t.ID).Editable(false);
                model.Field(t => t.ProductID).Editable(false).DefaultValue(Model.ID);
                model.Field(t => t.Currency).DefaultValue(new SnapSuite.Models.SelectItemViewModel { ID = "1", Name = "GBP" });
            })
            .Create(create => create.Action("Create", "ProductPrices", new { pdtID = Model.ID }))
            .Read(read => read.Action("ReadPrices", "ProductPrices", new { pdtID = Model.ID }))
            .Update(update => update.Action("Update", "ProductPrices"))
            .Destroy(destroy => destroy.Action("Destroy", "ProductPrices"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
    )

    <br />
    if (ViewBag.EditProducts)
    { 
        <a class="btn btn-info btn-sm" onclick="$('#GridCosts').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-tag"></span>&nbsp;Add New Cost</a>
    }

    @(Html.Kendo().Grid<SnapSuite.Models.ProductCostViewModel>()
        .Name("GridCosts")
        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Costs").Empty("No Costs Entered")))
        .Columns(columns =>
        {
            columns.Bound(p => p.Cost).Title("Cost").Format("{0:#,##0.#0}").Width("33%");
            columns.Bound(p => p.BreakPoint).Title("Break Point").Width("33%");
            columns.Bound(p => p.Currency).ClientTemplate("#=Currency.Name#").EditorTemplateName("CurrencyPriceDropDown");

            if (ViewBag.EditProducts)
            {
                columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                ).Width("90px");
            }
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this price?"))
        .Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
            .Model(model =>
            {
                model.Id(t => t.ID);
                model.Field(t => t.ID).Editable(false);
                model.Field(t => t.ProductID).Editable(false).DefaultValue(Model.ID);
                model.Field(t => t.Currency).DefaultValue(new SnapSuite.Models.SelectItemViewModel { ID = "1", Name = "GBP" });
            })
            .Create(create => create.Action("Create", "ProductCosts", new { pdtID = Model.ID }))
            .Read(read => read.Action("ReadCosts", "ProductCosts", new { pdtID = Model.ID }))
            .Update(update => update.Action("Update", "ProductCosts"))
            .Destroy(destroy => destroy.Action("Destroy", "ProductCosts"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
    )
    
}


<br />
<br />
<br />