﻿@model SnapSuite.Models.ProductViewModel

<script>
    function OnGridSupplierProductsRequestEnd(e) {
        //RequestEnd handler code
        if (e.type !== null && e.type !== 'read') {
            $('#GridSupplierProducts').data('kendoGrid').dataSource.read();
        }
    }
</script>

<br />  
@if (ViewBag.EditProducts) 
{       
    <a class="btn btn-info btn-sm" onclick="$('#GridSupplierProducts').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-tag"></span>&nbsp;Add New Supplier</a>
}

@(Html.Kendo().Grid<SnapSuite.Models.SupplierProductViewModel>()
    .Name("GridSupplierProducts")
    .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Suppliers").Empty("No Suppliers Entered")))
    .Columns(columns =>
    {
        columns.Bound(u => u.IsMainSupplier).Title("Main").ClientTemplate("#if(IsMainSupplier) {# <span class='glyphicon glyphicon-ok' title='Main Supplier' ></span> #}#").Width("1%");
        columns.Bound(p => p.Supplier).ClientTemplate("#=Supplier.Name#").EditorTemplateName("SupplierDropDown");
        columns.Bound(u => u.AgreedDiscount).Title("Agreed Discount (%)").ClientTemplate("#if(AgreedDiscount != null){# #=kendo.toString(AgreedDiscount, 'n')#% #}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");

        if (ViewBag.EditProducts)
        {
            columns.Command(command =>
            {
                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
            }
            ).Width("90px");    
        }        
    })
    .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this supplier?"))
    .Sortable()
    .DataSource(dataSource => dataSource
        .Ajax()
        //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
        .Model(model =>
        {
            model.Id(t => t.ID);
            model.Field(t => t.ID).Editable(false);
            model.Field(t => t.Supplier).Editable(true).DefaultValue(new SnapSuite.Models.SelectItemViewModel { ID = "", Name = "" });
            model.Field(t => t.Product).Editable(false).DefaultValue(new SnapSuite.Models.SelectItemViewModel { ID = Model.ID, Name = Model.ProductCode });
            //model.Field(t => t.Currency).DefaultValue(new SnapSuite.Models.SelectItemViewModel { ID = "1", Name = "GBP" });
        })
        .Create(create => create.Action("Create", "SupplierProducts", new { pdtID = Model.ID }))
        .Read(read => read.Action("ReadProducts", "SupplierProducts", new { pdtID = Model.ID }))
        .Update(update => update.Action("Update", "SupplierProducts"))
        .Destroy(destroy => destroy.Action("Destroy", "SupplierProducts"))
        .Events(events => events.RequestEnd("OnGridSupplierProductsRequestEnd"))
    )
    .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
<br />
<br />