﻿@model SnapSuite.Models.ProductViewModel
<script>
    function OnGridQualificationsRequestEnd(e) {
        if (e.type !== null && e.type !== 'read') {
            $("#GridQualifications").data("kendoGrid").dataSource.read();
        }
    }
</script>

<br />

@if (ViewBag.EditQuotations)
{
    <a class="btn btn-info btn-sm" onclick="$('#GridQualifications').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;New Qualification</a>
}

@(Html.Kendo().Grid<SnapSuite.Models.ProductQualificationGridViewModel>()
        .Name("GridQualifications")
        .Pageable(p => p.PageSizes(new[] { 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Qualifications").Empty("No Qualifications Found")))
        .Columns(columns =>
        {
            columns.Bound(p => p.SortPos).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");
            columns.Bound(p => p.ID).Hidden();
            columns.Bound(p => p.Description).Title("Description").EditorTemplateName("TextAreaTemplate").Sortable(false);
            columns.Bound(u => u.IsSubHeading).Title("Sub Heading").ClientTemplate("#if(IsSubHeading){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
            columns.Bound(u => u.IsSubItem).Title("Sub Item").ClientTemplate("#if(IsSubItem){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    
            if (ViewBag.EditQuotations)
            {
                columns.Command(command =>
                {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                }
                ).Width("90px");
            }
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this qualification?"))
        //.Sortable()
        .DataSource(dataSource => dataSource
            .Ajax()
            .Sort(sort => sort.Add("SortPos").Ascending()) // <-- initial sort expression
            .Model(model =>
            {
                model.Id(l => l.ID);
                model.Field(l => l.ProductID).Editable(false).DefaultValue(Model.ID);
            })
            .Create(create => create.Action("Create", "ProductQualifications", new { productID = Model.ID }))
            .Read(read => read.Action("Read", "ProductQualifications", new { productID = Model.ID })).PageSize(50)
            .Update(update => update.Action("Update", "ProductQualifications"))
            .Destroy(destroy => destroy.Action("Destroy", "ProductQualifications"))
            .Events(events => events.RequestEnd("OnGridQualificationsRequestEnd"))
        )
        .Events(events => events.DataBound("KendoGridDatabound"))
)

<br />
<br />

<script>
    $(".k-grid[id='GridQualifications'] table").kendoSortable({
        connectWith: ".k-grid[id='GridQualifications'] table",
        filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
        disabled: ".no-drag", //do not allow transferring the no records row
        hint: $.noop,
        cursor: "move",
        placeholder: function (element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        },
        change: function (e) { //change event handler implementation may differ according to the scenario

            try {
                var element = this.element.closest(".k-grid[id='GridQualifications']");
                var grid = this.element.closest(".k-grid[id='GridQualifications']").data("kendoGrid");
                var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                $('[id="GridQualifications"]').each(function () {
                    if (dataItem == null)
                        dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                });

                if (e.action == "receive" || e.action == "sort")
                    $.ajax({
                        url: '@Url.Action("_UpdateQualificationPositions", "ProductQualifications")',
                        type: 'POST',
                        data: {
                            qualificationID: dataItem.ID,
                            oldIndex: e.oldIndex,
                            newindex: e.newIndex,
                        },
                        dataType: "json",
                        success: function (data) { RefreshItems(); }
                    });
                }
            catch (ex) { RefreshSections(); }
        },
        move: function(e) {
            console.log("move to index: " + this.indexOf(this.placeholder));
        }
    });

</script>