﻿
@{
    ViewBag.Title = "Deleted Products";
}

<div class="row">
    <div class="col-sm-9">
        <h1>Deleted Products</h1>        
    </div>
    <div class="col-sm-3">
        <br />
        <a class="btn btn-default" style="float:right;" href="@Url.Action("Index", "Products")"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Products</a>
    </div>
    <div class="col-sm-12">
        <hr />
        <div class="form-group" role="group" aria-label="...">
            <a class="btn btn-sm btn-default" onclick="RefreshProducts(); return false;"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</a>
            <a class="btn btn-sm btn-danger" onclick="ClearProducts(); return false;"><span class="glyphicon glyphicon-fire"></span>&nbsp; Clear</a>
        </div>
    </div>
    <div class="col-sm-12">
        @(Html.Kendo().Grid<SnapSuite.Models.ProductGridViewModel>()
                .Name("GridProducts")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Deleted Products Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("<a class='popup-image' target='_blank' href='#=ImageURL#' title='#=ProductCode#'><img src='#=ImageURL#' style='width:100%; max-height:35px; max-width:35px;'></a>").Width("1%");
                    columns.Bound(u => u.ProductCode).Title("Product Code");
                    columns.Bound(u => u.Category).Title("Category");
                    columns.Bound(u => u.Description).Title("Description").ClientTemplate("#=Description#<div class='div-inline' style='float:right'>#if(IsKit){ #<span class='glyphicon glyphicon-th-large' title='Product Kit' style='margin-left:3px'/># }#"
                                                                 + "</div>").Width("50%");
                    //columns.Bound(u => u.VendorCode).Title("Vendor Code");
                    //columns.Bound(u => u.Manufacturer).Title("Manufacturer");
                    columns.Bound(u => u.Unit).Title("Unit");
                    columns.Bound(u => u.Prices).Title("Prices").ClientTemplate("<div class='div-inline'>#=Prices#</div>").Sortable(false);
                    columns.Template(@<text></text>).ClientTemplate("<a title='Restore' href='\\#' onclick='RestoreProduct(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-share-alt glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        command.Destroy().Text("<span class='glyphicon glyphicon-fire glyphicon-btn' title='Delete Permanently'/>");
                    }
                    ).Width("1%");
                })
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);                        
                    })
                    .Read(read => read.Action("Read", "ProductGrid").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destory => destory.Action("Destroy", "ProductGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
</div>

<script>

    function RefreshProducts() {
        var grid = $("#GridProducts").data("kendoGrid");
        grid.dataSource.read();
    }

    function GetSearchInfo() {
        return {
            filterText: "",
            category: "",
            del: true
        }
    }

    function RestoreProduct(id) {        
        $.ajax({ url: '@Url.Action("_RestoreDeleted", "ProductGrid")', type: 'POST', data: { "ID": id }, dataType: "json", success: function (data) { RefreshProducts(); }  });      
    }

    function ClearProducts() {
        if (confirm('Permanently remove all deleted products?')) {
            $.ajax({ url: '@Url.Action("_ClearDeletedProducts", "ProductGrid")', type: 'POST', data: {}, dataType: "json", success: function (data) { RefreshProducts(); } });
        }
    }

</script>


