﻿@using SnapSuite.Models
@{
    ViewBag.Title = "Products & Services";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>Products & Services</h1>
        </div>
        <div class="col-xs-6">
            <br />
            @*@if (ViewBag.EditProducts) { 
                <div class="btn-group" style="float:right; margin-right:3px;">
                    <button type="button" class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cloud-upload"></span>&nbsp;Import <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="@Url.Action("UploadProducts", "ProductImport")" target="_blank">Import Products and Kits</a></li>
                        <li><a href="@Url.Action("UploadProductImages", "ProductImport")" target="_blank">Import Product Images</a></li>
                        <li><a href="@Url.Action("UploadPricesCosts", "ProductImport")" target="_blank">Import Price/Cost Breaks</a></li>
                        <li><a href="@Url.Action("Upload", "ProductLinksImport")" target="_blank">Import Alternatives and Associations</a></li>
                    </ul>
                </div> 
            }*@
            
            @*@if (ViewBag.DeleteProducts)
            {
                <a class="btn btn-danger" style="float:right; margin-right:3px;" href="/Products/Deleted/"><span class="glyphicon glyphicon-trash"></span> &nbsp;Deleted Products</a>
            }*@            
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            @if (ViewBag.EditProducts)
            {
                <a class="btn btn-primary" onclick="NewProduct(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Service</a>
            }            
        </div>
        <div class="col-xs-2">
            
        </div>
        <div class="col-xs-4">
            <div class="input-group">
                @Html.TextBox("TB_ProductFilter", null, new { @class = "form-control", @style = "max-width:none;", @placeholder = "Search by Code, Description, Vendor or Manufacturer" })
                <span class="input-group-btn">
                    <a class="btn btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
                @*@if (ViewBag.EditProducts)
                {
                    <button class="btn btn-sm btn-default" onclick="Edit();"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</button>
                }*@                
                @*@if (ViewBag.ExportProducts)
                {
                    <div class="btn-group" style="float:right">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-export"></span>&nbsp; Export <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" onclick="ExportProducts();">Export Products</a></li>
                            <li><a href="#" onclick="ExportProductPrices();">Export Prices</a></li>
                            <li><a href="#" onclick="ExportProductCosts();">Export Costs</a></li>
                            <li><a href="#" onclick="ExportProductKits();">Export Kits</a></li>
                            <li><a href="#" onclick="ExportProductImages();">Export Images</a></li>
                        </ul>
                    </div>
                }*@
            </div>
        </div>

        @if (ViewBag.EditProducts)
        {
            <div id="divEdit" class="col-sm-12" style="display:none">
                <div class="form-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-default" onclick="SelectAll(); return false;"><span class="glyphicon glyphicon-check"></span>&nbsp; Select All</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DeleteSelected(); return false;"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete Selected</a>&nbsp;
                    <a class="btn btn-sm btn-default" onclick="DoneEdit(); return false;"><span class="glyphicon glyphicon-ok"></span>&nbsp; Done</a>&nbsp;
                </div>
            </div>
        }

        <div class="col-sm-12">
            @(Html.Kendo().Grid<SnapSuite.Models.ProductGridViewModel>()
                .Name("GridProducts")
                .HtmlAttributes(new { style = "min-width: 750px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Products").Empty("No Products Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.SortPos).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.Description).Title("Description").Width("50%");

                    foreach(var col in  (ViewBag.ProductColumns as CustomProductField[]))
                    {
                        columns.Bound(u => u.CustomFieldValues).Title(col.Label).ClientTemplate("#=addCustomFieldValue(CustomFieldValues, '" + col.Name + "')#").Sortable(false);
                    }

                    columns.Bound(u => u.Prices).Title("Prices").ClientTemplate("<div class='div-inline'>#=Prices#</div>").Sortable(false).Width("1%");
                    columns.Template(@<text></text>).ClientTemplate("<a title='Edit' href='\\#' onclick='EditProduct(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");

                    if (ViewBag.DeleteProducts)
                    {
                        columns.Command(command =>
                        {
                            command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete'  />");
                        }
                        ).Width("1%");    
                    }
                })                
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this product?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Read(read => read.Action("Read", "ProductGrid").Data("GetSearchInfo")).PageSize(50)
                    .Destroy(destory => destory.Action("Delete", "ProductGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_Edit" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1300px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="Edit_Body"></div>
    </div>
</div>

<script>

    @if (!string.IsNullOrEmpty(ViewBag.ProductID))
    {
        <text> EditProduct('@ViewBag.ProductID');</text>
    }

    @if (ViewBag.NewProduct != null)
    {
        <text> NewProduct();</text>
    }

    function Refresh() {
        var grid = $("#GridProducts").data("kendoGrid");
        grid.dataSource.read();

        //Save cookie values here
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProductFilter').val(),
            del: false
        }
    }

    function Edit() {
        var grid = $("#GridProducts").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').hide();
            $('#divEdit').show();
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridProducts").data("kendoGrid");
        $('#divPager').show();
        $('#divEdit').hide();
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }


    $("#TB_ProductFilter").keyup(function (e) {
        //if (e.keyCode == 13) {
            Refresh();
        //}
    });


    @if(ViewBag.EditProducts)
    {
        <text>

    //Below the following functions are used the show/hide the content panels.
    function NewProduct() {
        $("#Edit_Body").load("@Url.Action("_NewProduct", "Products")");

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedProduct(id) {
        var url = '@Url.Action("_EditProduct", "Products")' + '?ID=' + id;
        $("#Edit_Body").load(url);
    }

    </text>
    }


    function EditProduct(id) {
        var url = '@Url.Action("_EditProduct", "Products")' + '?ID=' + id;
        $("#Edit_Body").load(url);

        $("#SlideContent_Edit").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_Edit").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }


    @if (ViewBag.DeleteProducts)
    {
        <text>
    function DeleteSelected() {
        if (confirm("Are you sure you want to delete these Products?")) {

            var ids = $("input[name=chk_grid]:checkbox:checked").map(function () { return this.value; }).get().join();

            $.ajax({
                url: '@Url.Action("_Delete", "ProductGrid")',
                type: 'POST',
                data: { "IDs": ids },
                dataType: "json",
                success: function (data) { Refresh(); }
            });
        }
    }
    </text>
    }

    function HideViews() {
        $("#SlideContent_Edit").animate({ width: '0%' }, { queue: false, duration: 300 });
        setTimeout(function () {
            $("#SlideContent_Edit").fadeOut();
            $("#Button_Close_Content").fadeOut();
            $("#Edit_Body").empty();
            Refresh();
        }, 300);
    }


    @if(ViewBag.EditProducts)
    {
        <text>
        function CreatedProduct(id) {
            var url = '@Url.Action("_EditProduct", "Products")' + '?ID=' + id;
            $("#Edit_Body").load(url);
        }


        function RemoveImage(id) {
            $.ajax({
                url: '@Url.Action("RemoveImage", "Products")',
                type: 'POST',
                data: { "pdtID": id },
                dataType: "json",
                success: function (data) { EditProduct(id); }
            });
        }
        </text>
    }

    $(".k-grid[id='GridProducts'] table").kendoSortable({
        connectWith: ".k-grid[id='GridProducts'] table",
        filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
        disabled: ".no-drag", //do not allow transferring the no records row
        hint: $.noop,
        cursor: "move",
        placeholder: function (element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        },
        change: function (e) { //change event handler implementation may differ according to the scenario
            try {
                var element = this.element.closest(".k-grid[id='GridProducts']");
                var grid = this.element.closest(".k-grid[id='GridProducts']").data("kendoGrid");
                var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                $('[id="GridProducts"]').each(function () {
                    if (dataItem == null)
                        dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                });

                if (e.action == "receive" || e.action == "sort")
                    $.ajax({
                        url: '@Url.Action("_UpdatePositions", "ProductGrid")',
                        type: 'POST',
                        data: {
                            ID: dataItem.ID,
                            oldIndex: e.oldIndex,
                            newindex: e.newIndex,
                        },
                        dataType: "json",
                        success: function (data) { Refresh(); }
                    });
                }
            catch (ex) { Refresh(); }
        },
        move: function(e) {
            console.log("move to index: " + this.indexOf(this.placeholder));
        }
    });

</script>



