﻿@{
    ViewBag.Title = "Upload Product Images";
}


<script>
    //ATTACHEMENT TAB FUNCTIONS
    function OnUploadImage(e) {
        e.data = { importDate: '@DateTime.Now.ToString()', ignoreCase:  $('#CB_IgnoreCase').is(':checked'), deleteExisting:  $('#CB_DeleteExisting').is(':checked') };
    }

    function OnUploadSuccess(e) {
        alert("Images have been uploaded and products have been updated.");
        location.reload(true);
    }
</script>

<div class="row">

    <div class="col-sm-12">
        
    </div>
    <div class="col-sm-5">
        <div class="panel panel-primary">
            <div class="panel-body">
                
                <div class="col-sm-12">
                    <h2>Upload Product Images</h2>
                    <hr />
                    <p>Simply select and upload the images from your computer.</p>
                    <p>The products' photos will be updated with the correct uploaded images if the filename matches the product code of the product.</p>
                    
                    <p><strong>Example:</strong></p>
                    <p>An image with the filename "TOP-M-BLK" will update the product with product code "TOP-M-BLK".</p>
                    
                    <hr />

                    <div class="checkbox">
                        @(Html.CheckBox("CB_IgnoreCase", true))
                        &nbsp;<strong>Ignore text case on Product Codes.</strong>
                    </div>

                    <div class="checkbox">
                        @(Html.CheckBox("CB_DeleteExisting", true))
                        &nbsp;<strong>Replace existing images? (Old products images get deleted if selected.)</strong>
                    </div>

                    <p style="color:red">IMPORTANT: When matching the file extensions (.png, .jpg) are ignored. e.g. "JK002.png" becomes "JK002"</p>
                    <p style="color:red">IMPORTANT: If uploading multiple images for the same product use the numbering format "(X)". e.g. "CHAIR-BLK (1).png", "CHAIR-BLK (2).png", "CHAIR-BLK (3).png", "CHAIR-BLK (4).png", etc.</p>
                    @*<p style="color:red">IMPORTANT: The filename and product code match is case sensitive.</p>*@
                    <br />
                </div>                
                <div class="col-sm-12">
                    @(Html.Kendo().Upload()
                        .Name("images")
                        .HtmlAttributes(new { accept = "image/*" })
                        .Async(a => a.Save("UploadPhotos", "ProductImport"))
                        .ShowFileList(true)
                        .Events(events => events.Upload("OnUploadImage").Complete("OnUploadSuccess"))
                    )
                    <span style="font-size:x-small">Max 2Mbs per file</span>
                </div>

                
            </div>
        </div>
    </div>
        
</div>




