﻿
@{
    ViewBag.Title = "Import Products";
}

<div class="row">
    <div class="col-sm-12">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                @ViewBag.SuccessMessage
            </div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <strong>Error:</strong> @ViewBag.ErrorMessage
            </div>
        }
        
        <div id="uploadProgress" class="panel panel-primary" style="display:none">
            <div class="panel-body">
                <h3>Upload in progress....</h3>
                <h4 style="color:gray">Please wait while your import is being processed.</h4>
            </div>
        </div>

    </div>


    <div class="col-sm-12">
        <h2>Import Products and Kits</h2>    
        <hr />
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-body">                
                @using (Html.BeginForm("UploadProducts", "ProductImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()  
                    <h3>Import Products</h3>            
                    <hr />
                    <lable><strong>Step 1. Download our Products Template</strong></lable>
                    <p>First download our Excel template file. This file has the correct column headings needs to import your product data.</p>
                    <a class="btn btn-primary btn-xs" target="_blank" href="/Content/Import Products Template.xls"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download Template</a>
                    <br />
                    <br />
                    <lable><strong>Step 2. Copy your products into the template</strong></lable>
                    <p>Copy and Paste your existing products to the template file using an spreadsheet editor such us Microsoft Excel or Open Office Calc</p>
                    <p style="color:red">IMPORTANT: Pre-existing products, entries that share the same Product Code, will be updated with the new data.</p>
                    <p style="color:red">IMPORTANT: For 'Currency' use GBP, USD or EUR</p>
                    <br />
                    
                    <lable><strong>Step 3. Upload the updated template file</strong></lable>
                    <p>Simply select the file on your computer and press the import button below. The file should be in ".xls" format.</p>
                    <br />

                    <input id="upload" type="file" name="upload" accept=".xls" />
                    <hr />
                    <input type="submit" value="Upload Products" class="btn btn-primary" onclick="ShowProgress();" />
                }
                @if (ViewBag.QuickBooks)
                {
                    <br />
                    using (Html.BeginForm("ImportProductsFromQB", "Quickbooks", null, FormMethod.Post, null))
                    {
                        <input type="submit" value="Import From QuickBooks" class="btn btn-primary" onclick="if (!confirm('Import from QuickBooks?')) { return false; } ShowProgress()" />
                    }
                }
                @if (ViewBag.Xero)
                {
                    <br />
                    using (Html.BeginForm("ImportProductsFromXero", "Xero", null, FormMethod.Post, null))
                    {
                        <input type="submit" value="Import From Xero" class="btn btn-primary" onclick="if (!confirm('Import from Xero?')) { return false; } ShowProgress()" />
                    }
                }
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-body">
                @using (Html.BeginForm("UploadKits", "ProductImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h3>Import Kit Items</h3>
                    <hr />
                    <lable><strong>Step 1. Download our Kits Template</strong></lable>
                    <p>First download our Excel template file. This file has the correct column headings needs to import your product data.</p>
                    <a class="btn btn-danger btn-xs" target="_blank" href="/Content/Import Kit Items Template.xls"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download Template</a>
                    <br />
                    <br />
                    <lable><strong>Step 2. Copy your kit items list into the template</strong></lable>                    
                    <p>Copy and Paste your existing kit items to the template file using an spreadsheet editor such us Microsoft Excel or Open Office Calc</p>
                    <p>'KitProductCode' is the product code of the kit and 'ItemProductCode' is the product code of the item to be added to the kit.</p>
                    <p style="color:red">IMPORTANT: Pre-existing kit items will be replaced with the new data.</p>
                    <br />

                    <lable><strong>Step 3. Upload the updated template file</strong></lable>
                    <p>Simply select the file on your computer and press the import button below. The file should be in ".xls" format.</p>
                    <br />

                    <input id="upload" type="file" name="upload" accept=".xls" />
                    <hr />
                    <input type="submit" value="Upload Kits" class="btn btn-danger" onclick="ShowProgress();" />
                }
            </div>
        </div>
    </div>

</div>

<script>
    function ShowProgress() {
        $("#uploadProgress").fadeIn();
    }
</script>



