﻿
@{
    ViewBag.Title = "Import Products";
}

<div class="row">
    <div class="col-sm-12">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success">
                @ViewBag.SuccessMessage
            </div>
        }
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="alert alert-danger">
                <strong>Error:</strong> @ViewBag.ErrorMessage
            </div>
        }
        
        <div id="uploadProgress" class="panel panel-primary" style="display:none">
            <div class="panel-body">
                <h3>Upload in progress....</h3>
                <h4 style="color:gray">Please wait while your excel file is being processed.</h4>
            </div>
        </div>

    </div>


    <div class="col-sm-12">
        <h2>Import Product Prices & Costs Breaks</h2>    
        <hr />
    </div>
    
    <div class="col-sm-4">
        <div class="panel panel-danger">
            <div class="panel-body">
                @using (Html.BeginForm("UploadPrices", "ProductImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h3>Import Product Price Breaks</h3>
                    <hr />
                    <lable><strong>Step 1. Download our Prices Template</strong></lable>
                    <p>First download our Excel template file. This file has the correct column headings needs to import your product data.</p>
                    <a class="btn btn-danger btn-xs" target="_blank" href="/Content/Import Product Prices Template.xls"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download Template</a>
                    <br />
                    <br />
                    <lable><strong>Step 2. Copy your price list into the template</strong></lable>
                    <p>Copy and Paste your existing prices to the template file using an spreadsheet editor such us Microsoft Excel or Open Office Calc</p>
                    <p style="color:red">IMPORTANT: Pre-existing price breakdowns will be replaced with the new data.</p>
                    <p style="color:red">IMPORTANT: For 'Currency' use GBP, USD or EUR</p>
                    <br />

                    <lable><strong>Step 3. Upload the updated template file</strong></lable>
                    <p>Simply select the file on your computer and press the import button below. The file should be in ".xls" format.</p>
                    <br />

                    <input id="upload" type="file" name="upload" accept=".xls" />
                    <hr />
                    <input type="submit" value="Upload Prices" class="btn btn-danger" onclick="ShowProgress();" />
                }
            </div>
        </div>
    </div>
    
    <div class="col-sm-4">
        <div class="panel panel-warning">
            <div class="panel-body">
                @using (Html.BeginForm("UploadCosts", "ProductImport", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <h3>Import Product Cost Breaks</h3>
                    <hr />
                    <lable><strong>Step 1. Download our Costs Template</strong></lable>
                    <p>First download our Excel template file. This file has the correct column headings needs to import your product data.</p>
                    <a class="btn btn-warning btn-xs" target="_blank" href="/Content/Import Product Costs Template.xls"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download Template</a>
                    <br />
                    <br />
                    <lable><strong>Step 2. Copy your cost list into the template</strong></lable>
                    <p>Copy and Paste your existing costs to the template file using an spreadsheet editor such us Microsoft Excel or Open Office Calc</p>
                    <p style="color:red">IMPORTANT: Pre-existing cost breakdowns will be replaced with the new data.</p>
                    <p style="color:red">IMPORTANT: For 'Currency' use GBP, USD or EUR</p>
                    <br />

                    <lable><strong>Step 3. Upload the updated template file</strong></lable>
                    <p>Simply select the file on your computer and press the import button below. The file should be in ".xls" format.</p>
                    <br />

                    <input id="upload" type="file" name="upload" accept=".xls" />
                    <hr />
                    <input type="submit" value="Upload Costs" class="btn btn-warning" onclick="ShowProgress();" />
                }
            </div>
        </div>
    </div>
        
</div>

<script>
    function ShowProgress() {
        $("#uploadProgress").fadeIn();
    }
</script>



