﻿@model SnapSuite.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


@*Sets the background of the page.*@
<div class="backgroundHome" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;"></div>

<div class="row" style="margin-top: 10%;">
    <div class="col-sm-12">
        <div class="panel panel-default" style="max-width: 400px; display: block; margin-left: auto; margin-right: auto;">
            <div class="panel-body" style="margin-left: 10px; margin-right: 10px;">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    
                    <h3>Forgot your password?</h3>
                    <hr />
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:none", @placeholder = "Enter Email Address" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <hr />
                    <input type="submit" class="btn btn-primary" value="Email Reset Link" style="width:100%; max-width:none;" />
                      
                }
            </div>
        </div>
    </div>
</div>




@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
