﻿@model SnapSuite.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
}

@*Sets the background of the page.*@
<div class="backgroundHome" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>

    <div class="row" style="margin-top: 5%;"> 
        <div class="col-sm-5 hidden-xs" style="text-align: center; color: white;">
            <img class="img-responsive" style="margin-top: 10%; max-width:400px; margin:auto; position:center;"  src="/Content/logos/quikflw_white500px.png" />
            <h1 class="white-text">14 Days Free!</h1>
            <h4 class="white-text">Get 14 days free trial of the all the modules when you sign up. Including CRM, Quotations, Jobs, Delivery Notes & Invoices.</h4>
            <h4 class="white-text">No Credit Card required.</h4>
            <h5 class="white-text">You can change your plan after you have registered.</h5>
            <br />
        </div>
              
        <div class="col-sm-7">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
               
                <div class="panel panel-default" style="max-width: 500px; display: block; margin-left: auto; margin-right: auto;">
                    <div class="panel-body" style="margin-left: 10px; margin-right: 10px;">
                        <h2>@ViewBag.Title</h2>
                        <hr />

                        @Html.TextBoxFor(m => m.BusinessName, new { @class = "form-control", @style = "max-width:none", @placeholder = "Enter your Business Name" })
                        @Html.ValidationMessageFor(m => m.BusinessName, "", new { @class = "text-danger" })
                        <br />

                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @style = "max-width:none", @placeholder = "Enter your First Name" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                        <br />

                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @style = "max-width:none", @placeholder = "Enter your Last Name" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                        <br />


                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @style = "max-width:none", @placeholder = "Enter a Phone Number" })
                        @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                        <br />
                        
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:none", @placeholder="Enter an Email Address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <br />
                        
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "max-width:none", @placeholder = "Enter a Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <br />
                       
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "max-width:none", @placeholder = "Confirm Password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        
                        <br />
                        
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="g-recaptcha" data-sitekey="6LcOnx8UAAAAACR6d-rcVEjTt4kpolG0TVM54mKi"></div>

                        @Html.TextBoxFor(m => m.Dummy, new { @style = "display:none"})
                        <div class="col-sm-12" style="text-align:center">
                            <br />
                            <input type="submit" class="btn btn-primary" value="Signup" style="width:80%;max-width:none;" />
                        </div>
                        <div class="col-sm-12">
                            <br />
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.ReadTermsAndConditions) <strong>&nbsp;I agree to the Quikflw  <a href="https://quikflw.com/Terms">terms and conditions.</a>  </strong>
                            </div>
                            @Html.ValidationMessageFor(m => m.ReadTermsAndConditions, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-12">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.ConsentDataCollection) <strong> &nbsp;I consent to having Quikflw collect my details via this form.</strong>
                            </div>
                            @Html.ValidationMessageFor(m => m.ConsentDataCollection, "", new { @class = "text-danger" })
                        </div>
                        
                        <div class="col-sm-12">
                            <br />
                            <p class="grey-text" style="font-size:13px; text-align:center;">This form collects your name, contact number and email address to help us create your account and to allow our team to communicate with you and provide additional assistance. Please check our <a href="https://quikflw.com/Privacy" target="_blank"><strong>privacy policy</strong></a> for more information on how we protect and manage your submitted data.</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
