﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>@ViewBag.Title.</h1>
            <hr />
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>

