﻿@model SnapSuite.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


@*Sets the background of the page.*@
<div class="backgroundHome" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>

    <div class="col-sm-12">
        <div class="row" style="margin-top: 10%;">
            <div class="col-sm-12">
                <div class="panel panel-default" style="max-width: 450px; display: block; margin-left: auto; margin-right: auto;">
                    <div class="panel-body" style="margin-left: 10px; margin-right: 10px;">

                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()                            
                            <h2>Reset your password.</h2>
                            <hr />                            
                            @Html.HiddenFor(model => model.Code)                            
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:none", @placeholder = "Enter Email Address" })       
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger"})
                            <br />
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "max-width:none", @placeholder = "Enter New Password" })        
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <br />
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "max-width:none", @placeholder = "Confirm New Password" })     
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            <hr />
                            <input type="submit" class="btn btn-primary" value="Reset" style="width:100%; max-width:none" />                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
