﻿@using SnapSuite.Models
@model ContactUsViewModel
@{
    ViewBag.Title = "Contact us for an online quotation system quote";
    
}

<div class="backgroundHome" style="width: 100%; height: 100%; position: absolute; left: 0; top:0; ">

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align:center;">
            <h1 class="white-text"> Contact Quikflw for information on quotations software.</h1>
            <h4 class="white-text">Want to get in touch with us to give some feedback, ask a question or report a bug? Use the form below. </h4>
        </div>
    </div>
    <br /> 
    <div class="row">
        <div class="col-sm-12">
            @using (Html.BeginForm("Contact", "Home", null, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="panel panel-default" style="max-width: 410px; display: block; margin-left: auto; margin-right: auto;">
                    <div class="panel-body" style="margin:10px;">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-sm-3 control-label"><strong>Category: </strong></div>
                                <div class="col-sm-9">
                                    @(Html.Kendo().DropDownListFor(model => model.Category)
                                        .DataTextField("Text")
                                        .DataValueField("Text")
                                        .BindTo(new List<SelectListItem>() {
                                                    new SelectListItem() { Text = "Request a Demo"},
                                                    new SelectListItem() { Text = "Request a Custom Template"},
                                                    new SelectListItem() { Text = "More Info Please"},
                                                    new SelectListItem() { Text = "Feedback"},
                                                    new SelectListItem() { Text = "Report Bug"},
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                    )
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label"></div>
                                <div class="col-sm-9">
                                    @Html.TextAreaFor(model => model.Message, 3, 100, new { @class = "form-control", @placeholder = "Enter Message here", @style = "width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-sm-3 control-label"><strong>Email: </strong> </span>
                                <div class="col-sm-9">
                                    @Html.Kendo().TextBoxFor(model => model.Email).HtmlAttributes(new { placeholder = "Email", style = "max-width:none; width:100%;" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 control-label">
                                    <span class="control-label"><strong>Username: </strong> </span>
                                    <br />
                                    <span>(Optional)</span>
                                </div>
                                <div class="col-sm-9">
                                    @Html.Kendo().TextBoxFor(model => model.Username).HtmlAttributes(new { placeholder = "Account Username/Email address", style = "max-width:none; width:100%;" })
                                </div>
                            </div>
                            <hr />
                            <input type="submit" value="Send Message" class="btn btn-primary" style="width:100%;max-width:none;" />
                        </div>
                    </div>
                </div>                
            }
        </div>
        <div class="col-sm-12" style="text-align:center">
            <h4 class="white-text">You can also call us on: </h4>
            <img style="margin-left: auto; margin-right: auto" alt="Fruitful" src="/Content/number_white.png">
        </div>
    </div>

</div>