﻿@using SnapSuite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Quikflw Customer Portal";
}

@*Sets the background of the page.*@
<div class="backgroundHome" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0;"></div>

<div class="row" style="margin-top:5%">
    <div class="col-sm-6 col-sm-offset-3">
        <img src="/Content/logos/quikflw_logo300px.png" class="img-responsive" alt="Quikflw Logo" style="margin:auto; position:center; padding-left:50px; padding-right:50px;">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row" style="margin-top: 10%;">
                <div class="col-sm-12">
                    <div style="max-width: 380px; display: block; margin-left: auto; margin-right: auto;">
                        <div class="panel panel-default">
                            <div class="panel-body" style="margin-left: 10px; margin-right: 10px;">
                                <div class="form-horizontal">
                                    <h2 style="text-align:center">Customer Portal</h2>
                                    <hr />
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:none", @placeholder = "Email Address" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    <br />
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "max-width:none", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    <br />
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-9">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" value="Log in" class="btn btn-primary" style="width:100%;max-width:none;" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p style="text-align:center; font-size:small; color:white">
                                @Html.ActionLink("Sign up as a new user.", "Register", null, new { @style = "color:white" })&nbsp;&nbsp;&nbsp;
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @style = "color:white" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>    
</div>

