﻿@{
    ViewBag.Title = "Pricing for online quotation system";
    
}
<meta name="description" content="Find out pricing options for our simple to use online quotation system" />

<style>
    p {
        font-size: larger;
    }
</style>
<div class="backgroundHome" style="width: 100%; height: 100%; position: absolute; left: 0; top:0; bottom:0; right:0;">
</div>

<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="white-text">Pricing Plans for Online Quotation Software</h1>
            <h4 class="white-text">For the price of the Quote system you also get the CRM module included</h4>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <tr>
                                    <td style="text-align:left; width:35%"></td>
                                    <td>
                                        <h4>Personal</h4>
                                        <h5><span style="font-size:300%">£15</span> / month</h5>
                                        <p><span style="font-size:small"><i>£18 inc. VAT</i></span></p>
                                        <asp:button runat="server" text="Choose Plan" cssclass="btn btn-success btn-sm" width="100%" postbackurl="~/Account/Register.aspx" />
                                    </td>
                                    <td>
                                        <h4>Professional 5</h4>
                                        <h5><span style="font-size:300%">£70</span> / month</h5>
                                        <p><span style="font-size:small"><i>£84 inc. VAT</i></span></p>
                                        <asp:button runat="server" text="Choose Plan" cssclass="btn btn-success btn-sm" width="100%" postbackurl="~/Account/Register.aspx" />
                                    </td>
                                    <td>
                                        <h4>Professional 10</h4>
                                        <h5><span style="font-size:300%">£130</span> / month</h5>
                                        <p><span style="font-size:small"><i>£156 inc. VAT</i></span></p>
                                        <asp:button runat="server" text="Choose Plan" cssclass="btn btn-success btn-sm" width="100%" postbackurl="~/Account/Register.aspx" />
                                    </td>
                                    <td>
                                        <h4>Customisable</h4>
                                        <h5><span class="glyphicon glyphicon-phone-alt" style="font-size:300%"></span></h5>
                                        <p><span style="font-size:small"><i>Call for a price</i></span></p>
                                        <asp:button runat="server" text="Contact Us" cssclass="btn btn-success btn-sm" width="100%" postbackurl="~/Contact.aspx" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">1 User Account</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">5 User Accounts</td>
                                    <td></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">10 User Accounts</td>
                                    <td></td>
                                    <td></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td>Call for a price</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">CRM Functionality</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Central database of all your quotes</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Ability to use a product list</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Allow one-off products or services to be added</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Download PDF’s of quotes</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Send emails with PDF directly to client</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Use of connected devices (iPad and other tablets)</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Change headers and footers on quotes to your brand</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Advanced staff management</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Approve discounts</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Email and phone support</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Manager approval workflow</td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                    <td><span class="glyphicon glyphicon-ok" style="color:green"></span></td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Your own templates</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Call for a price</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Build a text doc from your clients’ requirements</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Call for a price</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Include functionality from your current system</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Call for a price</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Accept payments online</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Call for a price</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Integrations with CRMs and other software</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Call to discuss</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Document builder and editor</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Call to discuss</td>
                                </tr>
                                <tr>
                                    <td style="text-align:left">Document embedding options</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Call to discuss</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 white-text" style="font-style:italic">
            <p>The contract is one month rolling, with 30 days’ notice of cancellation. Cancellation requests can be made by email.</p>
            <p>If you have any questions about our plans or require any customized pricing for our products then don't hesitate to <a class="white-text" href="/Contact.aspx">contact us.</a></p>
        </div>
    </div>
</div>