﻿@{
    ViewBag.Title = "Quikflw Terms & Conditions";
}
<meta name="description" content="Terms and conditions for our online quotes and proposal software Quikflw" />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            

            <h1>Quikflw Terms and Conditions</h1>
            <p>Last updated: April 3, 2018</p>

            <p>Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the www.quikflw.com website (the "Service") operated by Quikflw Limited ("us", "we", or "our").</p>

            <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>

            <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>

            <h4><strong>1.0&nbsp;Membership.</strong></h4>
            <p>Your Quikflw membership will continue month-to-month until terminated. Unless you cancel your membership before your monthly renewal date, you authorize us to charge your next month's membership fee to your Payment Method (see "Cancellation" below). To use the Quikflw service you must have Internet access and a compatable web browser, and you must provide us with a current, valid, accepted method of payment, which you may update from time to time ("Payment Method"). You can find specific details regarding your membership with Quikflw by visiting our website and clicking on the "Subscription Details" link available at the top of the pages of the Quikflw website under the steeting menu.</p>

            <h4><strong>2.0&nbsp;Free Trials</strong></h4>
            <p>2.1.&nbsp;Your Quikflw membership may start with a free trial. The free trial period of your membership lasts for one month, or as otherwise specified during sign-up and is intended to allow new members and certain former members to try the service. You will be notified during sign-up whether you are eligible for a free trial.</p>
            <p>2.2.&nbsp;We will bill your Payment Method for your monthly membership fee at the end of the free trial period unless you cancel your membership prior to the end of the free trial period. To view the monthly membership price and end date of your free trial period, visit our website and click the "Subscription Details" link. You will not receive a notice from us that your paid membership has begun.</p>

            <h4><strong>3.0&nbsp;Billing & Refunds</strong></h4>
            
            <p>3.1.&nbsp;Billing Cycle. The membership fee for our service will be billed on a monthly basis to your Payment Method on the calendar day corresponding to the commencement of your paid membership. In some cases the timing of your billing may change, for example if your Payment Method has not successfully settled or if your paying membership began on a day not contained in a given month. Visit our website and click on the "Subscription Details" link on the settings menu to see your next payment date.</p>
            <p>3.2.&nbsp;Payment Methods. You can change your Payment Method by visiting our website and clicking on the "Subscription Details" link. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not change your Payment Method or cancel your account, we may suspend your access to the service until we have obtained a valid Payment Method. You authorize us to continue billing the Payment Method, as it may be updated and you remain responsible for any uncollected amounts. This may result in a change to your payment billing dates. For certain Payment Methods, the issuer of your Payment Method may charge you a foreign transaction fee or other charges. Check with your Payment Method service provider for details.</p>
            <p>3.3.&nbsp;Cancellation. You can cancel your Quikflw membership at any time, and you will continue to have access to the Quikflw service through the end of your monthly billing period. We do not provide refunds or credits for any partial-month membership periods. To cancel, go to the "Subscription Details" page and follow the instructions for cancellation. If you cancel your membership, your account will automatically close at the end of your current billing period. If you signed up for Quikflw using your account with a third party as a Payment Method and wish to cancel your Quikflw membership at any time, including during your free trial, you may need to do so through such third party, for example by visiting your account with the applicable third party and turning off auto-renew, or unsubscribing from, the Quikflw service through that third party. You may also find billing information about your Quikflw membership by visiting your account with the applicable third party.</p>
            <p>3.4.&nbsp;Changes to the Price and Service Plans. We may change our service plans and the price of our service from time to time; however, any price changes or changes to our service plans will apply to you no earlier than 30 days following email notice to you.
            <p>3.5.&nbsp;No Refunds. REFUNDS WILL NOT BE PROVIDED FOR ANY SUBSCRIPTION. WE DO NOT PROVIDE CREDIT, REFUNDS, OR PRORATED BILLING FOR SUBSCRIPTIONS THAT ARE CANCELLED MID-MONTH. In such a circumstance, you will continue to have access to your Subscription until the end of the monthly billing cycle. Each Subscription Provider reserves the right to offer refunds, discounts or other consideration in select circumstances at its sole discretion. Please note that each circumstance is unique and election to make such an offer in one instance does not create the obligation to do so in another.</p>

            <h4><strong>4.0&nbsp;Links To Other Web Sites</strong></h4>
            <p>
                Our Service may contain links to third-party web sites or services that are not owned or controlled by Quikflw.
                Quikflw has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Quikflw shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.
            </p>

            <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>


            <h4><strong>5.0&nbsp;Termination</strong></h4>
            <p>
                We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.
                All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
            </p>


            <h4><strong>6.0&nbsp;Governing Law</strong></h4>
            <p>
                These Terms shall be governed and construed in accordance with the laws of United Kingdom, without regard to its conflict of law provisions.
                Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.
            </p>

            <h4><strong>7.0&nbsp;Changes</strong></h4>
            <p>
                We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.
            </p>


            <h4><strong>8.0&nbsp;Contact Us</strong></h4>

            <p>If you have any questions about these Terms, please contact us.</p>
        </div>
    </div>

</div>