﻿@{
    ViewBag.Title = "Pipeline";
}

<div style="position:absolute; top:100px; left:0; bottom:0; right:0; overflow-y:hidden">
    <div class="row" id="PartialView_Opportunities" style="white-space: nowrap; height:100%; margin:0; padding:0; padding-bottom:70px;">
        @*<div class="panel panel-info panel-status" style="display: inline-block; margin-left:10px; width:300px; max-height:100%; vertical-align:top">
            <div class="panel-heading div-inline" style="padding:3px;">
                Test Opportunity
                <div class="btn btn-xs" title="New Opportunity" onclick="NewOpportunity('9')"><span class="glyphicon glyphicon-plus" style="margin-bottom: 6px;"></span></div>
            </div>
            <div class="panel-body" style="padding:0;">
                <div class="k-widget k-listbox" deselectable="on" title="" style="width: 100%; height: 100vh; border: none; padding-bottom:170px;" data-role="draggable;">
                    <div class="k-list-scroller k-selectable" data-role="selectable" style="border:none">
                        <ul class="k-reset k-list" role="listbox" tabindex="0">
                            @for (var i = 0; i < 10; i++)
                            {
                                <li class="k-item" role="option" aria-selected="false" data-uid="597d39e4-b6e6-4898-8c75-b6869be5e35e" id="597d39e4-b6e6-4898-8c75-b6869be5e35e">
                                    <div style="cursor: pointer; background-color: #ebeee5; border-radius: 5px; padding: 5px; box-shadow: 3px 5px lightgrey;" title="Cardiff Electric LTD : Thirteen" onclick="EditOpportunity('1c2eb457-541f-4411-a5d3-c30191d438b7'); return false;">
                                        <div style="font-size:12px; color: black; width:99%" class="row">
                                            <div class="col-xs-10">
                                                <div style="overflow-wrap:normal; white-space:normal;">Cardiff Electric LTD</div>
                                                <div style="overflow-wrap:normal; white-space:normal;">Thirteen</div>
                                            </div>
                                            <div class="col-xs-2">

                                            </div>
                                            <div class="col-xs-3">
                                                £0.00
                                            </div>
                                            <div class="col-xs-9">
                                                <div title="Importance: 0%" style="height:10px;width:0%; background-color:#80e682; border-radius: 5px; margin-bottom: 2px;" />
                                                <div title="Probability: 0%" style="height:10px;width:0%; background-color:#80e682; border-radius: 5px; margin-bottom: 2px;" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@


        <div class="panel panel-info panel-status" style="display: inline-block; position:relative; width:300px; max-height:100%; vertical-align:top; display:flex;-webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; " >
            <div class="panel-heading div-inline" style="flex: 0 0 auto; padding: 8px 10px; position: relative; min-height: 18px; display: block;">
                Test Opportunity
                <div class="btn btn-xs" title="New Opportunity" onclick="NewOpportunity('9')"><span class="glyphicon glyphicon-plus" style="margin-bottom: 6px;"></span></div>
            </div>
            <div class="panel-body" style="padding:0; overflow-x:hidden; overflow-y:auto; min-height:0">
                <div style="height:100%; overflow-y:auto; padding:5px;">
                    <div style="height:100%;">
                        @for (var i = 0; i < 50; i++)
                        {
                            <span class="label label-danger" style="display:block; margin:5px;">sdrfiuegfsergfeawrg</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .k-slider-selection {
        background-color: #80e682;
    }

    .modal-larger {
        width: 1200px;
    }
</style>