﻿@model SnapSuite.Models.QuotationViewModel

<script>
    function RefreshAddBasis() {
        $("#GridAddBasis").data("kendoGrid").dataSource.read();
    }


    function AddBasisInfo() {
        return {
            filterText: $('#TB_BasisFilter').val()
        }
    }

    function AddBasis(basisID) {
        $.ajax({
            url: '/QuotationBasisOfEstimate/_AddBasisFromTemplate',
            type: 'POST',
            data: {
                basisID: basisID,
                quotationID: '@Model.ID'
            },
            success: function(response) {
                RefreshBasis();
                ShowSavedMessage();
            }
        })
    }


</script>


<br />
<div class="row">   
    <div class="col-xs-9">
        <h2>Service List</h2>       
    </div>
    <div class="col-xs-3">
        <br />
        <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
    </div>   
    <div class="col-xs-12">
        <div class="input-group">
            @Html.TextBox("TB_BasisFilter", null, new { @class = "form-control", @style = "max-width:none", @placeholder = "Search by Description" })
            <span class="input-group-btn">
                <a class="btn btn-default" onclick="RefreshAddBasis(); return false;"><span class="glyphicon glyphicon-search"></span></a>
                <a class="btn btn-default" onclick="RefreshAddBasis(); return false;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a>
            </span>
        </div>
        <script>
            $("#TB_BasisFilter").keyup(function (e) {
                //if (e.keyCode == 13) {
                RefreshAddBasis();
                //}
            });
        </script>
    </div>

    <div class="col-xs-12">
        <hr />
        @(Html.Kendo().Grid<SnapSuite.Models.BasisOfEstimateGridViewModel>()
                .Name("GridAddBasis")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Items").Empty("No Items Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).Hidden();
                    columns.Bound(u => u.Description).Title("Description").Encoded(false);
                    columns.Bound(u => u.IsSubHeading).Title("Sub Heading").ClientTemplate("#if(IsSubHeading){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    columns.Bound(u => u.IsSubItem).Title("Sub Item").ClientTemplate("#if(IsSubItem){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-inverse btn-xs' onclick='AddBasis(\"#=ID#\"); return false;'>Add</a>").Width(1); 

                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Read(read => read.Action("Read", "BasisOfEstimateGrid").Data("AddBasisInfo")).PageSize(50)
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
        )

    </div>
</div>


