﻿@model SnapSuite.Models.QuotationViewModel

<br />

<div id="div_AddProductButtons">
    <button class="btn btn-inverse btn-sm" onclick="$('#GridBasisOfEstimate').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;New Item</button>
    <button class="btn btn-inverse btn-sm" onclick="ShowBasisPage()" style="margin-bottom:5px;"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Add from Templates</button>
    <button class="btn btn-default btn-sm" onclick="RefreshBasis(); return false; " style="margin-bottom:5px; margin-left:3px; float:right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>
</div>

@(Html.Kendo().Grid<SnapSuite.Models.QuotationBasisOfEstimateViewModel>()
                .Name("GridBasisOfEstimate")
                .Pageable(p => p.PageSizes(new[] { 1000 }).Messages(m => m.Display("{0} - {1} of {2} Items").Empty("No Items Added")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");
                    //columns.Bound(u => u.BasisOfEstimateDescription).Title("Basis").EditorTemplateName("DescriptionTemplate").Encoded(false);
                    columns.Bound(u => u.BasisOfEstimateDescription).Title("Basis");
                    columns.Bound(u => u.IsSubHeading).Title("Sub Heading").ClientTemplate("#if(IsSubHeading){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    columns.Bound(u => u.IsSubItem).Title("Sub Item").ClientTemplate("#if(IsSubItem){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    if (Model.Status.ID == 1 && ViewBag.EditQuotations)
                    {
                        columns.Command(command =>
                        {
                            command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        }
                        ).HtmlAttributes(new { @style = "font-weight:bold", @class = "shaded-cell" }).Width("45px");
                        columns.Template(@<text></text>).ClientTemplate("<div class='btn btn-xs' onclick='DeleteBasisOfEstimate(\"#=ID#\")'><span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' /></div>").HtmlAttributes(new { @style = "font-weight:bold", @class = "shaded-cell" }).Width(1);
                    }
                })
                .Editable(editable => editable.Enabled(Model.Status.ID == 1 && ViewBag.EditQuotations).Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Top).DisplayDeleteConfirmation(true))
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);
                        model.Field(t => t.QuotationID).Editable(false).DefaultValue(Model.ID);
                    })
                    .Create(create => create.Action("Create", "QuotationBasisOfEstimate")) //Add comment items to the quote
                    .Read(read => read.Action("Read", "QuotationBasisOfEstimate", new { quoteID = Model.ID })).PageSize(1000)
                    .Update(update => update.Action("Update", "QuotationBasisOfEstimate"))
                    .Destroy(destroy => destroy.Action("Destroy", "QuotationBasisOfEstimate"))
                    .Events(events => events.RequestEnd("OnGridItemsRequestEnd"))
                )
                .Events(events => events.DataBound("GridItemsDataboundBefore").Edit("OnGridItemsEdit").Cancel("OnGridItemsEdit"))
)

<br />

<script>
    function RefreshBasis() {
        $('#GridBasisOfEstimate').data('kendoGrid').dataSource.read();
    }

    function ShowBasisPage() {
        $("#SlideContent_AddBasis").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_AddBasis").fadeIn();
        $("#Button_Close_Content").fadeIn();
        KeepScrollPosition();
    }

    $(".k-grid[id*='GridBasisOfEstimate'] table").kendoSortable({
        connectWith: ".k-grid[id*='GridBasisOfEstimate'] table",
        filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
        disabled: ".no-drag", //do not allow transferring the no records row
        hint: $.noop,
        cursor: "move",
        placeholder: function (element) {
            return element.clone().addClass("k-state-hover").css("opacity", 0.65);
        },
        change: function (e) { //change event handler implementation may differ according to the scenario

            try {
                var element = this.element.closest(".k-grid[id*='GridBasisOfEstimate']");
                var grid = this.element.closest(".k-grid[id*='GridBasisOfEstimate']").data("kendoGrid");
                var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                $('[id*="GridBasisOfEstimate"]').each(function () {
                    if (dataItem == null)
                        dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                });

                if (e.action == "receive" || e.action == "sort")
                    $.ajax({
                    url: '@Url.Action("UpdatePositions", "QuotationBasisOfEstimate")',
                        type: 'POST',
                        data: {
                        ID: '@(Model.ID)',
                            ID: dataItem.ID,
                            oldIndex: e.oldIndex,
                            newindex: e.newIndex,
                        },
                        dataType: "json",
                        success: function (data) { RefreshBasis(); }
                });
            }
            catch (ex) { RefreshBasis() }
        },
        move: function(e) {
            console.log("move to index: " + this.indexOf(this.placeholder));
        }
    });

    function DeleteBasisOfEstimate(id) {
        $.ajax({
            url: '/QuotationBasisOfEstimate/Destroy',
            type: 'POST',
            data: {
                id: id,
                QuotationID: '@Model.ID'
            },
            success: function(response) {
                RefreshBasis();
            }
        })
    }

</script>
