﻿@using SnapSuite.Models
@model SnapSuite.Models.QuotationViewModel


@using (Ajax.BeginForm((ViewBag.EditQuotations) ? "_Header" : "", "Quotations", null, new AjaxOptions { UpdateTargetId = "div_Header" }, new { id = "EditHeaderForm", method = "post" }))
{
    @Html.AntiForgeryToken()
    //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.CheckSum)
    @Html.HiddenFor(model => model.Status.ID)
    @Html.HiddenFor(model => model.Status.Name)
    @Html.HiddenFor(model => model.Status.Description)
    @Html.HiddenFor(model => model.Status.HexColour)
    @Html.HiddenFor(model => model.EstimatedDelivery)
    @Html.HiddenFor(model => model.CurrencyID)

    <div class="panel panel-default form-table">
        <div class="panel-body">
            <div class="col-xs-10">
                <div class="col-md-6" style="padding: 0; margin: 0;">
                    <table style="width: 95%">
                        <tr>
                            <td style="width: 130px;">
                                <label>Contractor: </label>
                            </td>
                            <td>
                                <div class="input-group">
                                    @(Html.Kendo().DropDownListFor(model => model.ClientID)
                                                .DataTextField("Name").DataValueField("ID")
                                                .Filter("contains")
                                                .OptionLabel("  ")
                                                .DataSource(source =>
                                                {
                                                    source.Read(read => read.Action("DropDownProjectClients", "Clients", new { projectID = Model.ProjectID }));
                                                })
                                                .Value(Model.ClientID)
                                                .AutoBind(true)
                                                .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
                                                .Events(e => e.Change("RefreshDelivery").Close("SaveHeaderForm"))
                                    )
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick="EditClient();">Edit Client</a></li>
                                            <li><a href="#" onclick="AddClient();">Add New Client</a></li>
                                        </ul>
                                    </div>

                                </div>

                                <script>
                                    function SaveHeaderForm() { $('#EditHeaderForm').submit(); }

                                    function RefreshDelivery() {
                                        $('#InvoiceAddressID').data('kendoDropDownList').dataSource.read();
                                        $('#ClientContactID').data('kendoDropDownList').dataSource.read();
                                    }

                                    function ClientDD_ValueMapper(options) {
                                        $.ajax({
                                            url: "@Url.Action("DropDownClients_ValueMapper", "Clients")",
                                            data: convertValues(options.value),
                                            success: function (data) { options.success(data); }
                                        });
                                    }

                                </script>

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Contact:</label>
                            </td>
                            <td>
                                <div class="input-group">
                                    @(Html.Kendo().DropDownListFor(model => model.ClientContactID)
                                    .DataTextField("Name").DataValueField("ID")
                                    .Filter("contains")
                                    .OptionLabel("   ")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => { read.Action("DropDownProjectClientContacts", "ClientContacts").Data("function() { return { projectID: '" + Model.ProjectID + "', cltID: $('#ClientID').data('kendoDropDownList').value() }}"); });
                                    })
                                    .Value(Model.ClientContactID)
                                    .AutoBind(true)
                                    .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block" })
                                    .Events(e => e.Close("SaveHeaderForm"))

                                    )
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick="EditClientContact();">Edit Contact</a></li>
                                            <li><a href="#" onclick="AddClientContact();">Add New Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: baseline;">
                                <label>Details of Quote: </label>
                            </td>
                            <td>
                                @Html.TextAreaFor(m => m.Description, Model.Description.Split(new[] { "\n" }, StringSplitOptions.None).Length + 1, 100, new { @class = "form-control", @style = "max-width:100%; width:100%; padding: 6px 12px; resize: vertical;", @title = Model.Description })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Greeting: </label></td>
                            <td>
                                @Html.TextBoxFor(m => m.Greeting, new { @class = "form-control", @style = "width: 100%; max-width: none;" })
                            </td>
                        </tr>
                        <tr>
                            <td><label>Estimator Title: </label></td>
                            <td>
                                @Html.TextBoxFor(m => m.EstimatorTitle, new { @class = "form-control", @style = "width: 100%; max-width: none;" })
                            </td>
                        </tr>
                    </table>
                    <br />

                </div>

                <div class="col-md-6" style="padding: 0; margin: 0;">
                    <table style="width: 95%">
                        <tr>
                            <td style="width: 160px;">
                                <label>Address:</label>
                            </td>
                            <td>
                                <div class="input-group">
                                    @(Html.Kendo().DropDownListFor(model => model.InvoiceAddressID)
                                    .DataTextField("Name").DataValueField("ID")
                                    .Filter("contains")
                                    .DataSource(source =>
                                    {
                                        source.Read(read => { read.Action("DropDownClientAddresses", "ClientAddresses").Data("function() { return { cltID: $('#ClientID').data('kendoDropDownList').value() }}"); });
                                    })
                                    .Value(Model.InvoiceAddressID)
                                    .AutoBind(true)
                                    .HtmlAttributes(new { style = "width: 100%; max-width: none; display:inline-block;" })
                                    .Events(e => e.Close("SaveHeaderForm"))

                                    )
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-clear dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="glyphicon glyphicon glyphicon-edit glyphicon-btn"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" onclick="EditClientAddress(false);">Edit Address</a></li>
                                            <li><a href="#" onclick="AddClientAddress(false);">Add New Address</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: baseline;">
                                <label>Introductory Paragraph:</label>
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.Note, 3, 100, new { @class = "form-control", @placeholder = "Enter Introductory Paragraph Here", @style = "width:100%; max-width:none; margin-bottom:10px; resize: vertical;" })
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: baseline;">
                                <label>Closing Paragraph:</label>
                            </td>
                            <td>
                                @Html.TextAreaFor(model => model.ClosingParagraph, 3, 100, new { @class = "form-control", @placeholder = "Enter Closing Paragraph Here", @style = "width:100%; max-width:none; margin-bottom:10px; resize: vertical;" })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-xs-2">
                <div class="col-xs-12" style="padding: 0; margin: 0;">
                    @if (ViewBag.EditQuotations)
                    {
                        <div class="btn-group" style="float: right;">
                            <button type="button" class="btn btn-primary" style="border-color:@Model.Status.HexColour; background-color:@Model.Status.HexColour;">@Model.Status.Name</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" style="border-color:@Model.Status.HexColour; background-color:@Model.Status.HexColour" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Change Status</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                @foreach (SnapSuite.Models.QuotationStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.QuotationStatusViewModel>)
                                {
                                    if (Model.Status.ID != stat.ID)
                                    {
                                        <li>@Html.ActionLink("Change to " + stat.Name, "ChangeStatus", new { quoteID = Model.ID, status = stat.ID }) </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        <span class="btn btn-primary" style="border-color:@Model.Status.HexColour; background-color:@Model.Status.HexColour; float: right;">@Model.Status.Name</span>
                    }
                </div>
                <div class="col-xs-12" style="padding: 0; margin: 0;">
                    <span style="float: right; display:block">Version: @Model.Version</span><br /><br />
                    @*<label style="float:right; color:red; display:block;"><span class="glyphicon glyphicon-lock"></span>&nbsp;Needs Approval</label>*@
                </div>
                @if (Model.Status.ID == 1 && ViewBag.EditQuotations)
                {
                    @*<div class="col-xs-12" style="padding: 0; margin: 0;">
                        <button class="btn btn-xs btn-default" onclick="ShowApplyDiscount()" style="margin:2px; float:right">Apply Discount %</button>
                    </div>
                    <div class="col-xs-12" style="padding: 0; margin: 0;">
                        <button class="btn btn-xs btn-default" onclick="ShowApplyMargin()" style="margin:2px; float:right">Apply Margin %</button>
                    </div>
                    <div class="col-xs-12" style="padding: 0; margin: 0;">
                        <button class="btn btn-xs btn-default" onclick="ShowApplyMarkup()" style="margin:2px; float:right">Apply Markup %</button>
                    </div>
                    <div class="col-xs-12" style="padding: 0; margin: 0;">
                        <button class="btn btn-xs btn-default" onclick="ShowApplyVAT()" style="margin:2px; float:right">Apply Tax %</button>
                    </div>*@
                }
                @*<div class="col-xs-12" style="padding: 0; margin: 0;">
                    <div class="btn-group" style="float: right; margin: 2px;">
                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Export to Excel
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" title="" onclick="ExportItems('AllItems')" style="cursor:pointer;">All Items</a></li>
                            <li><a href="#" title="" onclick="ExportItems('ItemsTotalled')" style="cursor:pointer;">Items Totalled</a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
            <div class="col-md-12">

                <div class="col-xs-6" style="padding: 0; margin: 0;">
                    <hr />
                    @if (ViewBag.EditQuotations)
                    {
                        <button type="submit" class="btn btn-inverse"><span class="glyphicon glyphicon-ok"></span> &nbsp;&nbsp;Update Details</button>
                    }
                    <a id="Button_Preview" class="btn btn-info" onclick="" href="@Url.Action("Preview", new { id = Model.ID })"><span class="glyphicon glyphicon-blackboard"></span>&nbsp;&nbsp;Preview PDF</a>
                    <br />
                    <br />

                    <br />
                    <br />
                    <p style="font-size:small">@string.Format("Last Modified: {0}", Model.LastUpdated.ToString("HH:mm dd/MM/yy"))</p>
                    <p style="font-size:small">@string.Format("Created by: {0} - {1}", Model.CreatedBy, Model.Created.ToString("HH:mm dd/MM/yy"))</p>
                    @if (Model.EmailOpened != null)
                    {
                        <p>Email opened on @Model.EmailOpened.Value.ToString("HH:mm dd/MM/yy"). <a href="@Url.Action("ResetOpenEmail", new { ID = Model.ID })"> Click here to reset.</a></p>
                    }
                    
                </div>
                <div id="div_totalSection" class="col-xs-6" style="padding: 0; margin: 0;">
                    @Html.Partial("_HeaderTotal", Model)
                </div>
            </div>
        </div>
    </div>
}

<script>
    function ExportItems(type) {
        var url = '@Url.Action("ExportItems", "Quotations")' + '?quotationID=' + '@Model.ID' + '&type=' + type;
        window.open(url, "_blank");
    }
</script>

@if (ViewBag.Saved != null)
{
    <script>
        ShowSavedMessage();
    </script>
}

@if (ViewBag.Reload != null)
{
    <script>
        location.reload();
    </script>
}
