﻿@model SnapSuite.Models.QuotationViewModel

<br />

@foreach (var section in Model.Sections)
{
    <div>
        @using (Ajax.BeginForm("_EditSection", "QuotationSections", null, new AjaxOptions { }, new { id = string.Format("EditSection{0}", section.ID), method = "post" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("SectionID", section.SectionID)
            @Html.Hidden("QuotationID", section.QuotationID)
            <div class="row" style="margin:0; padding:0;">
                <div class="col-xs-3" style="margin:0; padding:0;">
                    <h3>Services</h3>
                </div>
                <div class="col-xs-7" style="margin:0; padding:0;">
                    @if (Model.Status.ID == 1 && ViewBag.EditQuotations)
                    {
                        <div class="checkbox" style="display:none;" title="Set whether this section is included in total.">
                            @Html.CheckBox("IncludeInTotal", section.IncludeInTotal, new { @onclick = string.Format("$('#{0}').submit();", string.Format("EditSection{0}", section.ID)) })
                            &nbsp;<strong>Include In Total</strong>
                        </div>
                    }
                    else
                    {
                        <div class="checkbox" style="display:none;" title="Set whether this section is included in total.">
                            @Html.CheckBox("IncludeInTotal", section.IncludeInTotal, new { @readonly = "readonly", @disabled = "disabled" })
                            &nbsp;<strong>Include In Total</strong>
                        </div>
                    }
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;
                    @*<div class="checkbox" style="display:inline-block" title="Set whether this section can be include by client in customizable version.">
                            @Html.CheckBox("IsRequired", section.IsRequired, new { @onclick = string.Format("$('#{0}').submit();", string.Format("EditSection{0}", section.ID)) })
                            &nbsp;<strong>Required Section</strong>
                        </div>*@
                </div>
            </div>
        }
    </div>

    <div id="div_AddProductButtons">
        <button class="btn btn-primary btn-sm" onclick="AddProducts('@(section.ID)'); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add Service</button>
        <button class="btn btn-default btn-sm" onclick="$('@(string.Format("#GridItems{0}", section.ID))').data('kendoGrid').dataSource.read(); return false; " style="margin-bottom:5px; margin-left:3px; float:right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>
    </div>

    @(Html.Kendo().Grid<SnapSuite.Models.QuotationItemViewModel>()
                    .Name(string.Format("GridItems{0}", section.ID))
                    .Pageable(p => p.PageSizes(new[] { 1000 }).Messages(m => m.Display("{0} - {1} of {2} Items").Empty("No Items Added")))
                    .HtmlAttributes(new { @sectionId = section.SectionID })
                    .Columns(columns =>
                    {
                        columns.Bound(u => u.IsKitItem).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");

                        columns.Bound(u => u.Information).Title("Description")
                                .ClientTemplate("#=Information.Description#").EditorTemplateName("OrderItemTextAreaTemplate").HtmlAttributes(new { @class = "preline-text" });
                        columns.Bound(u => u.VAT).Title("Tax %").ClientTemplate("#=kendo.toString(VAT, 'n')#%").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                        columns.Bound(u => u.Price).Title("Sales Price").ClientTemplate("#=kendo.toString(Price, 'n')#").HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { @class = "grid-header" }).Width("1%");
                        columns.Bound(u => u.Quantity).Title("Quantity").ClientTemplate("#=kendo.toString(Quantity, 'n')#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                        columns.Bound(u => u.Total).Title("<div data-toggle='modal' data-target='#Modal_Header_Description' data-content='Sales Price x Quantity + Setup Cost' style='cursor:help;'>Net Total</div>").ClientTemplate("#=kendo.toString(Total, 'n')#").HtmlAttributes(new { style = "text-align:center; font-weight:bold" }).HeaderHtmlAttributes(new { @class = "grid-header" }).Width("1%");

                        if (Model.Status.ID == 1 && ViewBag.EditQuotations)
                        {
                            columns.Command(command =>
                            {
                                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                            }
                            ).HtmlAttributes(new { @style = "font-weight:bold", @class = "shaded-cell" }).Width("90px");
                        }
                    })
                    .Editable(editable => editable.Enabled(Model.Status.ID == 1 && ViewBag.EditQuotations).Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom).DisplayDeleteConfirmation(true))
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model =>
                        {
                            model.Id(t => t.ID);
            model.Field(t => t.ID).Editable(false);
                            model.Field(t => t.QuotationID).Editable(false).DefaultValue(Model.ID);
                            model.Field(t => t.SectionID).Editable(false).DefaultValue(section.ID);
                            model.Field(t => t.ListPrice);
                            model.Field(t => t.Price);
                            model.Field(t => t.ListCost);
                            model.Field(t => t.Cost);
                            model.Field(t => t.Quantity);
                            model.Field(t => t.Markup);
                            model.Field(t => t.Discount);
                            model.Field(t => t.Margin);
                            model.Field(t => t.MarginPrice);
                            model.Field(t => t.SetupCost);
                            model.Field(t => t.Total).Editable(false);
                            model.Field(t => t.IsComment).Editable(false).DefaultValue(true);
                            model.Field(t => t.IsKit).Editable(false);
                            model.Field(t => t.IsKitItem).Editable(false);
                            model.Field(t => t.HidePrices).Editable(false).DefaultValue(true);
                            model.Field(t => t.Information).DefaultValue(new SnapSuite.Models.LineItemInfoViewModel { Description = "", Category = "", CustomFieldValues = (ViewBag.CustomFields as List<SnapSuite.Models.CustomField>).OrderBy(i => i.SortPos).ToList() });
                            model.Field(t => t.Unit);
                            model.Field(t => t.ImageURL).Editable(false);
                            model.Field(t => t.NumImages).Editable(false);
                        })
                        .Create(create => create.Action("Create", "QuotationItems")) //Add comment items to the quote
                        .Read(read => read.Action("Read", "QuotationItems", new { quoteID = Model.ID, sectionID = section.ID })).PageSize(1000)
                        .Update(update => update.Action("Update", "QuotationItems"))
                        .Destroy(destroy => destroy.Action("Destroy", "QuotationItems"))
                        .Events(events => events.RequestEnd("BeforeOnGridItemsRequestEnd"))
                    )
                    .Events(events => events.DataBound("GridItemsDataboundBefore").Edit("OnGridItemsEdit").Cancel("OnGridItemsEdit"))
    )

    <br />

    <div id="divSectionTotal@(section.ID)" data-section="@(section.ID)" style="padding: 0; margin: 0; text-align:right">
        @Html.Action("_SectionTotal", new { sectionID = section.ID })
    </div>
}

<div class="row" style="margin:0; padding:0;">
    <div class="col-xs-3" style="margin:0; padding:0;">
        <h4>Qualifications</h4>
    </div>
</div>

<div id="div_AddProductButtons">
    <button class="btn btn-inverse btn-sm" onclick="$('#GridQualifications').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;New Qualification</button>
    <button class="btn btn-default btn-sm" onclick="$('#GridQualifications').data('kendoGrid').dataSource.read(); return false; " style="margin-bottom:5px; margin-left:3px; float:right"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</button>
</div>

@(Html.Kendo().Grid<SnapSuite.Models.QuotationQualificationViewModel>()
                .Name("GridQualifications")
                .Pageable(p => p.PageSizes(new[] { 1000 }).Messages(m => m.Display("{0} - {1} of {2} Qualifications").Empty("No Qualifications Added")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");
                    columns.Bound(u => u.Description);
                    columns.Bound(u => u.IsSubHeading).Title("Sub Heading").ClientTemplate("#if(IsSubHeading){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    columns.Bound(u => u.IsSubItem).Title("Sub Item").ClientTemplate("#if(IsSubItem){#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new {@style="text-align:center;"}).Width(1);
                    
                    if (Model.Status.ID == 1 && ViewBag.EditQuotations)
                    {
                        columns.Command(command =>
                        {
                            command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        }
                        ).HtmlAttributes(new { @style = "font-weight:bold", @class = "shaded-cell" }).Width("45px");
                        columns.Template(@<text></text>).ClientTemplate("<div class='btn btn-xs' onclick='DeleteQualification(\"#=ID#\")'><span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' /></div>").HtmlAttributes(new { @style = "font-weight:bold", @class = "shaded-cell" }).Width(1);
                    }
                })
                .Editable(editable => editable.Enabled(Model.Status.ID == 1 && ViewBag.EditQuotations).Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Top).DisplayDeleteConfirmation(true))
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                        model.Field(t => t.ID).Editable(false);
                        model.Field(t => t.QuotationID).Editable(false).DefaultValue(Model.ID);
                    })
                    .Create(create => create.Action("Create", "QuotationQualifications")) //Add comment items to the quote
                    .Read(read => read.Action("Read", "QuotationQualifications", new { quoteID = Model.ID })).PageSize(1000)
                    .Update(update => update.Action("Update", "QuotationQualifications"))
                    .Destroy(destroy => destroy.Action("Destroy", "QuotationQualifications"))
                    .Events(events => events.RequestEnd("OnGridItemsRequestEnd"))
                )
                .Events(events => events.DataBound("GridItemsDataboundBefore").Edit("OnGridItemsEdit").Cancel("OnGridItemsEdit"))
)

<br />
<div>

    @*@if (Model.Status.ID == 1 && ViewBag.EditQuotations)
    {
        <button class="btn btn-xs btn-success" onclick="AddSection('@(Model.ID)');"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add New Section</button>
    }*@

</div>

<div class="modal fade" id="Modal_Header_Description">
    <div class="modal-dialog modal-sm" role="document" style="width: 350px;">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center;">
                <h5 class="modal-title">Modal title</h5>
            </div>
            <div class="modal-body" style="text-align:center;">
                <h5 class="modal-description"></h5>
            </div>
        </div>
    </div>
</div>

<script>
    function BeforeOnGridItemsRequestEnd(e) {
        if (e.type == 'destroy') {
            $('#GridQualifications').data('kendoGrid').dataSource.read();
        }
        OnGridItemsRequestEnd(e);
    }


    @if(Model.Status.ID == 1)
    {
        <text>

        $(".k-grid[id*='GridItems'] table").kendoSortable({
            connectWith: ".k-grid[id*='GridItems'] table",
            filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
            disabled: ".no-drag", //do not allow transferring the no records row
            hint: $.noop,
            cursor: "move",
            placeholder: function (element) {
                return element.clone().addClass("k-state-hover").css("opacity", 0.65);
            },
            change: function (e) { //change event handler implementation may differ according to the scenario

                try {
                    var element = this.element.closest(".k-grid[id*='GridItems']");
                    var grid = this.element.closest(".k-grid[id*='GridItems']").data("kendoGrid");
                    var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                    $('[id*="GridItems"]').each(function () {
                        if (dataItem == null)
                            dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                    });

                    if (e.action == "receive" || e.action == "sort")
                        $.ajax({
                        url: '@Url.Action("_UpdateItemPositions", "QuotationItems")',
                            type: 'POST',
                            data: {
                            ID: '@(Model.ID)',
                                itemID: dataItem.ID,
                                sectionID: element.attr("sectionId"),
                                oldIndex: e.oldIndex,
                                newindex: e.newIndex,
                            },
                            dataType: "json",
                            success: function (data) { RefreshItems(); }
                    });
                }
                catch (ex) { RefreshSections(); }
            },
            move: function(e) {
                console.log("move to index: " + this.indexOf(this.placeholder));
            }
    });

    $(".k-grid[id='GridQualifications'] table").kendoSortable({
            connectWith: ".k-grid[id='GridQualifications'] table",
            filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
            disabled: ".no-drag", //do not allow transferring the no records row
            hint: $.noop,
            cursor: "move",
            placeholder: function (element) {
                return element.clone().addClass("k-state-hover").css("opacity", 0.65);
            },
            change: function (e) { //change event handler implementation may differ according to the scenario

                try {
                    var element = this.element.closest(".k-grid[id='GridQualifications']");
                    var grid = this.element.closest(".k-grid[id='GridQualifications']").data("kendoGrid");
                    var dataItem = null; grid.dataSource.getByUid(e.item.data("uid"));

                    $('[id="GridQualifications"]').each(function () {
                        if (dataItem == null)
                            dataItem = $(this).data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                    });

                    if (e.action == "receive" || e.action == "sort")
                        $.ajax({
                        url: '@Url.Action("_UpdateItemPositions", "QuotationQualifications")',
                            type: 'POST',
                            data: {
                                qualificationID: dataItem.ID,
                                oldIndex: e.oldIndex,
                                newindex: e.newIndex,
                            },
                            dataType: "json",
                            success: function (data) { RefreshQualifications(); }
                    });
                }
                catch (ex) { RefreshSections(); }
            },
            move: function(e) {
                console.log("move to index: " + this.indexOf(this.placeholder));
            }
        });

        </text>
    }

    function GridItemsDataboundBefore(e) {
        var grid = e.sender;

        //Hide/Show columns based on settings passed through viewbag.
        @*grid.@(ViewBag.ShowPhoto ? "show" : "hide")Column("ImageURL");
        grid.@(ViewBag.ShowProductCode ? "show" : "hide")Column("ProductCode");
        grid.@(ViewBag.ShowUnit ? "show" : "hide")Column("Unit");
        grid.@(ViewBag.ShowVAT ? "show" : "hide")Column("VAT");
        grid.@(ViewBag.ShowListPrice ? "show" : "hide")Column("ListPrice");
        grid.@(ViewBag.ShowListCost ? "show" : "hide")Column("ListCost");
        grid.@(ViewBag.ShowCost ? "show" : "hide")Column("Cost");
        grid.@(ViewBag.ShowMargin ? "show" : "hide")Column("MarginPrice");
        grid.@(ViewBag.ShowMarginPercentage ? "show" : "hide")Column("Margin");
        grid.@(ViewBag.ShowMarkup ? "show" : "hide")Column("Markup");
        grid.@(ViewBag.ShowDiscount ? "show" : "hide")Column("Discount");
        grid.@(ViewBag.ShowSetupCost ? "show" : "hide")Column("SetupCost");
        grid.@(ViewBag.ShowAccountCode ? "show" : "hide")Column("AccountCode");
        grid.@(ViewBag.ShowPurchaseAccountCode ? "show" : "hide")Column("PurchaseAccountCode");*@

        GridItemsDatabound(e);
    }

    $('#Modal_Header_Description').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var title = button.text();
      var content = button.data('content');
      var modal = $(this);
      modal.find('.modal-title').text(title);
      modal.find('.modal-description').text(content);
    })

    function DeleteQualification(id) {
        $.ajax({
            url: '/QuotationQualifications/Destroy',
            type: 'POST',
            data: {
                id: id,
                QuotationID: '@Model.ID'
            },
            success: function(response) {
                $('#GridQualifications').data('kendoGrid').dataSource.read();
            }
        })
    }

</script>

<style>
    .question-mark {
        display: none;
    }

    .grid-header:hover .question-mark {
        display: inline-block;
        float: none;
    }
</style>