﻿@using SnapSuite.Models; 

<script type="text/x-kendo-tmpl" id="Item-Image-Template">
    <div class="product-thumbnail-container">
        <div class="product-thumbnail">
            <a class='popup-image popup-image-max' target='_blank' href='#:File.FilePath#'>
                <img class="image-thumbnail" src="#:File.FilePath#" >
            </a>
        </div>
        @if (ViewBag.EditQuotations && ViewBag.CanUpload)
        {
            <a class="btn-del-image-thumbnail" href="\\#" onclick="DeleteItemImage('#:ID#'); return false;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Remove</a>
        }
    </div>
</script>


@if (ViewBag.EditQuotations && ViewBag.CanUpload)
{
    <script>

        function OnItemImageUploadSuccess(e) {
            if (e.response.status == "error") {
                alert("Error: " + e.response.message);
            }
            else {
                $("#ItemImageListView").data("kendoListView").dataSource.read();
                RefreshItems();
            }
        }

        function OnItemImageUpload(e) {
            var files = e.files;
            $.each(files, function () {
                if (this.size / 1024 / 1024 > 2) {
                    //alert("Max 1Mbs file size is allowed!")
                    e.preventDefault();
                }
            });
        }

        function DeleteItemImage(id){
            if(confirm("Are your sure you want to delete this image?")){
                $.ajax({
                    url: '@Url.Action("_DeleteImage", (string)ViewBag.Controller)',
                        type: 'POST',
                        data: { imageID: id},
                        dataType: "json",
                        success: function (data) {$("#ItemImageListView").data("kendoListView").dataSource.read(); RefreshItems(); }
                });
            }
        }

        function OnItemImageSortChange(e) {
            var listView = $("#ItemImageListView").data("kendoListView"),
            dataSource = listView.dataSource,
            dataItem = dataSource.getByUid(e.item.data("uid"));

            $.ajax({
                url: '@Url.Action("_UpdateItemPositions", (string)ViewBag.Controller)',
                    type: 'POST',
                    data: {
                        ID: '@(ViewBag.ID)',
                        imageID: dataItem.ID,
                        oldIndex: e.oldIndex,
                        newindex: e.newIndex,
                    },
                    dataType: "json",
                    success: function (data) { $("#ItemImageListView").data("kendoListView").dataSource.read(); RefreshItems(); }
            });
        }
    </script>

}

<div class="panel panel-default">
    <div class="panel-body product-images">

        <div class="row">
            <div class="col-xs-7">
                <h3>Images</h3>
            </div>
            <div class="col-xs-5">
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-xs-12"> 
                <br />
                @(Html.Kendo().ListView<ImageViewModel>()
                    .Name("ItemImageListView")
                    .TagName("div")
                    .ClientTemplateId("Item-Image-Template")
                    .DataSource(dataSource =>
                    {
                        dataSource.Read(read => read.Action("Read", (string)ViewBag.Controller, new { ID = ViewBag.ID }));
                    })
                )

                <br />

                @if (ViewBag.EditQuotations && ViewBag.CanUpload)
                {
                    @(Html.Kendo().Sortable()
                        .For("#ItemImageListView")
                        .Filter(">div.product-thumbnail-container")
                        .Cursor("move")
                        .Events(events => events.Change("OnItemImageSortChange"))
                    )

                    @(Html.Kendo().Upload().Multiple(true)
                        .Name("uploadedImages")
                        .Messages(a => a.Select("Select images to upload..."))
                        .Async(a => a.Save("UploadImages", (string)ViewBag.Controller, new { ID = ViewBag.ID }))
                        .ShowFileList(true)
                        .HtmlAttributes(new { accept = "image/*", style = "padding:1px" })
                        .Events(events => events.Upload("OnItemImageUpload").Success("OnItemImageUploadSuccess"))
                    )
                    <span style="font-size:x-small">Max 2Mbs file uploads. 10 image upload limit. First image used as main image.</span>
                }

            </div>
        </div>
    </div>
</div>


