﻿@model SnapSuite.Models.QuotationSectionViewModel

<div style="padding: 0; margin: 0; text-align:right">
    <strong>
        <p style="font-size: small; ">
            @*@string.Format("Discount: {0:N2}%", Model.Discount)
            &nbsp;&nbsp;
            @string.Format("Margin : {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalMargin)
            &nbsp;&nbsp;
            @string.Format("({0:N2}%)", Model.Margin)
            &nbsp;&nbsp;
            @string.Format("Cost: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalCost)
            &nbsp;&nbsp;*@
            @string.Format("Net: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalNet)
            &nbsp;&nbsp;
            @string.Format("Tax: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalVat)
        </p>
    </strong>
    <h4 style="font-weight: normal">
        <strong>
            @string.Format("Total Price: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalPrice)
        </strong>
    </h4>       
</div>