﻿
@{
    ViewBag.Title = "Deleted Quotations";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-4 hidden-sm hidden-xs">
            <br />
            <a class="btn btn-default" href="@Url.Action("Index")" style="float:right"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back to Quotations</a>
        </div>
        <div class="col-sm-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div style="display:inline-block; width:230px; vertical-align:top; ">
                @*This Panel below holds all the search filters for the Page*@
                <div class="panel panel-default">
                    <div class="panel-body">

                        @* Generate Filter buttons based on ViewBags.  *@
                        @foreach (SnapSuite.Models.QuotationStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.QuotationStatusViewModel>)
                        {
                            if (ViewBag.statuses.ToString().Contains(stat.ID.ToString()))
                            {
                                <a id="Btn_f@(stat.Name.Replace(" ", "").Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: @(stat.HexColour); border:@(stat.HexColour);"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-check"></span>&nbsp;&nbsp;@(stat.Name)</a>
                            }
                            else
                            {
                                <a id="Btn_f@(stat.Name.Replace(" ", ""))" class="btn btn-primary" onclick="ChangeStatus(@(stat.ID));" style="width:100%; text-align:left; margin-bottom:3px; background-color: gray; border:gray;"><span id="Span_f@(stat.Name.Replace(" ", ""))" class="glyphicon glyphicon-unchecked"></span>&nbsp;&nbsp;@(stat.Name)</a>
                            }
                        }
                        <a href="#" style="font-size:x-small" onclick="SelectAll();">Select All</a>
                        <a href="#" style="font-size:x-small; float:right" onclick="SelectNone();">Select None</a>
                        <hr />
                        @(Html.Kendo().DropDownList()
                        .Name("DD_AssignedUsers")
                        .DataTextField("Email")
                        .DataValueField("ID")
                        .Events(e => e.Change("Refresh"))
                        .OptionLabel("All Users")
                        .DataSource(source =>
                        {
                            source.Read(read => { read.Action("DropDownUsersQuotations", "Dropdowns"); });
                        })
                        .AutoBind(true)
                        .Value((string)ViewBag.assignedUser)
                        .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <hr />
                        @(Html.Kendo().DropDownList()
                        .Name("DD_Date")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Events(e => e.Change("DD_DateChanged"))
                        .BindTo(new List<SelectListItem>() {
                                    new SelectListItem() { Text = "All Quotations", Value = "0"},
                                    new SelectListItem() { Text = "This Month", Value = "1"},
                                    new SelectListItem() { Text = "Last Month", Value = "2"},
                                    new SelectListItem() { Text = "Custom Range", Value = "3"},
                        })
                        .Value((string)ViewBag.dateType)
                        .HtmlAttributes(new { style = "width: 100%" })
                        )
                        <div id="div_CustomDateRange">
                            <hr />
                            <table>
                                <tr>
                                    <td style="width:50px"><label>From:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                        .Name("DP_From")
                                        .Value((string)ViewBag.fromD)
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>To:</label></td>
                                    <td style="padding-bottom:5px;">
                                        @(Html.Kendo().DatePicker()
                                        .Name("DP_To")
                                        .Value((string)ViewBag.toD)
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        .Events(e => { e.Close("Refresh"); })
                                        )
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:inline-block; padding-left:5px; width:calc(100% - 235px)">
                <div class="form-group" role="group" aria-label="...">
                    <a class="btn btn-sm btn-default" onclick="Refresh(); return false;"><span class="glyphicon glyphicon-refresh"></span>&nbsp; Refresh</a>
                    <a class="btn btn-sm btn-danger" onclick="ClearQuotations(); return false;"><span class="glyphicon glyphicon-fire"></span>&nbsp; Clear</a>
                </div>
                @(Html.Kendo().Grid<SnapSuite.Models.QuotationGridViewModel>()
                                .Name("GridQuotations")
                                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Quotations").Empty("No Deleted Quotations Found")))
                                .Columns(columns =>
                                {
                                    columns.Bound(q => q.Status.ID).Title("Status").Template(@<text></text>).ClientTemplate("<div style='display:ruby'><span class='label label-primary' style='background-color:#=Status.HexColour#'>#=Status.Name#</span> #if(IsClientDraft){# <span class='label label-info' title='Client Customized Version'>C</span> #}# </div>").Width("1%").HtmlAttributes(new { style = "text-align:center" });
                                    columns.Bound(q => q.Reference).Title("Quote").ClientTemplate("<div class='div-inline'><a href='" + Url.Action("Edit") + "/#=ID#' title='Edit'><strong>#=Reference#</strong></a></div>").Width("1%");
                                    columns.Bound(q => q.Description).Title("Description").ClientTemplate("<a href='" + Url.Action("Edit") + "/#=ID#' title='#=Description#'><strong>#=DescriptionShort#</strong></a> #if(EmailOpened != null){#<span class='email-open glyphicon glyphicon-envelope' title='Email Opened #=kendo.toString(EmailOpened, 'd')#'></span> #}# #if(IsStripePaid){#<span class='email-open fa fa-money' title='Stripe Payment Made'></span> #}#");
                                    columns.Bound(q => q.ClientName).Title("Client");
                                    columns.Bound(q => q.Version).Title("Version").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                    columns.Bound(q => q.Created).Title("Created").Format("{0:dd/MM/yy}").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                                    columns.Bound(q => q.TotalNet).Title("Net Price").Template(@<text></text>).ClientTemplate("<div class='div-inline'>#=CurrencySymbol##=kendo.toString(TotalNet, 'n')#</div>").HtmlAttributes(new { style = "text-align:right" }).Width("1%");
                                    columns.Template(@<text></text>).ClientTemplate("<a title='Restore' href='\\#' onclick='RestoreQuotation(\"#=ID#\"); return false;'><span class='glyphicon glyphicon-share-alt glyphicon-btn'/></a>").Width("1%");
                                    columns.Command(command =>
                                    {
                                        command.Destroy().Text("<span class='glyphicon glyphicon-fire glyphicon-btn' title='Delete Permanently'/>");
                                    }
                                    ).Width("1%");
                                })
                                .Sortable()
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .Model(model =>
                                    {
                                        model.Id(t => t.ID);
                                    })
                                    .Read(read => read.Action("ReadDeleted", "QuotationGrid").Data("GetSearchInfo")).PageSize(50)
                                    .Destroy(destory => destory.Action("Destroy", "QuotationGrid"))
                                )
                                .Events(events => events.DataBound("KendoGridDatabound"))
                )
            </div>
        </div>
    </div>

</div>





<script>
     $(document).ready(function () {
        var id = $("#DD_Date").data("kendoDropDownList").value();
        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        var grid = $("#GridQuotations").data("kendoGrid");
        grid.dataSource.query({ page: @ViewBag.page, pageSize: @ViewBag.pageSize });
        grid.dataSource.sort({field: '@ViewBag.sort', dir: '@ViewBag.sortDirection'});
        grid.dataSource.read();
    });


    function ChangeStatus(statusID) {
        switch (statusID) {

            @foreach (SnapSuite.Models.QuotationStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.QuotationStatusViewModel>)
            {
                <text>

            case @(stat.ID):
                if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) {
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
                }
                else{
                    $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
                }
                $("#Span_f@(stat.Name.Replace(" ", ""))").toggleClass('glyphicon-unchecked glyphicon-check');
                break;
                </text>
            }
        }

        Refresh()
    }

    function SelectAll(){

        @foreach (SnapSuite.Models.QuotationStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.QuotationStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', '@(stat.HexColour)'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', '@(stat.HexColour)');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-check');
            </text>
        }

        Refresh()
    }

    function SelectNone(){

        @foreach (SnapSuite.Models.QuotationStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.QuotationStatusViewModel>)
        {
                <text>
            $("#Btn_f@(stat.Name.Replace(" ", ""))").css('background-color', 'grey'); $("#Btn_f@(stat.Name.Replace(" ", ""))").css('border', 'grey');
            $("#Span_f@(stat.Name.Replace(" ", ""))").addClass('glyphicon-unchecked');
            $("#Span_f@(stat.Name.Replace(" ", ""))").removeClass('glyphicon-check');
            </text>
        }
        Refresh()
    }

    function GetSearchInfo() {

        var stats = [];
        @foreach (SnapSuite.Models.QuotationStatusViewModel stat in ViewBag.StatusOptions as List<SnapSuite.Models.QuotationStatusViewModel>)
        {
            <text>
        if ($("#Span_f@(stat.Name.Replace(" ", ""))").hasClass("glyphicon-check")) stats.push("@(stat.ID)");
        </text>
        }

        var SearchValues = {
            filterText: $('#TB_Filter').val(),
            statuses: stats.toString(),
            assignedUser: $("#DD_AssignedUsers").data("kendoDropDownList").value(),
            dateType: $("#DD_Date").data("kendoDropDownList").value(),
            fromD: kendo.toString($("#DP_From").data("kendoDatePicker").value(), 'dd/MM/yyyy'),
            toD: kendo.toString($("#DP_To").data("kendoDatePicker").value(), 'dd/MM/yyyy')
        };

        return SearchValues;
    }

    function DD_DateChanged() {
        var id = $("#DD_Date").data("kendoDropDownList").value();

        if (id == 3) { $("#div_CustomDateRange").show(); }
        else { $("#div_CustomDateRange").hide(); }

        Refresh()
    }

    function Refresh() {
        var grid = $("#GridQuotations").data("kendoGrid");
        grid.dataSource.read();
    }

    function RestoreQuotation(id) {
        $.ajax({
            url: '@Url.Action("_RestoreDeleted", "QuotationGrid")',
            type: 'POST',
            data: { "ID": id },
            dataType: "json",
            success: function (data) {
                Refresh();
            }
        });
    }

    function ClearQuotations() {
        if (confirm('Permanently remove all deleted quotations?')) {
            $.ajax({
                url: '@Url.Action("_ClearDeleted", "QuotationGrid")',
                type: 'POST',
                data: {},
                dataType: "json",
                success: function (data) {
                    Refresh();
                }
            });
        }
    }

</script>


