﻿@model SnapSuite.Models.QuotationViewModel
@{
    ViewBag.Title = string.Format("{0}: {1}{2}", "Estimate", Model.Reference ?? "", Model.Number);
}
<script>
    var quoteID = '@Model.ID';
    var sectionID = 0;
</script>
@Scripts.Render("~/EditorScripts/Quotation")
@*<script src="/Scripts/Views/QuotationEdit.js?v=@(DateTime.Now.ToString("yyMMddmmHH"))"></script>*@


<div id="div_Added" class="edit-message" style="display:none;" >
    <div class="edit-message-container">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert"><strong><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Service Added to Estimate</strong></div>
        </div>
    </div>
</div>

<div id="div_Saved" class="edit-message" style="display:none;">
    <div class="edit-message-container">
        <div class="col-sm-12">
            <div class="alert alert-success" role="alert"><strong><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Estimate Details Updated</strong></div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-8">
            <h1 style="display:inline-block">@string.Format("{0}: {1}{2}", "Estimate", Model.Reference ?? "", Model.Number) </h1>
            &nbsp;&nbsp;<span>Version: @Model.Version</span>
        </div>
        <div class="col-sm-4 hidden-sm hidden-xs">
            <br />
            <a class="btn btn-default" href="@Url.Action("Edit", "Projects", new { ID = Model.ProjectID })" style="float:right"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back to Project</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="div_Header">
                @Html.Action("_Header", new { quoteID = Model.ID })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @(Html.Kendo().TabStrip().Scrollable(false)
                .Name("Items_Tabstrip")
                .Items(tabstrip =>
                {
                    tabstrip.Add().Text("Services & Qualifications").Content(@Html.Partial("_ItemsTab", Model).ToHtmlString()).Selected(true);
                    tabstrip.Add().Text("Basis of Estimate").Content(@Html.Partial("_BasisOfEstimatesTab", Model).ToHtmlString()).Selected(false);
                    tabstrip.Add().Text("Events").Content(@Html.Partial("_EventsTab", Model).ToHtmlString()).Selected(false);
                    
                    //tabstrip.Add().Text("Attachments").Content(@Html.Partial("_AttachmentsTab", Model).ToHtmlString()).Selected(false);
                    //tabstrip.Add().Text("Internal Comments").Content(@Html.Partial("_CommentsTab", Model).ToHtmlString()).Selected(false);
                    //tabstrip.Add().Text("Notifications").Content(@Html.Partial("_NotificationsTab", Model).ToHtmlString()).Selected(false);

                }))
        </div>
    </div>

</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews(); return false;" style="z-index:1105; display:none;"></a>


@if (ViewBag.EditQuotations)
{

    if (Model.Status.ID == 1)
    {
        <div id="SlideContent_AddProducts" class="panel panel-default" style="z-index: 2110; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
            <div id="div_AddProducts" class="panel-body" style="margin-top: 10px;">                
                @Html.Action("_AddProducts", new { model = Model }) 
            </div>
        </div>

        <div id="SlideContent_AddBasis" class="panel panel-default" style="z-index: 2110; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
            <div id="div_AddBasis" class="panel-body" style="margin-top: 10px;">                
                @Html.Action("_AddBasis", new { model = Model }) 
            </div>
        </div>
    }

    <div id="SlideContent_AddCustom" class="panel panel-default" style="z-index: 2120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 800px; display: none;">
        <div id="div_AddCustom" class="panel-body" style="margin-top: 10px;">
            @*@Html.Action("_AddCustomProduct", new { model = Model })*@
        </div>
    </div>

    <div id="SlideContent_EditQuoteItem" class="panel panel-default" style="z-index: 2130; position: fixed; overflow-x:scroll; margin: 0; bottom:0; right: 0; min-width: 100%; height: 0; max-height: 800px; display: none;">
        <div id="div_EditQuoteItem" class="panel-body" style="margin-top: 10px;">
            @*@Html.Action("_AddCustomProduct", new { model = Model })*@
        </div>
    </div>

}

<div class="modal fade" id="Modal1">
    <div class="modal-dialog modal-larger" style="width:1200px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title div-inline">Event</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-50px;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer" style="margin-top: 0px;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="Content_ItemPhoto" style="z-index: 2130; position: fixed; width: 70%; height:80%; max-width:600px; display: none; top: 0; right:0; left:0; bottom:0; margin:auto; overflow:auto;">
    <div id="div_itemPhoto">

    </div>
</div>

<style>
    .k-alt { background-color: white; }
    html .k-grid tr:hover { background: transparent; }
    html .k-grid tr.k-alt:hover { background: transparent; }
    html .k-grid tr {  border-bottom: dotted; }
    .k-grid-edit-row td { vertical-align: top !important; }
    .k-grid table tbody tr td { vertical-align: text-top; }
    .k-grid tr td { border-width: 0 0 1px 1px; }
</style>
