﻿@model SnapSuite.Models.QuotationViewModel

<br />
<br />
<div class="panel panel-default">
    <div class="panel-body">
        <h3>Quotation Creation</h3>
        <p>Select the templates & attachments for your Quotation.</p>
        @if (User.IsInRole("Super Admin"))
        {
            <p><a href="@Url.Action("Index", "QuotationTemplates")">Click here to create and upload your own templates.</a></p>
        }
        <hr />
        @*<a class="btn btn-info btn-xs" onclick="$('#GridPreviewItems').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Page</a>*@
        @(Html.Kendo().Grid<SnapSuite.Models.QuotationPreviewItemViewModel>()
                .Name("GridPreviewItems")
                //.Pageable(p => p.Messages(m => m.Display("{0} - {1} of {2} Templates/Attachments").Empty("No Pages/Attachments Added")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");
                    columns.Bound(a => a.Type).ClientTemplate("#if(Type== 'Attachment'){# <span class='label label-danger'>#} else{# <span class='label label-info'>#}# #=Type#</span>").EditorTemplateName("TemplateTypeDropDown").Title("Type").Width("1%");
                    columns.Bound(a => a.TemplateAttachment).ClientTemplate("#if(TemplateAttachment != null){# #=TemplateAttachment.Name# #}#").EditorTemplateName("TemplateAttachmentDropDown").Title("Name");
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        //command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                    ).Width("80px");
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).CreateAt( GridInsertRowPosition.Bottom).ConfirmDelete("Are you sure you want to delete this page?"))
                //.Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(a => a.ID);
                        model.Field(a => a.ID).Editable(false);
                        model.Field(a => a.ParentID).Editable(false).DefaultValue(Guid.Parse(Model.ID));
                        model.Field(a => a.Type).Editable(true).DefaultValue("Template");
                        model.Field(a => a.TemplateAttachment).DefaultValue(new SnapSuite.Models.SelectPreviewItemViewModel { OrderID = Guid.Parse(Model.ID) });
                    })
                    .Create(create => create.Action("Create", "QuotationPreview"))
                    .Read(read => read.Action("Read", "QuotationPreview", new { ID = Model.ID }))
                    .Update(update => update.Action("Update", "QuotationPreview"))
                    .Destroy(destroy => destroy.Action("Destroy", "QuotationPreview"))
                    .Events(events => events.RequestEnd("OnGridItemsRequestEnd"))
                )
        //.Events(events => events.DataBound("KendoGridDatabound"))
        //.AutoBind(true)
        )
        <br />
        <br />
        @*<a href="@Url.Action("Business", "Settings")">Edit business name, address & logo</a>*@
    </div>

    <script>
        $(".k-grid[id='GridPreviewItems'] table").kendoSortable({
            filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
            disabled: ".no-drag", //do not allow transferring the no records row
            hint: $.noop,
            cursor: "move",
            placeholder: function (element) {
                return element.clone().addClass("k-state-hover").css("opacity", 0.65);
            },
            change: function (e) { //change event handler implementation may differ according to the scenario
                //var grid = this.element.closest(".k-grid").data("kendoGrid");
                var dataItem = $('#GridPreviewItems').data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                $.ajax({
                    url: '@Url.Action("_UpdateItemPositions", "QuotationPreview")',
                    type: 'POST',
                    data: {
                        itemID: dataItem.ID,
                        oldIndex: e.oldIndex,
                        newindex: e.newIndex,
                    },
                    dataType: "json",
                    success: function (data) { Refresh(); }
                });
            },
            move: function (e) { }
        });


        function OnGridItemsRequestEnd(e) {
            //RequestEnd handler code
            if (e.type !== null && e.type !== 'read') {
                Refresh();
            }
        }

    </script>
</div>
