﻿@model SnapSuite.Models.QuotationEmailViewModel


@using (Ajax.BeginForm("_EmailPDF", "QuotationPreview", null, new AjaxOptions { }, new { enctype = "multipart/form-data", method = "post", onsubmit = "SendEmail()" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.QuotationID)
    @Html.HiddenFor(model => model.ClientID)
    @Html.HiddenFor(model => model.CheckSum)    
    <div class="row">
        <div class="col-xs-9">
            <h3>Email Quotation</h3>
        </div>
        <div class="col-xs-3">
            <br />
            <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
        </div>
        <div class="col-xs-12">
            <hr />
            <label>To:</label><br />
            @(Html.Kendo().AutoCompleteFor(model => model.ToEmails)
                .DataTextField("Name") //Specify which property of the Product to be used by the MultiSelect as a text.
                .Placeholder("Enter emails addresses...")
                .Separator("; ")
                .ClearButton(false)
                //.AutoBind(true)
                .DataSource(source =>
                    {
                        source.Read(read =>
                        {
                            read.Action("DropdownClientEmails", "Clients").Data("function() { return { cltID: '" + @Model.ClientID + "'}}");
                        });
                    })
                .HtmlAttributes(new { style = "width: 100%; max-width: none;" })
            )
            <span style="font-size:x-small">Use the seperator '; ' to add multiple emails.</span><br />
            @Html.ValidationMessageFor(model => model.ToEmails, "", new { @class = "text-danger" })

            <br />
            <label>From:</label>
            @Html.TextBoxFor(model => model.FromEmail, new { @class = "form-control", @style = "max-width:none" })
            @Html.ValidationMessageFor(model => model.FromEmail, "", new { @class = "text-danger" })
            <br />
            <label>Title:</label><br />
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @style = "max-width:none" })<br />

            @*<label>Message:</label><br />
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @style = "max-width:none", @rows = 5 })<br />*@
            @(Html.Kendo().EditorFor(model => model.Message)
                          .HtmlAttributes(new { @style = "max-width: none;", @aria_label = "editor", @class = "form-control" })
                          .Resizable(resizable => resizable.Content(true))
                          .Tools(
                              tools => tools.FontName()
                                            .FontColor()
                                            .FontSize()
                                            .BackColor()
                          )
                          .Messages(messages => messages.FontSizeInherit("(font size)")
                                                        .FontNameInherit("(font family)"))
            )
            <br />
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.IncludePDF) &nbsp;<strong>Include quotation as PDF attachment? (<span id="span_EmailSize">0Kbs</span>)</strong>
            </div>
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.SendCopyPDF) &nbsp;<strong>Send copy to @Model.Bcc?</strong>
            </div>
            @if (Model.Attachments.Count() > 0)
            {
                <div class="panel panel-default">
                    <div class="panel-body">                        
                        <label>Attachments to include:</label>
                        <hr />
                        @foreach (var item in Model.Attachments)
                        {
                            <div class="checkbox">
                                @if (Model.SelectedAttachments.Contains(item.ID))
                                {
                                    <text>
                                    <input name="SelectedAttachments" type="checkbox" value="@item.ID" checked="checked" /> &nbsp;<strong>@item.Filename (@item.File.FileSize)</strong>
                                    </text>
                                }
                                else
                                {
                                    <text>
                                    <input name="SelectedAttachments" type="checkbox" value="@item.ID" /> &nbsp;<strong>@item.Filename (@item.File.FileSize)</strong>
                                    </text>
                                }
                            </div>
                        }                        
                    </div>                    
                </div>                
            }
            <span style="font-size:smaller">Max 10Mbs Attachment size.</span>
            <hr />
            <input type="submit" value="Send Email" class="btn btn-success" onclick="SendEmail();" />
            <div id="Div_SendingEmail" style="display:none;" ><span><strong>&nbsp;&nbsp;Sending Email....</strong></span></div>
        </div>

    </div>
    

    <script>
        $("#ToEmails").on("focus", function () {
            var autocomplete = $("#ToEmails").data("kendoAutoComplete");
            autocomplete.dataSource.read();
            autocomplete.popup.open();
        });

        function SendEmail() {

            if (this.valid()) {
                $("#Div_SendingEmail").show();
            }
        }

        
        function EmailSent(message) {            
            $("#Div_SendingEmail").hide();
            $("#Div_EmailSent").fadeIn();
            $("#Label_EmailSent").text(message);
            HideViews();
        }
        
    </script>

    
}