﻿
<hr />
@if (!Request.UserAgent.ToLower().Contains("iphone") && !Request.UserAgent.ToLower().Contains("ipad"))
{
    <div>
        <object class="pdf-scroller" data="@Url.Action("_GenerateQuotationPDF", new { id = ViewBag.ID, checksum = ViewBag.CheckSum, random = DateTime.Now })" type="application/pdf" style="width:100%; height:1000px">
            <div class="alert alert-danger" role="alert"><strong><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Unable to load PDF Preview. Please make sure your browser has a PDF viewer plugin installed.</strong></div>
        </object>
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-body" style="margin-top:75px; margin-bottom:75px; text-align:center">
            <a class="btn btn-lg btn-success" href="@Url.Action("_GenerateQuotationPDF", new { id = ViewBag.ID, checksum = ViewBag.CheckSum })" style="display:block; margin-left:auto; margin-right:auto; max-width:300px;">
                <span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp;Download PDF
            </a>
            <br />
            <label>Your browser does not support embedded PDFs. Please click the button above to download the PDF.</label>
        </div>
    </div>
}
