﻿@model SnapSuite.Models.QuotationViewModel
@{
    ViewBag.Title = string.Format("Preview Estimate: {0}{1}", Model.Reference ?? "", Model.Number);
}


<div id="Div_EmailSent" class="row" style="display:none">
    <div class="col-sm-12">
        <div class="alert alert-warning " role="alert">
            <button type="button" class="close" onclick="$('#Div_EmailSent').css('display', 'none');"><span aria-hidden="true">&times;</span></button>
            <label id="Label_EmailSent" style="white-space:pre-line" ></label>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-8">
        <h1 style="display:inline-block">@ViewBag.Title</h1>
    </div>
    <div class="col-sm-4 hidden-xs">
        <br />
        <a class="btn btn-default" href="@Url.Action("Edit", "Quotations", new { ID = Model.ID })" style="float:right"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;Back to Estimate</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <hr />
    </div>
    <div class="col-sm-12">        
        @*<button id="Button_Email" class="btn btn-info" onclick="Email()"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Email</button>*@
        <a id="Button_Download" class="btn btn-success" target="_blank" href="@Url.Action("_GenerateQuotationPDF", new { id = Model.ID, checksum = Model.CheckSum, download = true })"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download</a>        
    </div>
    @*<div class="col-sm-6">        
        <div class="input-group" style="max-width:none; width:100%">
            <input class="form-control" style="max-width:none; cursor: text;" type="text" readonly="readonly" value="@string.Format("{0}/QuotationReview/?ID={1}&Jasq={2}", this.Request.Url.GetLeftPart(UriPartial.Authority), Model.ID, Model.CheckSum)">
            <span class="input-group-btn">
                <a class="btn btn-primary" target="_blank" href="@string.Format("{0}/QuotationReview/?ID={1}&Jasq={2}", this.Request.Url.GetLeftPart(UriPartial.Authority), Model.ID, Model.CheckSum)">Review Link</a>
            </span>
        </div>
    </div>*@
    @*@if (ViewBag.EditQuotations)
    {
        <div class="col-sm-5">
            @Html.Partial("_EditPages", Model)
        </div>
    }*@   
    
    <div id="divPDF" class="col-sm-12">
        @Html.Action("_PDF", new { id = Model.ID, checksum = Model.CheckSum })
    </div>

</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

@if (ViewBag.EditQuotations)
{
    <div id="SlideContent_Email" class="panel panel-default" style="z-index: 2010; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0%; max-width: 600px; display: none;">
        <div class="panel-body" style="margin-top: 10px;">
            @Html.Action("_EmailPDF", Model)
        </div>
    </div>
}


<script>

    function Refresh(){
        RefreshGrid();
        RefreshPDF();
    }

    function RefreshGrid(){
        $("#GridPreviewItems").data('kendoGrid').dataSource.read();
    }

    function RefreshPDF() {
        $("#divPDF").load('@Url.Action("_PDF", new { id = Model.ID, checksum = Model.CheckSum })');
    }

    function Email() {
        $("#SlideContent_Email").animate({ width: '80%' }, { queue: false, duration: 300 });
        $("#SlideContent_Email").fadeIn();
        $("#Button_Close_Content").fadeIn();
        $("#divPDF").fadeOut();
        $("#span_EmailSize").load('@(Url.Action("_PdfSize", "QuotationPreview", new { ID = Model.ID }))');
    }

    function HideViews() {
        $("#SlideContent_Email").animate({ width: '0%' }, { queue: false, duration: 300 });
            setTimeout(function () {
            $("#SlideContent_Email").fadeOut();
            $("#Button_Close_Content").fadeOut();
            $("#divPDF").fadeIn();
            }, 300);
    }

    function GetDropdownSearchInfo() {

        var grid = $("#GridPreviewItems").data("kendoGrid");
        var dataItem = grid.dataItem(grid.tbody.find(">tr.k-grid-edit-row"));

        var SearchValues = {
            ID: '@Model.ID',
            Type: dataItem.get("Type"),
        };

        return SearchValues;
    }


</script>

