﻿@model SnapSuite.Models.SubmitAgreementViewModel

@Scripts.Render("~/EditorScripts/SignatureSubmission")
<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

<div id="divAcceptDecline">
    @using (Ajax.BeginForm("", "", null, new AjaxOptions { UpdateTargetId = "divAcceptDecline" }, new { id="SubmitAgreementForm", enctype = "multipart/form-data", method = "post" }))
    {

        <div id="divSuccessMessage" class="alert alert-success" style="display: none"></div>
        <div id="divErrorMessage" class="alert alert-danger" style="display: none"></div>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)

        <div class="form-table" style="width:100%">
            <table>
                <tr>
                    <td  class="hidden-xs" style="width:110px"><strong>Title:</strong><span class="text-danger">*</span></td>
                    <td>@Html.TextBoxFor(m => m.Title, new { @class = "form-control", @style = "max-width:170px", @placeholder = "Tile *Required" })</td>
                </tr>
                <tr>
                    <td class="hidden-xs"><strong>First Name:</strong><span class="text-danger">*</span></td>
                    <td>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @style = "max-width:none", @placeholder = "First Name *Required" })</td>
                </tr>
                <tr>
                    <td class="hidden-xs"><strong>Last Name:</strong><span class="text-danger">*</span></td>
                    <td>@Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @style = "max-width:none", @placeholder = "Last Name *Required" })</td>
                </tr>
                <tr>
                    <td class="hidden-xs"><strong>Email:</strong><span class="text-danger">*</span></td>
                    <td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "max-width:none", @placeholder = "Email* Required", @type = "Email" })</td>
                </tr>
            </table>

            <hr />
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="pill" href="#menu1"><strong>Draw Signature</strong></a></li>
                <li><a data-toggle="pill" href="#menu2"><strong>Type Signature</strong></a></li>
                <li><a data-toggle="pill" href="#menu3"><strong>Upload Photo</strong></a></li>
            </ul>

            <div class="tab-content">
                <div id="menu1" class="tab-pane fade in active" tabindex="0">
                    <br />
                    <div class="form-group">
                        <canvas class="roundCorners" id="drawSignature" style="position: relative; display:block; margin-left:auto; margin-right:auto; border: 2px solid #d3d3d3;"></canvas>
                        <br />
                        <script>signatureDrawCapture(340, 150);</script>
                        <button class="btn btn-sm btn-default" type="button" onclick="signatureDrawClear()" style="display:block; margin-left:auto; margin-right:auto;">Clear signature</button>
                    </div>
                </div>
                <div id="menu2" class="tab-pane fade" tabindex="1">
                    <br />
                    <div class="form-group">
                        <canvas class="roundCorners" id="typeSignature" style="position: relative; display:block; margin-left:auto; margin-right:auto; border: 2px solid #d3d3d3;"></canvas>
                        <br />
                        @Html.TextBox("txt_Signature", "", new { @class = "form-control input-sm", @placeholder = "Type your name here", @style = "text-align:center; display:block; margin:auto;" })
                        <script>signatureTypeCapture(340, 150);</script>
                    </div>
                </div>
                <div id="menu3" class="tab-pane fade"  tabindex="2">
                        <br />
                        <label>Upload an image of your signature from your device.</label>
                        <div class="form-control">
                            <input type="file" name="uploadSignature" id="uploadSignature" accept="image/*">
                        </div>
                        <span style="font-size:x-small">Max 1Mb</span>
                        <br />
                        <script>
                            $("#uploadSignature").change(function ()
                            {
                                var iSize = ($("#uploadSignature")[0].files[0].size);
                                if (iSize / 1024 / 1024 > 1) {
                                    $("#uploadSignature").replaceWith($("#uploadSignature").val('').clone(true));
                                    alert("Uploaded image must be less than 1mb.");
                                }
                            });
                        </script>
                </div>
            </div>
            <hr />
            <br />
            <label>Enter Purchase Order Number:</label>&nbsp;<span style="font-size:smaller">(Optional)</span><br />
            @Html.TextBoxFor(model => model.PoNumber, new { @class = "form-control", @style = "max-width:none" })

        </div>   
        <br />
        <div class="checkbox">
            @Html.CheckBoxFor(model => model.Accept)&nbsp;<strong>I accept this quotation and its terms & conditions. These terms and conditions are either in the quote document or provided as an attachment.</strong>
        </div>
        <hr />
        <input id="btnSubmitAgreement" type="submit" value="Accept Quotation" class="btn btn-success" />
        <span id="btnProgress" class="btn btn-default" style="display:none">Submitting....</span>
        <button type="button" class="btn btn-default" onclick="HideViews()">Close</button>

    }


    @Scripts.Render("~/EditorScripts/QuotationAgreement")

</div>