﻿@model SnapSuite.Models.UserRoleOptionViewModel

<div id="divNewRole" style="margin:15px;">

    @using (Ajax.BeginForm("_NewRole", "Roles", new AjaxOptions { UpdateTargetId = "divNewRole", OnSuccess = "OnSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        //@Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdentityRoleID)
        @Html.HiddenFor(model => model.CompanyID)
        <div class="row">
            <div class="col-xs-9">
                <h2>New Role</h2>
            </div>
            <div class="col-xs-3">
                <br />
                <a class="btn btn-sm btn-default" onclick="HideViews()" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-xs-12">
                <hr />
            </div>
            <div class="col-sm-12">
                <label>Name:</label>
                @Html.TextBoxFor(model => model.IdentityRoleName, new { @class = "form-control", @placeholder = "Enter Role Name", @style = "max-width:none; width:100%; margin-bottom:5px;" })
                @Html.ValidationMessageFor(model => model.IdentityRoleName, "", new { @class = "text-danger" })
            </div>

            <div class="col-sm-4">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <label>CRM</label>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.ViewCRM)&nbsp;<strong>View CRM</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.EditCRM)&nbsp;<strong>Edit CRM</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.DeleteCRM)&nbsp;<strong>Delete CRM</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.ExportCRM)&nbsp;<strong>Export CRM</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <label>Products</label>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.ViewProducts)&nbsp;<strong>View Products</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.EditProducts)&nbsp;<strong>Edit Products</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.DeleteProducts)&nbsp;<strong>Delete Products</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.ExportProducts)&nbsp;<strong>Export Products</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <label>Quotations</label>
                    </div>
                    <div class="panel-body">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.ViewQuotations)&nbsp;<strong>View Quotations</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.EditQuotations)&nbsp;<strong>Edit Quotations</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.DeleteQuotations)&nbsp;<strong>Delete Quotations</strong>
                        </div>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.ExportQuotations)&nbsp;<strong>Export Quotations</strong>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <hr />
                <input type="submit" value="Add Role" class="btn btn-success">
            </div>
        </div>
    }

    <script>
        function OnSuccess(response) {
            //Call function from Index view
            if (response["ID"] != null) {
                CreatedRole(response["ID"]);
            }
        }
    </script>
</div>

<style>
     #divNewRole table {
         width:100%;
     }

    #divNewRole table tr th, #divNewRole table tr td {
        padding: 3px;
    }
</style>