﻿
@{
    ViewBag.Title = "User Roles Management";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>User Roles Management</h1>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Users/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Users</a>
        </div>

        <div class="col-sm-12">
            <hr />
            <a class="btn btn-info" href="#" onclick="NewRole();" style="margin-bottom:5px;"><span class="glyphicon glyphicon-user"></span> &nbsp;Create New Role</a>
            <a class="btn btn-default" onclick="Refresh()" style="margin-bottom:5px;"><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Refresh</a>
        </div>
        
        <div class="col-sm-12">
            <br />
            @(Html.Kendo().Grid<SnapSuite.Models.UserRoleOptionViewModel>()
                .Name("GridRoles")
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Roles").Empty("No Roles Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.IdentityRoleName).Title("Name");
                    //columns.Bound(u => u.AccessAllDepots).Title("Access All Depots").ClientTemplate("#if(AccessAllDepots) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.ViewTimesheets).Title("View Timesheets").ClientTemplate("#if(ViewTimesheets) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditTimesheets).Title("Edit Timesheets").ClientTemplate("#if(EditTimesheets) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.ViewInvoices).Title("View Invoices").ClientTemplate("#if(ViewInvoices) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditInvoices).Title("Edit Invoices").ClientTemplate("#if(EditInvoices) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.ViewClients).Title("View Clients").ClientTemplate("#if(ViewClients) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditClients).Title("Edit Clients").ClientTemplate("#if(EditClients) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.ViewServiceCredits).Title("View S. Credits").ClientTemplate("#if(ViewServiceCredits) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditServiceCredits).Title("Edit S. Credits").ClientTemplate("#if(EditServiceCredits) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.ViewDrivers).Title("View Drivers").ClientTemplate("#if(ViewDrivers) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditDrivers).Title("Edit Drivers").ClientTemplate("#if(EditDrivers) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.ViewDriverAvailability).Title("View D. Availability").ClientTemplate("#if(ViewDriverAvailability) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditDriverAvailability).Title("Edit D. Availability").ClientTemplate("#if(EditDriverAvailability) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");

                    //columns.Bound(u => u.ViewDepots).Title("View Depots").ClientTemplate("#if(ViewDepots) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditDepots).Title("Edit Depots").ClientTemplate("#if(EditDepots) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");

                    //columns.Bound(u => u.ViewVehicles).Title("View Vehicles").ClientTemplate("#if(ViewVehicles) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditVehicles).Title("Edit Vehicles").ClientTemplate("#if(EditVehicles) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.ViewVehicleChecklists).Title("View V. Checklists").ClientTemplate("#if(ViewVehicleChecklists) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditVehicleChecklists).Title("Edit V. Checklists").ClientTemplate("#if(EditVehicleChecklists) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.ViewVehicleIssues).Title("View V. Issues").ClientTemplate("#if(ViewVehicleIssues) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                    //columns.Bound(u => u.EditVehicleIssues).Title("Edit V. Issues").ClientTemplate("#if(EditVehicleIssues) {#<span class='glyphicon glyphicon-ok'></span>#}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");

                    columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"EditRole('#=IdentityRoleID#'); return false;\"><span class='glyphicon glyphicon-edit glyphicon-btn'/></a>").Width("1%");
                    columns.Command(command =>
                    {
                        //command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn'/>").UpdateText("<span class='glyphicon glyphicon-ok-sign glyphicon-btn'/>").CancelText("<span class='glyphicon glyphicon-remove-sign glyphicon-btn'/>");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                    }
                    ).Width("1%");
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this role?"))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.IdentityRoleID);
                        model.Field(t => t.IdentityRoleID).Editable(false);
                    })
                    //.Create(create => create.Action("Create", "UserRoles"))
                    .Read(read => read.Action("Read", "UserRoles"))
                    //.Update(update => update.Action("Update", "UserRoles"))
                    .Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>


<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="SlideContent_EditRole" class="panel panel-default" style="z-index: 1120; position: fixed; overflow-y:scroll; margin: 0; top: 0; bottom:0; right: 0%; min-height: 100%; width: 0; max-width: 1200px; display: none;">
    <div class="panel-body" style="margin-top: 10px;">
        <div id="EditRole_Body"></div>
    </div>
</div>



<script>
    function Refresh() {
        var grid = $("#GridRoles").data("kendoGrid");
        grid.dataSource.read();
    }


    //Below the following functions are used the show/hide the content panels.
    function NewRole() {
        $("#EditRole_Body").load("@Url.Action("_NewRole", "UserRoles")");

        $("#SlideContent_EditRole").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditRole").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function EditRole(id) {
        var url = '@Url.Action("_EditRole", "UserRoles")' + '?ID=' + id;
        $("#EditRole_Body").load(url);

        $("#SlideContent_EditRole").animate({ width: '90%' }, { queue: false, duration: 300 });
        $("#SlideContent_EditRole").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function CreatedRole(id) {
        var url = '@Url.Action("_EditRole", "UserRoles")' + '?ID=' + id;
        $("#EditRole_Body").load(url);
    }


    function HideViews() {
        $("#SlideContent_EditRole").animate({ width: '0%' }, { queue: false, duration: 300 });

        setTimeout(function () {
            $("#SlideContent_EditRole").fadeOut();
            $("#Button_Close_Content").fadeOut();

            Refresh();
        }, 300);

    }
</script>