﻿@using SnapSuite.Models
@{
    ViewBag.Title = "Products & Services";
}

<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h1>Products & Services</h1>
        </div>
        <div class="col-xs-6">
            <br />
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" onclick="NewScope(); return false;"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Scope</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div id="divPager" class="col-sm-12">
             <div class="form-group" role="group" aria-label="...">
                <button class="btn btn-sm btn-default" onclick="Refresh();"><span class="glyphicon glyphicon-refresh" ></span>&nbsp; Refresh</button>&nbsp;
            </div>
        </div>
        <div class="col-sm-12">
            @(Html.Kendo().Grid<SnapSuite.Models.ScopeGridViewModel>()
                .Name("GridScopes")
                .HtmlAttributes(new { style = "min-width: 750px" })
                .Pageable(p => p.PageSizes(new[] { 50, 100, 200, 1000 }).Messages(m => m.Display("{0} - {1} of {2} Scopes").Empty("No Scopes Found")))
                .Columns(columns =>
                {
                    columns.Bound(u => u.ID).ClientTemplate("<input type='checkbox' value='#=ID#' name='chk_grid'>").Width("1%").Hidden();
                    columns.Bound(u => u.Name).Title("Name");
                    columns.Command(command =>
                    {
                        command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                        command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete'  />");
                    }
                    ).Width("90px");
                })
                .Editable(editable => editable.CreateAt(GridInsertRowPosition.Bottom).Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this product?"))
                .Sortable()
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Model(model =>
                    {
                        model.Id(t => t.ID);
                    })
                    .Create(read => read.Action("Create", "ScopeGrid"))
                    .Read(read => read.Action("Read", "ScopeGrid")).PageSize(50)
                    .Update(read => read.Action("Update", "ScopeGrid"))
                    .Destroy(destory => destory.Action("Delete", "ScopeGrid"))
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>
    </div>
</div>

<style>
    .div-inline {         
        overflow: hidden;
        white-space: nowrap;
        text-align:center;
        align-items:center;
    }
</style>

<script>

    function Refresh() {
        var grid = $("#GridScopes").data("kendoGrid");
        grid.dataSource.read();

        //Save cookie values here
    }

    function GetSearchInfo() {
        return {
            filterText: $('#TB_ProductFilter').val(),
            category: $("#DD_Categories").data("kendoDropDownList").value(),
            del: false
        }
    }

    function Edit() {
        var grid = $("#GridProducts").data("kendoGrid");
        if (grid.dataSource.total() > 0) {
            $('#divPager').hide();
            $('#divEdit').show();
            grid.showColumn(0);
        }
    }

    function DoneEdit() {
        var grid = $("#GridProducts").data("kendoGrid");
        $('#divPager').show();
        $('#divEdit').hide();
        grid.hideColumn(0);
    }

    function SelectAll() {
        if ($("input[name=chk_grid]:checkbox:checked").get().length > 0) {
            $("input[name=chk_grid]").map(function () { return this.checked = false; })
        }
        else {
            $("input[name=chk_grid]").map(function () { return this.checked = true; })
        }
    }

    function NewScope() {
        $('#GridScopes').data('kendoGrid').addRow();
    }

</script>



