﻿@model List<SnapSuite.Models.QuotationEvent>
<html>
    <body>
        <table align="center">
            <tr>
                <td colspan="5">
                    @(Raw(ViewBag.EmailContent))
                </td>
            </tr>
            <tr style="text-align: left;">
                <th>Project</th>
                <th>Client</th>
                <th>Contact</th>
                <th>Message</th>
                <th>Timestamp</th>
            </tr>
            @foreach(var clientEvent in Model) {
                <tr style="background-color:lightgrey;">
                    <td>@(clientEvent.Project != null ? clientEvent.Project.Name : "")</td>
                    <td><a href="@(System.Web.Configuration.WebConfigurationManager.AppSettings["BaseUrl"] + "Clients/Events?eventID=" + clientEvent.ID)" target="_blank">@(clientEvent.Client != null ? clientEvent.Client.Name : "")</a></td>
                    <td>@(clientEvent.ClientContact != null ? clientEvent.ClientContact.FirstName + " " + clientEvent.ClientContact.LastName : "")</td>
                    <td>@(Raw(clientEvent.Message))</td>
                    <td>@clientEvent.Timestamp.ToString("HH:mm dd/MM/yyyy")</td>
                </tr>
            }
        </table>
    </body>
</html>
