﻿

<script>

    function HideHelpView()
    {
        $.ajax({
            url: '/HelpTutorials/_QuotationsStartVideo',
            type: 'POST',
            data: {
                "DoNotShowAgain": $('#CB_DoNotShowAgain').is(":checked"),
            },
            dataType: "json",
            success: function (data) {
                $("#Content_ItemHelp").html("");
                $("#Content_ItemHelp").fadeOut();
                $("#Button_Close_HelpContent").fadeOut();
            }
        });
    }

</script>

<div id="Button_Close_HelpContent" class="btn-background" style="z-index:2125; display:block;"></div>

<div id="Content_ItemHelp" style="z-index: 2130; position: fixed; width: 680px; height:80%; display: block; top: 0; right:0; left:0; bottom:0; margin:auto;">

    <div class="panel panel-default">
        <div class="panel-body">
            <h2>Quotations - Introduction</h2>
            <br />
            <div class="img-thumbnail" style="width:100%">
                <script src="https://fast.wistia.com/embed/medias/umdkkx8ynh.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><span class="wistia_embed wistia_async_umdkkx8ynh popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span></div></div>
            </div>
            <br />
            <br />
            <button class="btn btn-inverse" onclick="HideHelpView()">Dismiss</button>
            <div class="checkbox">
                @Html.CheckBox("CB_DoNotShowAgain", false)
                &nbsp;<strong>Do Not Show Again</strong>
            </div>
        </div>
    </div>

</div>