﻿@using SnapSuite.Models
@model QuotationClientViewModel

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <label>For the attention of:</label><br />
                @foreach(var i in Model.InvoiceAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <span>@i</span><br />
                }
            </div>
            <div class="col-sm-4">
                @if (!string.IsNullOrWhiteSpace(Model.DeliveryAddress))
                {
                    <label>Delivery Address:</label><br />
                    foreach (var i in Model.DeliveryAddress.Split(new string[] { ", " }, StringSplitOptions.RemoveEmptyEntries))
                    {
                        <span>@i</span><br />
                    }
                }
            </div>
            <div class="col-sm-4" style="text-align:right">
                <br />
                <br />
                <p style="font-size: small">
                    <strong>
                        @string.Format("Net: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalNet)
                    </strong>
                </p>
                <p style="font-size: small">
                    <strong>
                        @string.Format("Tax: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalVat)
                    </strong>
                </p>

                <h4 style="font-weight: normal">
                    <strong>
                        @string.Format("Total Price: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalPrice)
                    </strong>
                </h4>
            </div>
        </div>
        
    </div>
</div>

