﻿@using SnapSuite.Models
@model QuotationClientViewModel

@if (!Model.UsePriceBreaks)
{
    <div class="col-xs-6" style="padding: 0; margin: 0; text-align:right">
        <hr />
        <p style="font-size: small">
            @string.Format("Products Margin: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalMargin)
            &nbsp;
            @string.Format("({0:N2}%)", Model.Margin)
        </p>
        <p style="font-size: small">
            @string.Format("Item Costs: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalCost)
        </p>
        <p style="font-size: small">
            @string.Format("Additional Costs: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalOtherCosts)
        </p>
        <p style="font-size: small">
            @string.Format("Labour: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalLabourCosts)
        </p>
    </div>
    <div class="col-xs-6" style="padding: 0; margin: 0; text-align:right">
        <hr />
        <p style="font-size: small">
            @string.Format("Discount: {0:N2}%", Model.Discount)
        </p>
        <p style="font-size: small">
            @string.Format("Net: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalNet)
        </p>
        <p style="font-size: small">
            @string.Format("Tax: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalVat)
        </p>

        <h4 style="font-weight: normal">
            <strong>
                @string.Format("Total Price: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalPrice)
            </strong>
        </h4>
        <p style="font-size: small; font-weight:bold; color: @((Model.TotalProfit < 0) ? "red" : "darkgreen")">
            @string.Format("Profit: {0:" + Model.CurrencySymbol + "#,##0.#0} ({1:#,##0.00}%)", Model.TotalProfit, Model.Profit)
        </p>
    </div>
}
