﻿@using SnapSuite.Models
@model SnapSuite.Models.QuotationClientViewModel


@foreach (var section in Model.Sections)
{
    <div class="@(section.IsRequired ? "panel panel-danger" : "panel panel-info")">
        <div class="panel-heading">
            @using (Ajax.BeginForm("_EditSection", "ClientQuotationSections", null, new AjaxOptions { }, new { id = string.Format("EditSection{0}", section.ID), method = "post" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("SectionID", section.SectionID)
                @Html.Hidden("QuotationID", section.QuotationID)
                <div class="row" style="margin:0; padding:0;">
                    <div class="col-xs-3" style="margin:0; padding:0;">
                        <h4>@(section.Name) @(section.IsRequired ? " (Required)" : "")</h4>
                    </div>
                    <div class="col-xs-9" style="margin:0; padding:0;">
                        @if (Model.AllowClientEditSections && section.IsRequired == false)
                        {
                            <div class="checkbox" style="float:right">
                                @Html.CheckBox("IncludeInTotal", section.IncludeInTotal, new { @onclick = string.Format("$('#{0}').submit();", string.Format("EditSection{0}", section.ID)) })
                                &nbsp;<strong>Include in Quotation</strong>
                            </div>
                        }
                        else
                        {
                            <div class="checkbox" style="float:right">
                                @Html.CheckBox("IncludeInTotal", section.IncludeInTotal, new { @readonly = "readonly", @disabled = "disabled" })
                                &nbsp;<strong>Include in Quotation</strong>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="panel-body">
            @(Html.Kendo().Grid<SnapSuite.Models.QuotationItemClientViewModel>()
                    .Name(string.Format("GridItems{0}", section.ID))
                    .Pageable(p => p.PageSizes(new[] { 1000 }).Messages(m => m.Display("{0} - {1} of {2} Items").Empty("No Items Added")))
                    .HtmlAttributes(new { @sectionId = section.SectionID })
                    .Columns(columns =>
                    {
                        //columns.Bound(u => u.IsRequired).Title("").ClientTemplate("#if(IsRequired){# <span class=\"label label-danger\" title=\"Required item. Can not be edited by client.\">Required</span> #}#").Width("1%");

                        columns.Bound(u => u.ImageURL).Title("Image").ClientTemplate("#if(!IsComment && !IsPriceBreak) {# "
                                                                        + "#if(NumImages > 1){# <span class='label label-info image-thumbnail-count' title='#=NumImages# Images'>#=NumImages#</span> <a class='btn-clear' onclick='OpenItemImage(\"#=ID#\")' title='#=ProductCode#'><img src='#=ImageURL#' style='max-height:40px; max-width:40px;'></a> #} else{#"
                                                                        + "<a class='popup-image' target='_blank' href='#=ImageURL#' title='#=ProductCode#'><img src='#=ImageURL#' style='width:100%; max-height:40px; max-width:40px;'></a> #}#"
                                                                        + "#}#").Width("1%");

                        columns.Bound(u => u.ProductCode).Title("Product Code").Width("8%").HtmlAttributes(new { @class = "break-all-text" });
                        columns.Bound(u => u.Description).Title("Description")
                                                                            .ClientTemplate(
                                                                             "#if(IsPriceBreak){# <div style='display:none'> #}#"
                                                                             + "#if(IsComment){#<strong>#}#"
                                                                             + "#=Description#"
                                                                             + "<div class='div-inline' style='float:right'>"
                                                                             + "#if(IsKit){ #<span class='glyphicon glyphicon-th-large' title='Product Kit' style='margin-left:3px'/># }#"
                                                                             + "</div>"
                                                                             + "#if(IsComment){#</strong>#}#"
                                                                             + "#if(IsPriceBreak){#</div>#}#")
                                                                             //.EditorTemplateName("OrderItemTextAreaTemplate")
                                                                             .HtmlAttributes(new { @class = "preline-text" });
                        columns.Bound(u => u.Unit).Title("Unit").HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { @class = "grid-header" }).Width("5%");
                        columns.Bound(u => u.Price).Title("<div data-toggle='modal' data-target='#Modal_Header_Description' data-content='List Price x Discount' style='cursor:help;'>Sales Price</div>").ClientTemplate("#if(!HidePrices && !IsComment){# #=kendo.toString(Price, 'n')##}#").HtmlAttributes(new { style = "text-align:center" }).HeaderHtmlAttributes(new { @class = "grid-header" }).Width("1%");
                        columns.Bound(u => u.Quantity).Title("Quantity").ClientTemplate(" #if(!IsComment && IsKitItem){ #x#}# #if(!IsComment){# #=kendo.toString(Quantity, 'n')# #}#").HtmlAttributes(new { style = "text-align:center" }).Width("1%");
                        columns.Bound(u => u.Total).Title("<div data-toggle='modal' data-target='#Modal_Header_Description' data-content='Sales Price x Quantity + Setup Cost' style='cursor:help;'>Net Total</div>").ClientTemplate("#if(!HidePrices && !IsComment){# #=kendo.toString(Total, 'n')##}#").HtmlAttributes(new { style = "text-align:center; font-weight:bold" }).HeaderHtmlAttributes(new { @class="grid-header" }).Width("1%");

                        if (Model.AllowClientEditLineItems && !Model.UsePriceBreaks)
                        {
                            columns.Command(command =>
                            {
                                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                //command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                            }
                            ).HtmlAttributes(new { @style = "font-weight:bold", @class = "shaded-cell" }).Width("1%");
                        }
                    })
                    .Editable(editable => editable.Enabled(Model.AllowClientEditLineItems).Mode(GridEditMode.InLine).CreateAt(GridInsertRowPosition.Bottom).DisplayDeleteConfirmation(true))
                    //.Sortable()
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Model(model =>
                        {
                            model.Id(t => t.ID);
                            //model.Field(t => t.ImageURL).Editable(false).Editable(false);
                            model.Field(t => t.ID).Editable(false);
                            model.Field(t => t.QuotationID).Editable(false).DefaultValue(Model.ID);
                            model.Field(t => t.SectionID).Editable(false).DefaultValue(section.ID);
                            model.Field(t => t.ProductCode).Editable(false);
                            model.Field(t => t.Price).Editable(false);
                            model.Field(t => t.Quantity);
                            model.Field(t => t.Total).Editable(false);
                            model.Field(t => t.IsComment).Editable(false).DefaultValue(true);
                            model.Field(t => t.IsKit).Editable(false);
                            model.Field(t => t.IsKitItem).Editable(false);
                            model.Field(t => t.HidePrices).Editable(false).DefaultValue(true);
                            model.Field(t => t.Description).Editable(false);
                            model.Field(t => t.Unit).Editable(false);
                            model.Field(t => t.ImageURL).Editable(false);
                            model.Field(t => t.NumImages).Editable(false);
                        })
                        //.Create(create => create.Action("Create", "ClientQuotationItems")) //Add comment items to the quote
                        .Read(read => read.Action("Read", "ClientQuotationItems", new { quoteID = Model.ID, sectionID = section.ID })).PageSize(1000)
                        .Update(update => update.Action("Update", "ClientQuotationItems"))
                        //.Destroy(destroy => destroy.Action("Destroy", "QuotationItems"))
                        .Events(events => events.RequestEnd("OnGridItemsRequestEnd"))
                    )
                    .Events(events => events.DataBound("GridItemsDatabound").Edit("OnGridItemsEdit").Cancel("OnGridItemsEdit"))
            )
    
            <br />
    
            @if (!Model.UsePriceBreaks)
            {
                <div id="divSectionTotal@(section.ID)" data-section="@(section.ID)" style="padding: 0; margin: 0; text-align:right">
                    @Html.Action("_SectionTotal", new { sectionID = section.ID })
                </div>
            }
        </div>
    </div>
}
