﻿@using SnapSuite.Models; 

<script type="text/x-kendo-tmpl" id="Item-Image-Template">
    <div class="product-thumbnail-container">
        <div class="product-thumbnail">
            <a class='popup-image popup-image-max' target='_blank' href='#:File.FilePath#'>
                <img class="image-thumbnail" src="#:File.FilePath#" >
            </a>
        </div>
    </div>
</script>

<div class="panel panel-default">
    <div class="panel-body product-images">

        <div class="row">
            <div class="col-xs-7">
                <h3>Images</h3>
            </div>
            <div class="col-xs-5">
                <a class="btn btn-sm btn-default" onclick="HideViews(); return false;" style="float:right;"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</a>
            </div>
            <div class="col-xs-12"> 
                <br />
                @(Html.Kendo().ListView<ImageViewModel>()
                    .Name("ItemImageListView")
                    .TagName("div")
                    .ClientTemplateId("Item-Image-Template")
                    .DataSource(dataSource =>
                    {
                        dataSource.Read(read => read.Action("ReadImages", "ClientQuotationItems", new { ID = ViewBag.ID }));
                    })
                )
            </div>
        </div>
    </div>
</div>


