﻿@model SnapSuite.Models.QuotationSectionClientViewModel

@if (Model.IncludeInTotal)
{
    <div style="padding: 0; margin: 0; text-align:right">    
        <p style="font-size: small; ">
            <strong>
                @string.Format("Net: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalNet)
                &nbsp;&nbsp;
                @string.Format("Tax: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalVat)
            </strong>
        </p>
        <h5 style="font-weight: normal;">
            <strong>
                @string.Format("Total: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalPrice)
            </strong>
        </h5>       
    </div>
}
else
{
    <div style="padding: 0; margin: 0; text-align:right; color:grey;">
        <p style="font-size: small; color:grey;">
            <strong>
                @string.Format("Net: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalNet)
                &nbsp;&nbsp;
                @string.Format("Tax: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalVat)
            </strong>
        </p>
        <h5 style="font-weight: normal; color:grey;">
            <strong>
                @string.Format("Total: {0:" + Model.CurrencySymbol + "#,##0.#0}", Model.TotalPrice)
            </strong>
        </h5>
    </div>
}