﻿@using SnapSuite.Models
@model QuotationClientViewModel
@{
    ViewBag.Title = string.Format("Customize Quotation: {0}", Model.Reference);
}
<style>
    .k-alt { background-color: white; }
    html .k-grid tr:hover { background: transparent; }
    html .k-grid tr.k-alt:hover { background: transparent; }
    html .k-grid tr {  border-bottom: dotted; }
    .k-grid-edit-row td { vertical-align: top !important; }
    .k-grid table tbody tr td { vertical-align: text-top; }
    .k-grid tr td { border-width: 0 0 1px 1px; }
</style>

<script>
    var quoteID = '@Model.ID';
    var jasq = '@Model.CheckSum';
</script>
@Scripts.Render("~/EditorScripts/QuotationClient")

<div class="row">
    <div class="col-sm-6">
        <h1 style="display:inline-block">@ViewBag.Title</h1>
    </div>
    <div class="col-sm-6">
        <br />
        <div class="input-group" style="max-width:none; width:100%">
            <span class="input-group-btn">
                <span class="btn btn-default" style="cursor:initial;">Share Link</span>
            </span>
            <input class="form-control" style="max-width:none; cursor: initial;" type="text" readonly="readonly" value="@string.Format("{0}/QuotationReview/?ID={1}&Jasq={2}", this.Request.Url.GetLeftPart(UriPartial.Authority), Model.ID, Model.CheckSum)">
        </div>
    </div>
    <div class="col-sm-12">

        @if (Model.NeedsCheckedClientSubmission)
        {
            <a id="Button_Submit" class="btn btn-success hidden-xs" style="margin: 4px;" href="@Url.Action("SubmitCustomizeForReview", new { ID = Model.ID, Jasq = Model.CheckSum, MainID = Model.MainVersionID })" onclick="return confirm('Are you sure you want to submit this version for review?');"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Submit For Review</a>
            <a id="Button_Submit" class="btn btn-success visible-xs" style="margin: 4px;" href="@Url.Action("SubmitCustomizeForReview", new { ID = Model.ID, Jasq = Model.CheckSum, MainID = Model.MainVersionID })" onclick="return confirm('Are you sure you want to submit this version for review?');"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Submit For Review</a>
        }
        else
        {
            <a id="Button_SignAgreement" href="#" class="btn btn-success hidden-xs" style="margin: 4px;" onclick="SubmitAgreement()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Accept Quotation</a>
            <a id="Button_SignAgreement" href="#" class="btn btn-success visible-xs" style="margin: 4px;" onclick="SubmitAgreement()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Accept Quotation</a>
        }

        @*<a id="Button_Download" class="btn btn-inverse hidden-xs" style="margin: 4px;" target="_blank" href="@Url.Action("_GenerateQuotationPDF", "QuotationPreview", new { id = Model.ID, checksum = Model.CheckSum, download = true })"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download</a>
        <a id="Button_Download" class="btn btn-inverse visible-xs" style="margin: 4px;" target="_blank" href="@Url.Action("_GenerateQuotationPDF", "QuotationPreview", new { id = Model.ID, checksum = Model.CheckSum, download = true })"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download</a>*@

        <a id="Button_Customize" class="btn btn-danger hidden-xs" style="margin: 4px;" href="@Url.Action("ResetCustomize", new { ID = Model.ID, Jasq = Model.CheckSum, MainID = Model.MainVersionID })" onclick="return confirm('Are you sure you want to reset this quotation?');"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Reset Customization</a>
        <a id="Button_Customize" class="btn btn-danger visible-xs" style="margin: 4px;" href="@Url.Action("ResetCustomize", new { ID = Model.ID, Jasq = Model.CheckSum, MainID = Model.MainVersionID })" onclick="return confirm('Are you sure you want to reset this quotation?');"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Reset Customization</a>

        <a id="Button_Customize" class="btn btn-danger hidden-xs" style="float: right; margin: 4px;" href="@Url.Action("DeleteCustomize", new { ID = Model.ID, Jasq = Model.CheckSum, MainID = Model.MainVersionID })" onclick="return confirm('Are you sure you want to delete this custom quotation?');"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete</a>
        <a id="Button_Customize" class="btn btn-danger visible-xs" style="float: right; margin: 4px;" href="@Url.Action("DeleteCustomize", new { ID = Model.ID, Jasq = Model.CheckSum, MainID = Model.MainVersionID })" onclick="return confirm('Are you sure you want to delete this custom quotation?');"><span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;Delete</a>
        
    </div>
</div>
@if (Model.StatusID >= SnapSuite.Models.QuotationStatusValues.ACCEPTED)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-inverse">
                <div class="panel-body" style="text-align:center">
                    <h5 style="color:grey">Current Status:</h5>
                    <h3 style="color:@Model.StatusHexColour">@Model.StatusDescription</h3>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="@((Model.Attachments.Count > 0) ? "col-md-9" : "col-md-12")">
        <div id="div_Header">
            @Html.Partial("_Header", Model)
        </div>
        <div id="div_Items">
            @Html.Partial("_Items", Model)
        </div>
    </div>
    @if (Model.Attachments.Count > 0)
    {
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Attachments</h4>
                    <hr />
                    @foreach (var a in Model.Attachments.Where(a => a.File.FileFormat == "Image"))
                    {
                        <a class="popup-image" target="_blank" href="@a.File.FilePath" download="@a.Filename" title="@a.Filename" style="text-decoration: none; display:inline-block; margin:5px">
                            <img src="@a.File.FilePath" class="img-rounded" style="height: 80px; width: 80px;" />
                        </a>
                    }
                    @foreach (var a in Model.Attachments.Where(a => a.File.FileFormat != "Image"))
                    {
                        <br />
                        <a class="popup-image" target="_blank" href="@a.File.FilePath" download="@a.Filename" title="@a.Filename" style="text-decoration: none">
                            <span class="glyphicon glyphicon-paperclip" style="font-size: large; margin: 10px;"></span>@a.Filename
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

<div id="Content_Agreement" class="panel panel-default" style="z-index: 2130; position: absolute; width: 96%; max-width:500px; display: none; top: 10px; right:0; left:0; margin:auto; margin-top:30px; margin-bottom:-30px;">
        
    @if (!Model.HasAgreement && !Model.NeedsCheckedClientSubmission)
    {
        <div class="panel-heading">
            <h4 style="display:inline-block">Accept Quotation</h4>
            <a class="btn btn-default" href="#" onclick="HideViews()" style="float:right"><span class="glyphicon glyphicon-remove"></span>Close</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    @Html.Action("_AcceptReject", "QuotationAgreements", new { ID = Model.ID, Jasq = Model.CheckSum })
                </div>
            </div>
        </div>
    }
</div>

<div id="Content_ItemPhoto" style="z-index: 2130; position: fixed; width: 70%; height:80%; max-width:600px; display: none; top: 0; right:0; left:0; bottom:0; margin:auto; overflow:auto;">
    <div id="div_itemPhoto">

    </div>
</div>

<script>
    function SubmitAgreement(){
        $("#Content_Agreement").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function OpenItemImage(i) {
        var url = '/QuotationReview/_ItemImage/?id=' + i;
        $("#div_itemPhoto").load(url);

        $("#Content_ItemPhoto").fadeIn();
        $("#Button_Close_Content").fadeIn();
    }

    function HideViews(){
        $("#Content_Agreement").fadeOut();
        $("#Button_Close_Content").fadeOut();
        $("#Button_Close_Content").fadeOut();
        $("#Content_ItemPhoto").fadeOut();
        $("#div_itemPhoto").html("");
    }
</script>



