﻿@using SnapSuite.Models
@model QuotationClientViewModel
@{
    ViewBag.Title = string.Format("Quotation: {0}", Model.Reference);
}
<script src="https://js.stripe.com/v3/"></script>


<div class="row">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <strong>Error:</strong> @ViewBag.ErrorMessage
        </div>
    }
    <div class="col-sm-8">
        <h1 style="display:inline-block">@ViewBag.Title</h1>
    </div>
    <div class="col-sm-4">
        <br />

        <a id="Button_Download" class="btn btn-inverse hidden-xs" style="float:right; margin: 4px;" target="_blank" href="@Url.Action("_GenerateQuotationPDF", "QuotationPreview", new { id = Model.ID, checksum = Model.CheckSum, download = true })"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download</a>
        <a id="Button_Download" class="btn btn-inverse visible-xs" style="margin: 4px;" target="_blank" href="@Url.Action("_GenerateQuotationPDF", "QuotationPreview", new { id = Model.ID, checksum = Model.CheckSum, download = true })"><span class="glyphicon glyphicon-download"></span>&nbsp;&nbsp;Download</a>
                
        @if (!Model.HasAgreement && Model.StatusID <= SnapSuite.Models.QuotationStatusValues.ACCEPTED)
        {
            <a id="Button_SignAgreement" href="#" class="btn btn-success hidden-xs" style="float:right; margin: 4px;" onclick="SubmitAgreement()" ><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Accept Quotation</a>
            <a id="Button_SignAgreement" href="#" class="btn btn-success visible-xs" style="margin: 4px;" onclick="SubmitAgreement()" ><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Accept Quotation</a>
        }

        @if (ViewBag.SavedDraftID != null && ViewBag.SavedDraftCheckSum != null && Model.StatusID < SnapSuite.Models.QuotationStatusValues.ACCEPTED)
        {
            <a id="Button_Customize" class="btn btn-info hidden-xs" style="float:right; margin: 4px;" href="@Url.Action("Customize", new { ID = ViewBag.SavedDraftID, Jasq = ViewBag.SavedDraftCheckSum })"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Saved Customized Quotation</a>
            <a id="Button_Customize" class="btn btn-info visible-xs" style="margin: 4px;" href="@Url.Action("Customize", new { ID = ViewBag.SavedDraftID, Jasq = ViewBag.SavedDraftCheckSum })"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Saved Customized Quotation</a>
        }
        else if ((Model.AllowClientEditLineItems || Model.AllowClientEditSections) && Model.StatusID < SnapSuite.Models.QuotationStatusValues.ACCEPTED)
        {
            <a id="Button_Customize" class="btn btn-warning hidden-xs" style="float:right; margin: 4px;" href="@Url.Action("CreateCustomize", new { ID = Model.ID, Jasq = Model.CheckSum })"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Customize Quotation</a>
            <a id="Button_Customize" class="btn btn-warning visible-xs" style="margin: 4px;" href="@Url.Action("CreateCustomize", new { ID = Model.ID, Jasq = Model.CheckSum })"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Customize Quotation</a>
        }
    </div>
</div>
@if (Model.StatusID >= SnapSuite.Models.QuotationStatusValues.ACCEPTED || Model.StripeIsPaid)
{
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-success">
                <div class="panel-heading" style="text-align:center">
                    <h4 style="color:@Model.StatusHexColour">@Model.StatusDescription</h4>
                </div>
                @if (Model.StatusID >= SnapSuite.Models.QuotationStatusValues.ACCEPTED && Model.StripePaymentEnabled && !Model.StripeIsPaid && !Model.NeedsCheckedClientSubmission)
                {
                    <div class="panel-body" style="text-align:center">
                        <h3>@((!string.IsNullOrEmpty(Model.StripeDescription)) ? Model.StripeDescription : "Quotation Payment") Payment</h3>
                        <h4 class="grey-text">Make the payment of @(string.Format("{0}{1:#,##0.00}", Model.CurrencySymbol, Model.StripeAmount)) using your credit or debit card. </h4>
                        <form action="@Url.Action("CompleteStripePayment", "QuotationReview")" method="POST">
                            @Html.Hidden("ID", Model.ID)                            
                            @Html.Hidden("Jasq", Model.CheckSum)
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="@Model.StripeKey"
                                    data-amount="@string.Format("{0}", (int)(Model.StripeAmount * 100m))"
                                    data-name="@Model.CompanyName"
                                    data-description="@Model.StripeDescription"
                                    data-image="@Model.CompanyImageURL"
                                    data-locale="auto"
                                    data-currency="@Model.StripeCurrency"
                                    data-billing-address="true"
                                    data-zip-code="true">
                            </script>
                        </form>
                    </div>
                }
                else if (Model.StripeIsPaid && !Model.NeedsCheckedClientSubmission)
                {
                    <div class="panel-body" style="text-align:center">
                        <h3>@((!string.IsNullOrEmpty(Model.StripeDescription)) ? Model.StripeDescription : "Quotation Payment") Paid</h3>
                        <h5 class="grey-text">A payment of @(string.Format("{0}{1:#,##0.00}", Model.CurrencySymbol, Model.StripeAmount)) was made on @Model.StripeCreated</h5>
                    </div>
                }
            </div>
        </div>
    </div>
}




<div id="divPDFView" class="row">
    <div class="col-sm-12">
        <hr /> 
    </div> 
    
    <div class="@((Model.Attachments.Count > 0) ? "col-sm-8" : "col-sm-12")"> 

        @if (!Request.UserAgent.ToLower().Contains("iphone") && !Request.UserAgent.ToLower().Contains("ipad"))
        {
            <object class="pdf-scroller" data="@Url.Action("_GenerateQuotationPDF", "QuotationPreview", new { id = Model.ID, checksum = Model.CheckSum })" type="application/pdf" style="width:100%; height:1000px">
                <div class="alert alert-danger" role="alert"><strong><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Unable to load PDF Preview. Please make sure your browser has a PDF viewer plugin installed.</strong></div>
            </object>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-body" style="margin-top:75px; margin-bottom:75px; text-align:center">
                    <a class="btn btn-lg btn-success" href="@Url.Action("_GenerateQuotationPDF", "QuotationPreview", new { id = Model.ID, checksum = Model.CheckSum })" style="display:block; margin-left:auto; margin-right:auto; max-width:300px;">
                        <span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp;Download PDF
                    </a>
                    <br />
                    <label>Your browser does not support embedded PDFs. Please click the button above to download the PDF.</label>
                </div>
            </div>
        }
    </div>
   

    @if (Model.Attachments.Count > 0)
    {
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Attachments</h4>
                    <hr />
                    @foreach (var a in Model.Attachments.Where(a => a.File.FileFormat == "Image"))
                    {
                        <a class="popup-image" target="_blank" href="@a.File.FilePath" download="@a.Filename" title="@a.Filename" style="text-decoration: none; display:inline-block; margin:5px">
                            <img src="@a.File.FilePath" class="img-rounded" style="height: 100px; width: 100px;" />
                        </a>
                    }
                    @foreach (var a in Model.Attachments.Where(a => a.File.FileFormat != "Image"))
                    {
                        <br />
                        <a class="popup-image" target="_blank" href="@a.File.FilePath" download="@a.Filename" title="@a.Filename" style="text-decoration: none">
                            <span class="glyphicon glyphicon-paperclip" style="font-size: large; margin: 10px;"></span>@a.Filename
                        </a>
                    }
                </div>
            </div>
        </div>
    }
</div>


@if (!Model.HasAgreement)
{

    <a id="Button_Close_Content" class="btn btn-background" onclick="HideViews()" style="z-index:1105; display:none;"></a>

    <div id="Content_Agreement" class="panel panel-default" style="z-index: 2130; position: absolute; width: 96%; max-width:500px; display: none; top: 10px; right:0; left:0; margin:auto; margin-top:30px; margin-bottom:-30px;">
        <div class="panel-heading">
            <h4 style="display:inline-block">Accept Quotation</h4>
            <a class="btn btn-default" href="#" onclick="HideViews()" style="float:right"><span class="glyphicon glyphicon-remove"></span>Close</a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    @Html.Action("_AcceptReject", "QuotationAgreements", new { ID = Model.ID, Jasq = Model.CheckSum })
                </div>
            </div>
        </div>
    </div>

    <script>
        function SubmitAgreement(){
            $("#Content_Agreement").fadeIn();
            $("#Button_Close_Content").fadeIn();
            $("#divPDFView").fadeOut();
        }

        function HideViews(){
            $("#Content_Agreement").fadeOut();
            $("#Button_Close_Content").fadeOut();
            $("#divPDFView").fadeIn();
        }
    </script>

}


@if (ViewBag.SavedDraftID != null && ViewBag.SavedDraftCheckSum != null && Model.StatusID < SnapSuite.Models.QuotationStatusValues.ACCEPTED)
{
    <div id="myCustomQuotationModel" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myCustomQuotationModel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content" style="padding:15px; text-align:center; align-items:center">
                <h4>Saved Custom Quotation</h4>
                <hr />
                <p>A saved custom version the quotation has been found. Please click here to continue editing.</p>
                <a id="Button_Customize" class="btn btn-info" style="margin: 4px; text-align:center" href="@Url.Action("Customize", new { ID = ViewBag.SavedDraftID, Jasq = ViewBag.SavedDraftCheckSum })"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;&nbsp;Edit Customized Quotation</a>
            </div>
        </div>
    </div>

    <script>
        setTimeout(function(){
            $('#myCustomQuotationModel').modal('show');
        },1000);
    </script>
}
