﻿@{
    ViewBag.Title = "Custom Quotation Submitted for Review";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>@ViewBag.Title</h1>
            <hr />
            <p class="text-default">
                Thank you for submitting you custom quotation for review.
                <br />
                Someone will be in contact shortly.
            </p>
        </div>
    </div>
</div>
<div class="row">

</div>