﻿@{
    ViewBag.Title = "Edit Product Settings";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="col-sm-8">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-sm-12">
            <hr />
        </div>
        
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Labour Rates</h5>
                    <a class="btn btn-info btn-sm" onclick="$('#GridLabour').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Labour</a>
                    @(Html.Kendo().Grid<SnapSuite.Models.LabourViewModel>()
                        .Name("GridLabour")
                        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Labour").Empty("No Labour Added")))
                        .Columns(columns =>
                        {
                            columns.Bound(a => a.Description).Title("Description");
                            columns.Bound(p => p.Currency).ClientTemplate("#=Currency.Name#").EditorTemplateName("CurrencyDropDown").Width("1%");
                            columns.Bound(p => p.HourlyRate).Title("HourlyRate").Format("{0:#,##0.#0}").Width("20%");
                            columns.Command(command =>
                            {
                                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                            }
                            ).Width("90px");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this attachment?"))
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            //.Sort(sort => sort.Add("FirstName").Ascending()) // <-- initial sort expression
                            .Model(model =>
                            {
                                model.Id(a => a.ID);
                                model.Field(a => a.ID).Editable(false);
                                model.Field(a => a.Currency).Editable(true).DefaultValue(new SnapSuite.Models.CurrencyViewModel { ID = 0, Name = "", Symbol = "" });
                            })
                            .Read(read => read.Action("Read", "Labour"))
                            .Create(create => create.Action("Create", "Labour"))
                            .Update(update => update.Action("Update", "Labour"))
                            .Destroy(destroy => destroy.Action("Destroy", "Labour"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                    )
                </div>
            </div>
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>Custom Product Fields</h5>
                    <a class="btn btn-info btn-sm" onclick="$('#GridCustomProductField').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Custom Product Field</a>
                    @(Html.Kendo().Grid<SnapSuite.Models.CustomProductFieldViewModel>()
                        .Name("GridCustomProductField")
                        .Pageable(p => p.PageSizes(new[] { 25, 50, 100 }).Messages(m => m.Display("{0} - {1} of {2} Custom Product Field").Empty("No Custom Product Field Added")))
                        .Columns(columns =>
                        {
                            columns.Bound(u => u.ID).Title(" ").ClientTemplate("<span class='fa fa-sort glyphicon-btn' style='cursor:move'></span>").HtmlAttributes(new { @class = "sortable-cell" }).EditorTemplateName("BlankTemplate").Width("1%");
                            columns.Bound(a => a.Name).Title("Tag Name");
                            columns.Bound(a => a.Label).Title("Label Name on Screen");
                            columns.Bound(a => a.ShowMainList).Title("Show On Products List").ClientTemplate("#if(ShowMainList){# <span class='glyphicon glyphicon-ok'></span> #}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                            columns.Command(command =>
                            {
                                command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                                command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                            }
                            ).Width("90px");
                        })
                        .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this custom field?").CreateAt(GridInsertRowPosition.Bottom))
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(a => a.ID);
                                model.Field(a => a.ID).Editable(false);
                                model.Field(a => a.Name);
                                model.Field(a => a.ShowMainList).DefaultValue(true);
                            })
                            .Read(read => read.Action("Read", "CustomProductFields"))
                            .Create(create => create.Action("Create", "CustomProductFields"))
                            .Update(update => update.Action("Update", "CustomProductFields"))
                            .Destroy(destroy => destroy.Action("Destroy", "CustomProductFields"))
                            .Events(events => events.Error("OnKendoGridError"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                    )
                    <hr />
                    <label>Important Notes:</label>
                    <p>The following custom fields will appear on the your Products module and any Line Items in Quotations, Jobs, Invoices, Delivery Notes and Purchase Orders.</p>
                    <p>When creating a PDF template, line items custom fields must be preceded by the word "Item" using the tag format {ItemCustomFieldName}.</p>
                    <p><i><strong>Example:</strong>&nbsp;For the custom field VendorCode, the tag should be {ItemVendorCode}.</i></p>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    th, td {
        padding: 2px;
    }

    .form-control {
        max-width: none;
        width: 90%;
    }
</style>

<script>

    function OnKendoGridError(e, status) {
        var grid = $('#GridCustomProductField').data('kendoGrid');
        grid.one("dataBinding", function (x) {  x.preventDefault(); });
        if (e.status === "customerror") {  alert(e.errors); }
        else { alert("Unknown Error: A server error has occurred."); }
    }

    $(".k-grid[id='GridCustomProductField'] table").kendoSortable({
            //connectWith: ".k-grid[id*='GridItems'] table",
            filter: ">tbody >tr:not('.k-grid-edit-row')", ignore: "td:not('.sortable-cell'), td:not('.sortable-cell') *",
            disabled: ".no-drag", //do not allow transferring the no records row
            hint: $.noop,
            cursor: "move",
            placeholder: function (element) {
                return element.clone().addClass("k-state-hover").css("opacity", 0.65);
            },
            change: function (e) { //change event handler implementation may differ according to the scenario
                //var grid = this.element.closest(".k-grid").data("kendoGrid");
                var dataItem = $('#GridCustomProductField').data('kendoGrid').dataSource.getByUid(e.item.data("uid"));
                $.ajax({
                    url: '@Url.Action("_UpdateItemPositions", "CustomProductFields")',
                    type: 'POST',
                    data: {
                        itemID: dataItem.ID,
                        oldIndex: e.oldIndex,
                        newindex: e.newIndex,
                    },
                    dataType: "json",
                    success: function (data) { RefreshKitItems(); }
                });
            },
            move: function (e) { }
        });
</script>
