﻿@using SnapSuite.Models
@{
    ViewBag.Title = "Change Subscription";
}

<style>
    .panel table tr td {
        padding-top: 10px;
        vertical-align: middle;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Change Subscription</h2>
            <h4 style="color:grey">Select your new subscription plan:</h4>
            <hr />
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading" style="padding:5px; text-align:center">
                    <h4>Quotations - One</h4>
                    <span style="font-size:50px">£15</span> <br />
                    <p style="font-size:small"><i>per month + Tax</i></p>
                </div>
                <div class="panel-body">                            
                    <table>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>One user account</span></td>
                        </tr>
                        <tr>
                            <td style="width:25px"><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes CRM & Products</span></td>
                        </tr>
                        <tr>
                            <td style="width:30px"><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Workflows</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Quotations & unlimited quotes</span></td>
                        </tr>                        
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Teams and Access Control</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Jobs & unlimited jobs</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Invoices & unlimited invoices</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Delivery Notes & unlimited delivery notes</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Purchase Orders & unlimited purchase orders</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Stock Control</span></td>
                        </tr>
                    </table>
                    <br />
                    <a class="btn btn-info" style="width:100%" href="@Url.Action("Confirm", new { type = SubscriptionPlanType.OneQuotations })"><strong>Choose Subscription Plan</strong></a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="padding:5px; text-align:center">
                    <h4>Quotations - Team</h4>
                    <span style="font-size:50px">£29</span> <br />
                    <p style="font-size:small"><i>per month + Tax</i></p>
                </div>
                <div class="panel-heading" style="background-color:gold; text-align:center;">
                    <span style="color:mediumpurple"><strong>Most Popular</strong></span>
                </div>
                <div class="panel-body">                            
                    <table>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Five user accounts</span></td>
                        </tr>
                        <tr>
                            <td style="width:25px"><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes CRM & Products</span></td>
                        </tr>
                        <tr>
                            <td style="width:30px"><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Workflows</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Quotations & unlimited quotes</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Teams and Access Control</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Jobs & unlimited jobs</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Invoices & unlimited invoices</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Delivery Notes & unlimited delivery notes</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Purchase Orders & unlimited purchase orders</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Stock Control</span></td>
                        </tr>
                    </table>
                    <br />
                    <a class="btn btn-primary" style="width:100%" href="@Url.Action("Confirm", new { type = SubscriptionPlanType.FiveQuotations })"><strong>Choose Subscription Plan</strong></a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading" style="padding:5px; text-align:center">
                    <h4>Everything - One</h4>
                    <span style="font-size:50px">£59</span> <br />
                    <p style="font-size:small"><i>per month + Tax</i></p>
                </div>
                <div class="panel-body">                            
                    <table>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>One user accounts</span></td>
                        </tr>
                        <tr>
                            <td style="width:25px"><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes CRM & Products</span></td>
                        </tr>
                        <tr>
                            <td style="width:30px"><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Workflows</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Quotations & unlimited quotes</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Jobs & unlimited jobs</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Invoices & unlimited invoices</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Delivery Notes & unlimited delivery notes</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Purchase Orders & unlimited purchase orders</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Stock Control</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ban-circle grey-text"></span></td>
                            <td><span class="grey-text">Includes Teams and Access Control</span></td>
                        </tr>
                    </table>
                    <br />
                    <a class="btn btn-info" style="width:100%" href="@Url.Action("Confirm", new { type = SubscriptionPlanType.OneEverything })"><strong>Choose Subscription Plan</strong></a>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading" style="padding:5px; text-align:center">
                    <h4>Everything - Team</h4>
                    <span style="font-size:50px">£99</span> <br />
                    <p style="font-size:small"><i>per month + Tax</i></p>
                </div>
                <div class="panel-body">                            
                    <table>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Five user accounts</span></td>
                        </tr>
                        <tr>
                            <td style="width:25px"><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes CRM & Products</span></td>
                        </tr>
                        <tr>
                            <td style="width:30px"><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Workflows</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Teams and Access Control</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Quotations & unlimited quotes</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Jobs & unlimited jobs</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Invoices & unlimited invoices</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Delivery Notes & unlimited delivery notes</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Purchase Orders & unlimited purchase orders</span></td>
                        </tr>
                        <tr>
                            <td><span class="glyphicon glyphicon-ok-circle green-text"></span></td>
                            <td><span>Includes Stock Control</span></td>
                        </tr>
                    </table>
                    <br />
                    <a class="btn btn-info" style="width:100%" href="@Url.Action("Confirm", new { type = SubscriptionPlanType.FiveEverything })"><strong>Choose Subscription Plan</strong></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <hr />
            <h4>Mix and Match Modules</h4>
            <p>Only want to just use one or two or three tools, such as Quotes and Invoicing? Or maybe you need more than five user accounts?</p>
            <p>We can give you a customised price. <a href="https://quikflw.com/Contact" target="_blank">Contact us for more information.</a>
            <hr />
            <img src="/Content/icons/visa.png" style="margin:3px;" border="0" alt="Visa Credit payments supported by Worldpay">
            <img src="/Content/icons/visa debit.png" style="margin:3px;" border="0" alt="Visa Debit payments supported by Worldpay">
            <img src="/Content/icons/visa electron.png" style="margin:3px;" border="0" alt="Visa Electron payments supported by Worldpay">
            <img src="/Content/icons/mastercard.png" style="margin:3px;" border="0" alt="Mastercard payments supported by Worldpay">
            <img src="/Content/icons/maestro.png" style="margin:3px;" border="0" alt="Maestro payments supported by Worldpay">
            <img src="/Content/icons/amex.png" style="margin:3px;" border="0" alt="American Express payments supported by Worldpay">
            <img src="/Content/icons/jcb.png" style="margin:3px;" border="0" alt="JCB payments supported by Worldpay">
        </div>
    </div>
</div>
