﻿@model SnapSuite.Models.SubscriptionCartItemViewModel
@{
    ViewBag.Title = "Confirm Subscription Purchase";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Confirm Subscription Purchase</h2>
            <hr />
            <div class="panel panel-primary">
                <div class="panel-body">
                    @*<form action="https://secure-test.worldpay.com/wcc/purchase" method=post>*@
                    <form action="https://secure.worldpay.com/wcc/purchase" method=POST>
                        @*<input type="hidden" name="testMode" value="100">*@
                        <input type="hidden" name="instId" value="1155755">
                        <input type="hidden" name="cartId" value="@Model.CartID">
                        <input type="hidden" name="MC_companyId" value="@Model.CompanyID">
                        <input type="hidden" name="currency" value="GBP">
                        <input type="hidden" name="desc" value="@Model.Name">
                        <input type="hidden" name=futurePayType value="regular">
                        <input type="hidden" name=option value=1>
                        <input type="hidden" name=startDelayMult value=1>
                        <input type="hidden" name=startDelayUnit value=3>
                        <input type="hidden" name=noOfPayments value=0>
                        <input type="hidden" name=intervalMult value=1>
                        <input type="hidden" name=intervalUnit value=3>
                        <input type="hidden" name="amount" value=@string.Format("{0:0.00}", Model.RegularAmount)>
                        <input type="hidden" name=normalAmount value=@string.Format("{0:0.00}", Model.RegularAmount)>
                        <input type="hidden" name=initialAmount value=@string.Format("{0:0.00}", Model.InitialAmount)>
                        <input type="hidden" name="signature" value="@Model.MD5Hash">


                        <h4>@Model.Name</h4>
                        <p style="white-space:pre-line">@Model.Description</p>
                        <hr />
                        <label>Selected Modules:</label><br />
                        @if (Model.NumberCRM > 0)
                        {
                            <strong>@(Model.NumberCRM) CRM (Clients Database) users.</strong><br />
                        }
                        @if (Model.NumberProducts > 0)
                        {
                            <strong>@(Model.NumberProducts) Products users.</strong><br />
                        }
                        @if (Model.NumberQuotations > 0)
                        {
                            <strong>@(Model.NumberQuotations) Quotations users.</strong><br />
                        }
                        @if (Model.NumberJobs > 0)
                        {
                            <strong>@(Model.NumberJobs) Jobs users.</strong><br />
                        }
                        @if (Model.NumberDeliveryNotes > 0)
                        {
                            <strong>@(Model.NumberDeliveryNotes) Delivery Notes users.</strong><br />
                        }
                        @if (Model.NumberInvoices > 0)
                        {
                            <strong>@(Model.NumberInvoices) Invoices users.</strong><br />
                        }
                        @if (Model.NumberPurchaseOrders > 0)
                        {
                            <strong>@(Model.NumberPurchaseOrders) Purchase Orders users.</strong><br />
                        }
                        @if (Model.NumberStockControl > 0)
                        {
                            <strong>@(Model.NumberStockControl) Stock Control users.</strong><br />
                        }
                        @if (Model.EnableTeamManagement)
                        {
                            <strong>Team & User Access Management</strong><br />
                        }
                        <hr />
                        @if (Model.DiscountAmount > 0)
                        {
                            <p style="color:green;"><strong>Discount:</strong> @string.Format("{0:£#,##0.#0}", Model.DiscountAmount)&nbsp;&nbsp;&nbsp;<span style="font-size:x-small">@string.Format("{0:£#,##0.#0} excluding Tax", Model.DiscountAmount / 1.2m)</span></p>
                        }
                        <p><strong>Initial Amount:</strong> @string.Format("{0:£#,##0.#0}", Model.InitialAmount) &nbsp;&nbsp;&nbsp;<span style="font-size:x-small">@string.Format("{0:£#,##0.#0} excluding Tax", Model.InitialAmount / 1.2m)</span></p>
                        <p><strong>Regular Amount:</strong> @string.Format("{0:£#,##0.#0}", Model.RegularAmount) &nbsp;&nbsp;&nbsp;<span style="font-size:x-small">@string.Format("{0:£#,##0.#0} excluding Tax", Model.RegularAmount / 1.2m)</span></p>

                        <hr />
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> &nbsp;&nbsp;Purchase Subscription</button>
                        &nbsp;
                        <a class="btn btn-danger" href="@Url.Action("Index")">Cancel</a>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <img src="/Content/icons/visa.png" style="margin:3px;" border="0" alt="Visa Credit payments supported by Worldpay">
            <img src="/Content/icons/visa debit.png" style="margin:3px;" border="0" alt="Visa Debit payments supported by Worldpay">
            <img src="/Content/icons/visa electron.png" style="margin:3px;" border="0" alt="Visa Electron payments supported by Worldpay">
            <img src="/Content/icons/mastercard.png" style="margin:3px;" border="0" alt="Mastercard payments supported by Worldpay">
            <img src="/Content/icons/maestro.png" style="margin:3px;" border="0" alt="Maestro payments supported by Worldpay">
            <img src="/Content/icons/amex.png" style="margin:3px;" border="0" alt="American Express payments supported by Worldpay">
            <img src="/Content/icons/jcb.png" style="margin:3px;" border="0" alt="JCB payments supported by Worldpay">
        </div>
    </div>
</div>

