﻿@model SnapSuite.Models.SubscriptionPlanViewModel
@{
    ViewBag.Title = "Subscription Details";
}

<div class="container">
    <div class="row">      
        <div class="col-sm-12">
            <h1>Your Subscription Details</h1>
            <hr />
        </div>  
        <div class="col-sm-6">
            @if (string.IsNullOrEmpty(Model.ID))
            {
                <div class="panel panel-info">
                    <div class="panel-body">
                        <h4>No Subscription Found</h4>
                        <p>No Subscription Detailsrmation has been found. Please signup for a subscription or contact us.</p>
                        <hr />
                        <a class="btn btn-success" href="@Url.Action("Change")"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Add Subscription Plan</a>
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>@Model.Name</h3>
                                <h5 style="color:darkgray">@Model.Description</h5>
                                <hr />
                                @if (Model.NumberCRM > 0)
                                {
                                    <strong>@(Model.NumberCRM) CRM (Clients Database) users.</strong><br />
                                }
                                @if (Model.NumberProducts > 0)
                                {
                                    <strong>@(Model.NumberProducts) Products users.</strong><br />
                                }
                                @if (Model.NumberQuotations > 0)
                                {
                                    <strong>@(Model.NumberQuotations) Quotations users.</strong><br />
                                }
                                @if (Model.NumberJobs > 0)
                                {
                                    <strong>@(Model.NumberJobs) Jobs users.</strong><br />
                                }
                                @if (Model.NumberDeliveryNotes > 0)
                                {
                                    <strong>@(Model.NumberDeliveryNotes) Delivery Notes users.</strong><br />
                                }
                                @if (Model.NumberInvoices > 0)
                                {
                                    <strong>@(Model.NumberInvoices) Invoices users.</strong><br />
                                }
                                @if (Model.NumberPurchaseOrders > 0)
                                {
                                    <strong>@(Model.NumberPurchaseOrders) Purchase Orders users.</strong><br />
                                }
                                @if (Model.NumberStockControl > 0)
                                {
                                    <strong>@(Model.NumberStockControl) Stock Control users.</strong><br />
                                }
                                @if (Model.EnableTeamManagement)
                                {
                                    <strong>Team & User Access Management</strong><br />
                                }
                                <hr />
                            </div>

                            <div class="col-sm-6">
                                <p><strong>Initial Amount:</strong> @string.Format("{0:£#,##0.#0}", Model.InitialAmount)</p>
                                <p><strong>Regular Amount:</strong> @string.Format("{0:£#,##0.#0}", Model.RegularAmount)</p>
                            </div>
                            <div class="col-sm-6">
                                <p><strong>Worldpay Reference:</strong> @Model.CartID</p>
                                <p><strong>Created:</strong> @Model.Created.ToString("dd/MM/yyyy")</p>
                                @if (Model.Active)
                                {
                                    <p><strong>Next Payment Date:</strong> @Model.EndDate.ToString("dd/MM/yyyy")</p>
                                    <p><strong>Active:</strong> <strong style="color:green">YES</strong></p>
                                }
                                else
                                {
                                    <p><strong>End Date:</strong> @Model.EndDate.ToString("dd/MM/yyyy")</p>
                                    <p><strong>Active:</strong> <strong style="color:red">NO</strong></p>
                                }
                            </div>
                            <div class="col-sm-12">
                                <hr />
                                @if (Model.Trial || !Model.Active || Model.EndDate <= DateTime.Today)
                                {
                                    <a class="btn btn-success" href="@Url.Action("Change")"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Change Subscription Plan</a>
                                }
                                else
                                {
                                    <a class="btn btn-danger" href="@Url.Action("RequestCancel")"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;&nbsp;Request Cancellation</a>
                                }
                                <a href="http://www.worldpay.com/" target="_blank" style="float:right" title="Payment Processing - Worldpay - Opens in new browser window"><img src="http://www.worldpay.com/images/poweredByWorldPay.gif" border="0" alt="Worldpay Payments Processing"></a>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <br />
            <br />
        </div>
        <div class="col-sm-6">
            <h4>Important Information:</h4>
            <p>All subscription billing is handled via <a href="http://www.worldpay.com/uk" target="_blank">WorldPay.</a></p>
            <p>Before you can change you subscription plan you must cancel any active plans currently have.</p>
            <p>To cancel your existing plan, please contact us via request form. Or alternatively by using your existing Worldpay login here.</p>
            <p>Please try submit your cancellation request at least 7 Days before your next billing date.</p>
            <br />
            <hr />
            <h4>Billing History</h4>
            @(Html.Kendo().Grid<SnapSuite.Models.SubscriptionPlanPaymentViewModel>()
                .Name("GridPayments")
                .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Payments").Empty("No Payments Found")))
                .Columns(columns =>
                {
                    columns.Bound(p => p.Timestamp).ClientTemplate("<span class='label label-info'>#=kendo.toString(Timestamp, 'HH:mm  dd/MM/yy')#</span>").Width("1%");
                    columns.Bound(p => p.Description);
                    columns.Bound(p => p.Currency).Width("1%");
                    columns.Bound(p => p.Amount).ClientTemplate("#=kendo.toString(Amount, 'n')#").Width("1%");
                })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .Sort(sort => sort.Add("Timestamp").Descending()) // <-- initial sort expression
                    .Model(model =>
                    {
                        model.Id(l => l.ID);                        
                    })                    
                    .Read(read => read.Action("Read", "SubscriptionPlanPayments", new { cID = Model.CompanyID })).PageSize(10)                    
                )
                .Events(events => events.DataBound("KendoGridDatabound"))
            )
        </div>


    </div>
</div>

