﻿@model SnapSuite.Models.SubscriptionRequestViewModel
@{
    ViewBag.Title = "Cancel Subscription";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <h1>Cancel Subscription Request</h1>
            <hr />
            @using (Html.BeginForm("RequestCancel", "Subscription", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CompanyID)
                @Html.HiddenFor(m => m.CompanyName)
                @Html.HiddenFor(m => m.Timestamp)
                <label>Business Name:</label><br />
                @Html.Kendo().TextBoxFor(m => m.CompanyName).Enable(false).HtmlAttributes(new { style = "width: 100%; max-width: none;" });
                <br />
                <br />
                    
                <label>Email:</label><br />
                @Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { style = "width: 100%; max-width: none;" });
                <br />
                <br />
                
                <label>Message:</label><br />
                @Html.TextAreaFor(m => m.Message, 3, 100, new { @class = "form-control", @placeholder = "Enter message here", @style = "width:100%; max-width:none; margin-bottom:10px;" })
                    
                <hr />
                    
                <button type="submit" value="Confirm" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> &nbsp;&nbsp;Submit Request</button> 
                <a class="btn btn-danger" href="@Url.Action("Index")"><span class="glyphicon glyphicon-remove"></span> &nbsp;&nbsp;Cancel</a>                    
            }
        </div>
    </div>
</div>
