﻿@model SnapSuite.Models.OpportunityTypeViewModel

<script>
    function OnSaveOpportunitySuccess() {
        $('#Modal1').modal('hide');
        location.reload();
    }
</script>

<div id="divEditOpportunityType">
        
    @using (Ajax.BeginForm("_EditOpportunityType", "PipelineSettings", null, new AjaxOptions { UpdateTargetId = "divEditOpportunityType", OnSuccess = "OnSaveOpportunitySuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()        
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="row form-table">   
            <div class="col-sm-12">
                <table>
                    <tr>
                        <td><label>Name: &nbsp;</label></td>
                        <td>
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Type Name" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color: red" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Value1: &nbsp;</label></td>
                        <td>
                            @Html.TextBoxFor(m => m.LabelValue1, new { @class = "form-control", @placeholder = "Type Name" })
                            @Html.ValidationMessageFor(m => m.LabelValue1, "", new { @style = "color: red" })
                        </td>
                    </tr>
                    <tr>
                        <td><label>Value2: &nbsp;</label></td>
                        <td>
                            @Html.TextBoxFor(m => m.LabelValue2, new { @class = "form-control", @placeholder = "Type Name" })
                            @Html.ValidationMessageFor(m => m.LabelValue2, "", new { @style = "color: red" })
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-12">
                <br />
                <div class="pull-right">
                    <input type="submit" value="Save" class="btn btn-inverse">
                </div>
            </div>
        </div>
    }
    
</div>
