﻿@model SnapSuite.Models.OpportunityStatusViewModel

<script>
    function OnSaveStatusSuccess() {
        $('#ListBox_' + '@Model.OpportunityTypeID').data('kendoListBox').dataSource.read();
        $('#Modal1').modal('hide');
    }
</script>

<div id="divNewStatus">
        
    @using (Ajax.BeginForm("_NewStatus", "PipelineSettings", null, new AjaxOptions { UpdateTargetId = "divNewStatus", OnSuccess = "OnSaveStatusSuccess" }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()        
        //@Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OpportunityTypeID)
        @Html.HiddenFor(model => model.SortPos)

        <div class="row">   
            <div class="col-sm-12">
                @Html.TextBoxFor(m => m.Name, new{ @class = "form-control", @placeholder = "Status Name" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @style= "color: red"})
            </div>
            <div class="col-sm-12">
                <br />
                <div class="pull-right">
                    <input type="submit" value="Save" class="btn btn-inverse">
                </div>
            </div>
        </div>
    }
    
</div>
