﻿@model SnapSuite.Models.OpportunitySettingViewModel
@{
    ViewBag.Title = "Edit Workflow Pipeline Types";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
        <div class="col-sm-12">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="col-xs-12">
            <br />
        </div>
        <div class="col-xs-12">
            <a class="btn btn-primary" onclick="NewOppType();"><span class="fa fa-cube"></span>&nbsp;&nbsp;New Pipeline Type</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="col-sm-12">
            @foreach (var opportunityType in @Model.OpportunityTypes)
            {
                <div class="panel panel-info panel-status" style="display: inline-block; margin-left:10px; width:300px;">
                    <div class="panel-heading div-inline">
                        <span onclick="EditOppType('@opportunityType.ID')" style="cursor: pointer;">@opportunityType.Name</span>
                        <div class="btn btn-xs" title="New Status" onclick="NewStatus('@opportunityType.ID')"><span class="glyphicon glyphicon-plus" style="margin-bottom: 6px;"></span></div>
                        <div class="btn btn-xs pull-right" title="Remove Type" onclick="RemoveOppType('@opportunityType.ID')" style="margin-top: -33px; margin-right: -15px; color:darkred;"><span class="glyphicon glyphicon-remove" style="margin-bottom: 6px;"></span></div>
                    </div>
                    <div class="panel-body" style="padding:0;">

                        @(Html.Kendo().ListBox()
                                      .Name("ListBox_" + opportunityType.ID)
                                      .DataValueField("ID")
                                      .DataTextField("Name")
                                      .TemplateId("List-Status-template")
                                      .Draggable(true)
                                      .Toolbar(toolbar =>
                                      {
                                          toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
                                          toolbar.Tools(tools => tools.MoveUp()
                                                                      .MoveDown()
                                                                      .Remove());
                                      })
                                      .DataSource(dataSource =>
                                          dataSource.Read(read => read.Action("DropDownOpportunityStatuses", "OpportunityStatuses", new { oppTypeID = opportunityType.ID }))
                                      )
                                      .Selectable(ListBoxSelectable.Single)
                                      .HtmlAttributes(new { @style = "width:100%; height:300px; border:none;", @data_id = opportunityType.ID, @data_name = opportunityType.Name })
                                      .Events(events => events.Reorder("OnReorder")
                                                              .Add("OnAdd")
                                                              .Remove("OnRemove")
                                      )
                        )
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<div class="modal fade" id="Modal1">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title div-inline">Edit Status</h2>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal2">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title div-inline">Pipeline Type</h2>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<script id="List-Status-template" type="text/x-kendo-template">
    <div class="div-inline" style="cursor: pointer; background-color: \\#ebeee5; border-radius: 5px; padding: 5px; box-shadow: 3px 5px lightgrey;">
        <span onclick="EditStatus('#=data.ID#')" style="font-size:15px; color: black; ">
            #=data.Name#<br />
        </span>
    </div>
</script>

<script>
    function OnReorder(e) {
        $.ajax({
            url: '/OpportunityStatuses/Reorder',
            type: 'POST',
            data: {
                statusID: e.dataItems[0].ID,
                offset: e.offset
            },
            success: function(response) {
            }
        });
    }

    function EditStatus(id) {
        $.ajax({
            url: '/PipelineSettings/_EditStatus',
            type: 'GET',
            data: {
                statusID: id
            },
            success: function(response) {
                $('#Modal1 .modal-body').html(response);
                $('#Modal1').modal('show');
            }
        });
    }

    function OnAdd(e) {
    }

    function OnRemove(e) {
        e.preventDefault();
        $.ajax({
            url: '/OpportunityStatuses/Remove',
            type: 'POST',
            data: {
                statusID: e.dataItems[0].ID
            },
            success: function(response) {
                if (response.Status == 'Success') {
                    e.sender.dataSource.read();
                } else {
                    alert(response.ErrorMessage);
                }
            }
        });
    }

    function NewStatus(oppTypeID) {
        $.ajax({
            url: '/PipelineSettings/_NewStatus',
            type: 'GET',
            data: {
                oppTypeID: oppTypeID
            },
            success: function(response) {
                $('#Modal1 .modal-body').html(response);
                $('#Modal1').modal('show');
            }
        });
    }

    function NewOppType() {
        $.ajax({
            url: '/PipelineSettings/_NewOpportunityType',
            type: 'GET',
            success: function(response) {
                $('#Modal2 .modal-body').html(response);
                $('#Modal2').modal('show');
            }
        });
    }

    function EditOppType(id) {
        $.ajax({
            url: '/PipelineSettings/_EditOpportunityType',
            type: 'GET',
            data: {
                oppTypeID: id
            },
            success: function(response) {
                $('#Modal2 .modal-body').html(response);
                $('#Modal2').modal('show');
            }
        });
    }

    function RemoveOppType(id) {
        $.ajax({
            url: '/OpportunityTypes/Remove',
            type: 'POST',
            data: {
                oppTypeID: id
            },
            success: function(response) {
                if (response.Status == 'Success') {
                    location.reload();
                } else {
                    alert(response.ErrorMessage);
                }
            }
        });
    }
</script>

<style>
    .k-listbox li {
        margin-top: 10px;
    }

    .k-listbox .k-state-selected {
        color: transparent;
        background-color: transparent;
        border-color: transparent;
    }

    .k-listbox .k-state-selected div {
        background-color: #217dbb !important;
        box-shadow: 3px 5px #50a9e5 !important;
    }

    .panel-status, .panel-status .k-listbox .k-list-scroller {
        border: 0 !important;
    }
</style>