﻿@model SnapSuite.Models.ClientAddressViewModel


<div class="form-table" style="margin:20px; margin-top:0; -webkit-box-sizing: border-box; box-sizing: border-box;">

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.ClientID)
    @Html.HiddenFor(m => m.ClientName)
    <table style="width:100%">        
        <tr>
            <td><label>Name:</label></td>
            <td>
               @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name", @style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><label>Address 1:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control", @placeholder = "Address 1", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Address 2:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @placeholder = "Address 2", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Address 3:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Address3, new { @class = "form-control", @placeholder = "Address 3", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Town:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Town, new { @class = "form-control", @placeholder = "Town", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>County:</label></td>
            <td>
                @Html.TextBoxFor(model => model.County, new { @class = "form-control", @placeholder = "County", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Postcode:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Postcode, new { @class = "form-control", @placeholder = "Postcode", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Country:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Country, new { @class = "form-control", @placeholder = "Country", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Telephone:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Mobile:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @style = "width:100%;" })
            </td>
        </tr>
    </table>
    

</div>





