﻿@model SnapSuite.Models.ClientContactViewModel


<div class="form-table" style="margin:20px; margin-top:0; -webkit-box-sizing: border-box; box-sizing: border-box;">

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.ClientID)
    @Html.HiddenFor(m => m.ClientName)
    <table>        
        <tr>
            <td><label>First Name:</label></td>
            <td>
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name", @style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><label>Last Name:</label></td>
            <td>
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Position:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Position, new { @class = "form-control", @placeholder = "Position", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>DDI:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Telephone, new { @class = "form-control", @placeholder = "Telephone", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Mobile:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @placeholder = "Mobile", @style = "width:100%;" })
            </td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email", @style = "width:100%;" })
            </td>
        </tr>
    </table>
    

</div>





