﻿
@{
    ViewBag.Title = "User Modules";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success">
                    @ViewBag.SuccessMessage
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h1>User Modules</h1>
            <h4 style="color:grey">Assign users to grant access specific Quikflw modules.</h4>
        </div>
        <div class="col-sm-6">
            <br />
            <a class="btn btn-default hidden-xs" style="float:right" href="~/Users/"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back To Users</a>
        </div>

        <div class="col-sm-12">
            <hr />            
        </div>
        
        <div class="col-sm-6">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <label>CRM</label>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("DD_UserCRM")
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .OptionLabel("  ")
                            .Filter("Contains")
                            .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { CRM = true }); }); })
                            .AutoBind(true)
                            .HtmlAttributes(new { style = "width: 100%;" })
                        )
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-info" onclick="AddCRM();">Assign User</button>
                        </div>
                    </div>
                    <br />
                    @(Html.Kendo().Grid<SnapSuite.Models.UserViewModel>()
                        .Name("GridCRM")
                        .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                        .Columns(columns =>
                        {
                            //columns.Bound(u => u.FirstName).Title("First Name");
                            //columns.Bound(u => u.LastName).Title("Last Name");
                            columns.Bound(u => u.Email).Title("Email");
                            columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveCRM('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                                model.Field(t => t.ID).Editable(false);
                            })
                            //.Create(create => create.Action("Create", "UserRoles"))
                            .Read(read => read.Action("Read", "UserModules", new { CRM = true }))
                            //.Update(update => update.Action("Update", "UserRoles"))
                            //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                    )

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <label>Products</label>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("DD_UserProducts")
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .OptionLabel("  ")
                            .Filter("Contains")
                            .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { Products = true }); }); })
                            .AutoBind(true)
                            .HtmlAttributes(new { style = "width: 100%;" })
                        )
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-info" onclick="AddProducts();">Assign User</button>
                        </div>
                    </div>
                    <br />
                    @(Html.Kendo().Grid<SnapSuite.Models.UserViewModel>()
                        .Name("GridProducts")
                        .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                        .Columns(columns =>
                        {
                            //columns.Bound(u => u.FirstName).Title("First Name");
                            //columns.Bound(u => u.LastName).Title("Last Name");
                            columns.Bound(u => u.Email).Title("Email");
                            columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveProducts('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                                model.Field(t => t.ID).Editable(false);
                            })
                            //.Create(create => create.Action("Create", "UserRoles"))
                            .Read(read => read.Action("Read", "UserModules", new { Products = true }))
                            //.Update(update => update.Action("Update", "UserRoles"))
                            //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                    )

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <label>Quotations</label>
                </div>
                <div class="panel-body">
                    <div class="input-group">
                        @(Html.Kendo().DropDownList().Name("DD_UserQuotations")
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .OptionLabel("  ")
                            .Filter("Contains")
                            .DataSource(source => { source.Read(read => { read.Action("DropDownUsers", "UserModules", new { Quotations = true }); }); })
                            .AutoBind(true)
                            .HtmlAttributes(new { style = "width: 100%;" })
                        )
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-info" onclick="AddQuotations();">Assign User</button>
                        </div>
                    </div>
                    <br />
                    @(Html.Kendo().Grid<SnapSuite.Models.UserViewModel>()
                        .Name("GridQuotations")
                        .Pageable(p => p.PageSizes(new[] { 10 }).Messages(m => m.Display("{0} - {1} of {2} Users").Empty("No Users Assigned")))
                        .Columns(columns =>
                        {
                            //columns.Bound(u => u.FirstName).Title("First Name");
                            //columns.Bound(u => u.LastName).Title("Last Name");
                            columns.Bound(u => u.Email).Title("Email");
                            columns.Template(@<text></text>).ClientTemplate("<a href='\\#' onclick=\"RemoveQuotations('#=ID#'); return false;\"><span class='glyphicon glyphicon-remove glyphicon-btn'/></a>").Width("1%");
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Model(model =>
                            {
                                model.Id(t => t.ID);
                                model.Field(t => t.ID).Editable(false);
                            })
                            //.Create(create => create.Action("Create", "UserRoles"))
                            .Read(read => read.Action("Read", "UserModules", new { Quotations = true }))
                            //.Update(update => update.Action("Update", "UserRoles"))
                            //.Destroy(destroy => destroy.Action("Destroy", "UserRoles"))
                        )
                        .Events(events => events.DataBound("KendoGridDatabound"))
                    )

                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .row-equal [class="col-sm-4"]:nth-child(3n+1) {
        clear: left;
    }

    .row-equal [class="col-sm-6"]:nth-child(2n+1) {
        clear: left;
    }
</style>

<script>

    function Refresh() {
        $('[id*="Grid"]').each(function () {
            $(this).data('kendoGrid').dataSource.read();
        });


        $('[id*="DD_User"]').each(function () {
            $(this).data('kendoDropDownList').dataSource.read();
        });

    }

    function AddCRM() { var userId = $("#DD_UserCRM").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, true, false, false, false, false, false, false, false); }
    function AddProducts(userId) { var userId = $("#DD_UserProducts").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, false, true, false, false, false, false, false, false); }
    function AddQuotations(userId) { var userId = $("#DD_UserQuotations").data("kendoDropDownList").value(); AddRemoveUserModule(userId, true, false, false, true, false, false, false, false, false); }

    function RemoveCRM(userId) { AddRemoveUserModule(userId, false, true, false, false, false, false, false, false, false); }
    function RemoveProducts(userId) { AddRemoveUserModule(userId, false, false, true, false, false, false, false, false, false); }
    function RemoveQuotations(userId) { AddRemoveUserModule(userId, false, false, false, true, false, false, false, false, false); }

    function AddRemoveUserModule(userId, addRemove, crm, products, quotations, jobs, invoices, deliveryNotes, purchaseOrders, stockContol)
    {
        var url = (addRemove == true) ? '/UserModules/_AddUser' : '/UserModules/_RemoveUser';

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                userId: userId,
                CRM: crm,
                Products: products,
                Quotations: quotations,
                Jobs: jobs,
                Invoices: invoices,
                DeliveryNotes: deliveryNotes,
                PurchaseOrders: purchaseOrders,
                StockControl: stockContol,
            },
            dataType: "json",
            success: function (data) { Refresh(); },
        });
    }

</script>