﻿@using SnapSuite.Models
@{
    ViewBag.Title = "Email Management";
}
    
<div class="row">
    <div class="col-sm-12">
        <h1>Email Management</h1> 
        <h4 class="grey-text">Setup your business to allow Quikflw to send emails via SMTP.</h4>
    </div>

    <div class="col-sm-12">
        <hr />
    </div>

    <div class="col-sm-12">
        <a class="btn btn-info btn-sm" onclick="$('#GridEmails').data('kendoGrid').addRow(); return false;" style="margin-bottom:5px;"><span class="glyphicon glyphicon-comment"></span>&nbsp;New Email Account</a>
    </div>


    <div class="col-sm-12">
        @(Html.Kendo().Grid<CompanyEmailViewModel>()
            .Name("GridEmails")
            .Pageable(p => p.PageSizes(new[] { 50, 100, 200 }).Messages(m => m.Display("{0} - {1} of {2} Emails").Empty("No Email Accounts Found")))
            .Columns(columns =>
            {
                columns.Bound(u => u.User_email).Title("Email").EditorTemplateName("StringNoAutoComplete");
                columns.Bound(u => u.Host).Title("Host/Server");
                columns.Bound(u => u.Password).Title("Password").ClientTemplate("#: Password == null ? ' ' : '●'.repeat( Password.length) #").EditorTemplateName("Password");
                columns.Bound(u => u.Port).Title("Port");
                columns.Bound(u => u.EnableSSL).Title("Enable SSL").ClientTemplate("#if(EnableSSL){# <span class='glyphicon glyphicon-ok'></span> #}#").HtmlAttributes(new { style = "text-align:center;" }).Width("1%");
                columns.Bound(p => p.Default).Title("Default").ClientTemplate("#if(Default){#<span class='label label-default' title='Default Email Address'>Default</span>#}#").Width("1%");
                columns.Bound(p => p.SuccessfulTest).Title(" ").ClientTemplate("#if(ID == null || ID == ''){# #}else if(SuccessfulTest == true){#<button class='btn btn-success btn-xs' onclick='TestEmail(\"#=ID#\");' >Success</button>#} else {# <button class='btn btn-warning btn-xs' onclick='TestEmail(\"#=ID#\");'>Test Email</button> #}#").Width("1%");
                columns.Command(command =>
                {
                    command.Edit().Text("<span class='glyphicon glyphicon-edit glyphicon-btn' title='Edit' />").UpdateText("<span class='glyphicon glyphicon-ok glyphicon-btn' title='Ok' />").CancelText("<span class='glyphicon glyphicon-remove glyphicon-btn' title='Cancel' />");
                    command.Destroy().Text("<span class='glyphicon glyphicon-trash glyphicon-btn' title='Delete' />");
                }
                ).Width("90px");
            })
            .Sortable()
            .Editable(editable => editable.Mode(GridEditMode.InLine).ConfirmDelete("Are you sure you want to delete this email account?"))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Sort(sort => sort.Add("User_email")) // <-- initial sort expression
                .Model(model =>
                {
                    model.Id(t => t.ID);
                    model.Field(t => t.ID).Editable(false);
                    model.Field(t => t.CompanyID).Editable(false).DefaultValue(ViewBag.CompanyID);
                    model.Field(t => t.SuccessfulTest).Editable(false);
                })
                .Read(read => read.Action("Read", "CompanyEmails"))
                .Create(create => create.Action("Create", "CompanyEmails"))
                .Update(update => update.Action("Update", "CompanyEmails"))
                .Destroy(destroy => destroy.Action("Destroy", "CompanyEmails"))
            )
            .Events(events => events.DataBound("KendoGridDatabound"))
        )
    </div>
    <div class="col-sm-12">
        <hr />
        <label>Notes:</label>
        <p>When sending out emails Quikflw will automatically uses the correct email account that matches email address entered in the "From:" field. </p>
        <p>If no matching email address is found, then the default email account is used. </p>
    </div>
</div>


<script>

    $("#TB_EmailFilter").keyup(function (e) { SearchEmails(); });

    function SearchEmails() {
        var grid = $("#GridEmails").data("kendoGrid");
        grid.dataSource.read();
    }

    function TestEmail(id){
        $.ajax({
            url: '/CompanyEmails/_TestEmail',
            type: 'POST',
            data: { ID: id },
            dataType: "json",
            success: function (data) { alert(data);  SearchEmails(); },
            error: function (request, status, error) { alert(error); }
        });
    }
</script>

