﻿@using SnapSuite.Models
@model string

<script>
    function DD_TypeChanged(){
        $('#TemplateAttachment').data('kendoDropDownList').dataSource.read();
    }

</script>

@(Html.Kendo().DropDownListFor(m => m)
        //.DataValueField("Type")
        //.DataTextField("Name")
        .Events(e => e.Change("DD_TypeChanged"))
        .BindTo(new List<string>() { PreviewItemType.Template.ToString(), PreviewItemType.Attachment.ToString() })
)
