﻿@model SnapSuite.Models.ClientEventViewModel

<script>
    function ClientDD_ValueMapper(options) {
        $.ajax({
            url: "@Url.Action("DropDownClients_ValueMapper", "Clients")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function RebindContacts(e) {
        $('#Contact').data('kendoDropDownList').dataSource.read();
    }

</script>


<div id="Div_EventViewModel" class="form-table" style="margin:20px; margin-top:0">

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.CompanyID)
    @Html.HiddenFor(m => m.OpportunityID)
    <table style="width:100%">
        <tr>
            <td><label>Timestamp:</label></td>
            <td>
                @(Html.Kendo().DateTimePickerFor(m => m.Timestamp)
                    //.Format("HH:mm dd/MM/yyyy")
                    .HtmlAttributes(new { style = "width:100%;" })
                )
            </td>
        </tr>
        <tr>
            <td><label>Client:</label></td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m.Client)
                    .HtmlAttributes(new { style = "width:100%;" })    
                    .DataValueField("ID")
                    .DataTextField("Name")
                    .Filter(FilterType.Contains)
                    .DataSource(source =>
                    {
                        source.Custom()
                            .ServerFiltering(true)
                            .ServerPaging(true)
                            .PageSize(80)
                            .Type("aspnetmvc-ajax")
                            .Transport(transport => transport.Read("DropDownClients_Virtualised", "Clients"))
                            .Schema(schema => schema.Data("Data").Total("Total"));
                    })
                    .Virtual(v => v.ItemHeight(26).ValueMapper("ClientDD_ValueMapper"))
                    .Events(e => { e.Change("RebindContacts").DataBound("RebindContacts"); }) //Found in Index page.
                )
            </td>
        </tr>
        <tr>
            <td><label>Contact:</label></td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m.Contact)
                    .DataValueField("ID")
                    .DataTextField("Name")
                    .OptionLabel("  ")
                    .DataSource(source =>
                    {
                        source.Read(read => { read.Action("DropDownClientContacts", "ClientContacts", new { cltID = Model.Contact.ID }); });
                    })
                    .HtmlAttributes(new { style = "width:85%;" })
                    .AutoBind(true)
                    .Events(e => { e.DataBound("OnEventClientContactChange").Change("OnEventClientContactChange"); })
                    .Value(Model.Contact.ID.ToString())
                )
                <button type="button"  id="EventContactDetails" class="btn btn-sm btn-default" data-toggle="popover" data-placement="bottom" title="Contact Details" data-content="And here's some amazing content. It's very engaging. Right?"><i class="glyphicon glyphicon-info-sign"></i></button>
                <span style="display:none">
                    @Html.TextBoxFor(m => m.Contact.ID)
                </span>
            </td>
        </tr>
    </table>
    <br />
    <table style="width:100%">
        <tr>
            <td>
                <label>Message:</label>
                @Html.TextAreaFor(model => model.Message, 2, 100, new { @class = "form-control", @style = "max-width:none; width:100%;" })
            </td>
        </tr>
    </table>
    <br />
    <table style="width:100%">
        <tr>
            <td style="width:100px;"><label>Assigned User:</label></td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m.AssignedUser)
                    .DataValueField("ID")
                    .DataTextField("Email")
                    .OptionLabel("")
                    .DataSource(source =>
                    {
                        source.Read(read => { read.Action("DropDownEventUsers", "Dropdowns"); });
                    })
                    .HtmlAttributes(new { style = "width:100%;" })
                    .Value(ViewBag.UserID)
                    .AutoBind(true)
                )
            </td>
        </tr>

        <tr>
            <td><label>Creator:</label></td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m.Creator)
                    .DataValueField("ID")
                    .DataTextField("Email")
                    .DataSource(source =>
                    {
                        source.Read(read => { read.Action("DropDownUsers", "Dropdowns"); });
                    })
                    .OptionLabel("")
                    .HtmlAttributes(new { style = "width:100%;" })
                    .AutoBind(true)
                    .Enable(false)
                )
            </td>
        </tr>

    </table>
    <br />
    <div class="checkbox">
        @Html.CheckBoxFor(model => model.Complete)
        &nbsp;Mark Event Complete
    </div>

</div>





